<div class="container">
<div class="row">
<div class="col-md-4">
    <sidenav></sidenav>
</div>
<div class="article-size warna_font col-md-6" style="color: rgb(51, 51, 51);">
    <div class="row article-size warna_font font-size-s" style="font-family: Roboto; color: rgb(51, 51, 51);" >
        <br>
        <h4 class="font-size-m" style="font-family: Roboto;font-weight: bold">
            Mengenai Kami <button (click)="speak('Mengenai Kami','')">speak</button>
        </h4>
        <span class="article-size warna_font font-size-s article-highlight" style="text-align: justify; font-family: Roboto; color: rgb(51, 51, 51);">
					<div style="text-align: justify;">MyGovernment ialah satu gerbang tunggal bagi semua perkhidmatan dalam talian kerajaan yang berkonsepkan&nbsp;<em>life event</em>&nbsp;yang berpaksikan rakyat.</div>
                    <div style="text-align: justify;">Tujuan Gerbang Dalam Talian Kerajaan ini adalah untuk meningkatkan kualiti penyampaian perkhidmatan kerajaan bagi memenuhi perkara berikut :</div>
                    <div class="space10" style="text-align: justify;">&nbsp;</div>
                    <ol class="oList" style="text-align: justify;">
                        <li>Meningkatkan kepuasan pelanggan melalui inisiatif kerajaan untuk merakyatkan perkhidmatan awam.</li>
                        <li>Memenuhi keperluan rakyat dengan perkhidmatan kerajaan yang lebih telus, berdaya saing dan kompeten.</li>
                        <li>Meningkatkan aksesibiliti ke atas perkhidmatan dalam talian kerajaan dengan transformasi perkhidmatan alaf baru.</li>
                        <li>Meningkatkan sistem penyampaian perkhidmatan di persada global.</li>
                    </ol>			
		</span>
    </div>
</div>
<div class="col-md-2"></div>
</div>
</div>