<gosg-shared-loader *ngIf="loading"></gosg-shared-loader>
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container">
            <div class="row">
            <div class="col-md-12">
                <h1 style="margin-top: 10px;" class="font-size-l"> {{ 'home.menu.contact' | translate }}</h1>
                <hr class="hr-custom2"><br>
                <ul class="list-inline" style="clear:both;">
                    <li>
                        <a class="font-size-s" style="color: #fff;" routerLink="/">
                            {{'home.menu.home' | translate }}
                        </a>
                    </li>
                    <!-- <li>/</li>
                    <li>
                        {{'home.breadcrumb.register' | translate}}
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
        <div class="col-md-4 address">
            <h4 class="font-size-m" style="font-weight: bold;" [style.color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                {{ 'home.menu.contact' | translate }}
            </h4>
            <br>
            <!-- <p style="margin-left:0px">UNIT PEMODENAN TADBIRAN <br>DAN PERANCANGAN PENGURUSAN MALAYSIA</p>
            <p><span [style.background]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="glyphicon glyphicon-home primary"></span> Aras 6, Blok B2 <br>Kompleks Jabatan Perdana Menteri <br>
            Pusat Pentadbiran Kerajaan Persekutuan <br> 62502 Putrajaya Malaysia
            </p>
            <p><span [style.background]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="glyphicon glyphicon-home primary"></span> Bangunan MKN Embassy Techzone <br>
            Blok B, No. 3200 <br>
            Jalan Teknorat 2 <br>
            63000 Cyberjaya, Sepang <br>
            Selangor Darul Ehsan
            </p>
            <p><span [style.background]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="glyphicon glyphicon-map-marker primary"></span> 2.937855, 101.65420
            </p>
            <p><span [style.background]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="glyphicon glyphicon-phone-alt primary"></span> 603 8000 8000
            </p>
            <p><span [style.background]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="glyphicon glyphicon-print primary"></span> 603 8888 3721
            </p>
            <p><span [style.background]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="glyphicon glyphicon-envelope primary"></span> admin[at]mampu[dot]gov[dot]my
            </p> -->
            <div *ngFor="let eachitm of dataContact">
                <div *ngIf="eachitm.footerContentIcon">
                    <span [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" ngClass="fa fa-{{eachitm.footerContentIcon}} primary" style="width: 25px; height: 25px; border-radius: 25px; padding: 5px;"></span>
                    <p style="display: inline;" *ngIf="eachitm.enabled" [innerHtml]="eachitm.footerContentName"></p>
                </div>

                <p *ngIf="eachitm.enabled && !eachitm.footerContentIcon" [innerHtml]="eachitm.footerContentName"></p>
                <br>
            </div>
        </div>
        <div class="col-md-8">
            <!-- <div class="tabs-section">
                <div class="tab-content" id="tab-1">
                    <div class="map-responsive">
                        <iframe class="mapstyle" src="https://www.google.com/maps/d/u/0/embed?mid=1HCp_1z3uCoY6LbkzQxveYauOp8o"></iframe>
                        <div id="dirmap"></div>
                    </div>
                </div>
            </div> -->
            <div class="map-responsive mapstyle" id="dirmap"></div>
        </div>
    </div>
</div>

