<div class="container">
    <div class="row">
        <div class="col-md-4">
            <sidenav></sidenav>
        </div>
        <div class="article-size warna_font col-md-6" style="color: rgb(51, 51, 51);">
            <div class="row article-size warna_font font-size-s" style="font-family: Roboto; color: rgb(51, 51, 51);">
                <br>
                <h4 class="font-size-m" style="font-family: Roboto;font-weight: bold">
                    Akta Perlindungan Data Peribadi
                </h4>
                <span class="article-size warna_font font-size-s article-highlight" style="text-align: justify; font-family: Roboto; color: rgb(51, 51, 51);">					
				<p><span>Jabatan Perlindungan Data Peribadi (JPDP) merupakan agensi di bawah Kementerian&nbsp;</span><span>Komunikasi dan Multimedia Malaysia (KKMM) yang ditubuhkan pada 16 Mei 2011 selepas&nbsp;</span><span>Parlimen meluluskan Rang Undang-undang berkaitan Akta Perlindungan Data Peribadi 2010&nbsp;</span><span>(APDP) iaitu Akta 709.</span></p>
                <p><span>Tanggungjawab utama Jabatan ini ialah untuk mengawalselia pemprosesan data peribadi&nbsp;</span><span>individu yang terlibat dalam urus niaga komersial oleh Pengguna Data supaya tidak&nbsp;</span><span>disalahguna dan disalahpakai oleh pihak-pihak yang berkepentingan.</span></p>
                <p><span>Keselamatan data peribadi pengguna perlu dilindungi bagi mencegah sebarang bentuk&nbsp;</span><span>penyalahgunaan terhadap penyimpanan atau pemprosesan data peribadi individu, awam&nbsp;</span><span>dan swasta di Malaysia secara transaksi komersial adalah termaktub di bawah APDP ini.</span></p>
                <p><span>Dalam menguatkuasakan APDP, JPDP telah mensyaratkan kepada semua Golongan Pengguna&nbsp;</span><span>Data Peribadi yang terdiri daripada pihak individu mahupun swasta kecuali Kerajaan untuk&nbsp;</span><span>berdaftar secara rasmi bagi tujuan melindungi hak-hak pengguna dan awam.</span></p>
                <p><span>JPDP diketuai oleh Ketua Pengarah dengan dibantu oleh seorang Timbalan Ketua Pengarah.&nbsp;</span><span>Manakala, terdapat tiga bahagian utama di JPDP iaitu Bahagian Pendaftaran dan Operasi,&nbsp;</span><span>Bahagian Pemantauan dan Bahagian Perundangan.</span></p>
                <p>&nbsp;</p>
                <p>Sila layari laman ini<br><a href="http://www.pdp.gov.my/index.php/my/" target="_blank">http://www.pdp.gov.my/index.php/my/</a></p>
                </span>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>