<div class="row">
    <div class="col-md-3"></div>
    <div class="article-size warna_font col-md-6" style="color: rgb(51, 51, 51);">
        <div class="row article-size warna_font font-size-s" style="font-family: Roboto; color: rgb(51, 51, 51);font-size:14px">
            <br>
            <h4 class="font-size-m" style="font-family: Roboto;font-weight: bold">
                Soalan Lazim
            </h4>
            <!--p *ngFor="let item of faqList">{{item}}</p>
            <p *ngFor="let item of faqAnswer">{{item}}</p>
            <br-->
            <span class="article-size warna_font font-size-s article-highlight" style="text-align: justify; font-family: Roboto; color: rgb(51, 51, 51);">
                <p><strong>1. Apakah Gerbang Rasmi Kerajaan Malaysia MyGovernment?</strong></p>
                <p><span>Gerbang Rasmi Kerajaan Malaysia MyGovernment ialah satu gerbang tunggal bagi semua maklumat perkhidmatan dalam talian kerajaan yang berkonsepkan&nbsp;</span><em>life event</em><span>&nbsp;yang berpaksikan rakyat.</span></p>
            <br>
            <p><strong>2. Apakah tujuan gerbang ini disediakan?</strong></p>
            <p>Tujuan Gerbang Dalam Talian Kerajaan ini adalah untuk meningkatkan kualiti penyampaian perkhidmatan kerajaan
                bagi memenuhi perkara berikut :</p>
            <ol>
                <li>Meningkatkan kepuasan pelanggan melalui inisiatif kerajaan untuk merakyatkan perkhidmatan awam.</li>
                <li>Memenuhi keperluan rakyat dengan perkhidmatan kerajaan yang lebih telus, berdaya saing dan kompeten.</li>
                <li>Meningkatkan aksesibiliti ke atas perkhidmatan dalam talian kerajaan dengan transformasi perkhidmatan alaf
                    baru.</li>
                <li>Meningkatkan sistem penyampaian perkhidmatan di persada global.</li>
            </ol>
            <br>
            <p><strong>3. Bagaimanakah sekiranya saya ingin menggunakan perkhidmatan dalam talian?</strong></p>
            <p><span>Anda perlu menjadi pengguna berdaftar terlebih dahulu. Untuk mendaftar anda perlu klik pada pautan Daftar dan buat pilihan antara warganegara dan bukan warganegara. Seterusnya isikan maklumat perihal diri anda dan klik butang Hantar.</span></p>
            <br>
            <p><strong>4. Bagaimanakah saya boleh mengetahui sekiranya pendaftaran berjaya dan akaun saya telah aktif?</strong></p>
            <ol>
                <li>Anda akan menerima notifikasi “Permohonan pendaftaran anda telah berjaya” selepas menghantar permohonan;</li>
                <li>Anda akan menerima emel pengaktifan; &nbsp;</li>
                <li>Semak emel dan klik pautan yang dihantar untuk mengaktifkan akaun;</li>
                <li>Skrin pengaktifan akaun akan dipaparkan;</li>
                <li>Masukkan alamat emel atau No. Kad Pengenalan/Pasport dan juga kata laluan yang telah didaftarkan;</li>
                <li>Kemudian, klik pada butang ‘Log Masuk’.</li>
            </ol>
            <br>
            <p><strong>5. Sekiranya saya terlupa kata laluan, apakah yang harus saya lakukan?</strong></p>
            <p>1. Klik pautan ‘Gagal Akses Akaun?’pada skrin Log Masuk;<br>2. Klik pada ikon Kata Laluan;&nbsp;<br>3. Masukkan
                Emel yang berdaftar dengan Gerbang Rasmi Kerajaan Malaysia MyGovernment;<br>4. Masukkan teks pengesahan yang
                dipamerkan; dan
                <br>5. Klik [<strong>SET SEMULA</strong>] untuk set semula kata laluan.</p>
            <br>
            <p><strong>6. Apakah jenis pelayar yang boleh digunakan untuk melayari Gerbang Rasmi Kerajaan Malaysia MyGovernment?</strong></p>
            <p>Gerbang Rasmi Kerajaan Malaysia MyGovernment disokong oleh pelayar sesawang&nbsp;Google Chrome Versi 57.0 dan
                Mozilla Firefox Versi 53.0 ke atas.</p>
            <br>
            <p><strong>7. Adakah saya boleh melayari Gerbang Rasmi Kerajaan Malaysia MyGovernment menggunakan telefon bimbit?</strong></p>
            <p>Ya, anda boleh melayari Gerbang Rasmi Kerajaan Malaysia MyGovernmentversi mudah alih menerusi telefon pintar
                atau&nbsp;tablet dengan hanya dengan klik pada ikon . Kemudian, imbas kod QR yang disediakan untuk melayari
                Gerbang Rasmi Kerajaan Malaysia MyGovernment dalam versi mudah alih. &nbsp;</p>
            <br>
            <p><strong>8. Adakah saya boleh menukar bahasa yang digunakan di Gerbang Rasmi Kerajaan Malaysia MyGovernment?</strong></p>
            <p>Ya, Gerbang Rasmi Kerajaan Malaysia MyGovernment menyediakan dua pilihan bahasa iaitu Bahasa Malaysia dan Bahasa
                Inggeris.
            </p>
            <br>
            <p><strong>9. Di manakah saya boleh menghantar sebarang maklum balas terhadap Gerbang Rasmi Kerajaan Malaysia MyGovernment?</strong></p>
            <p>Sebarang aduan, pertanyaan, cadangan dan apa jua jenis soalan boleh disalurkan di pautan Aduan dan Pertanyaan.
                Pautan Aduan dan Pertanyaan terletak di ruangan bawah pada laman utama. Lengkapkan borang maklum balas dan
                pastikan ruangan mandatori (*) diisi. Seterusnya klik butang ‘Hantar'. Aduan dan Pertanyaan akan dibalas
                dalam masa tiga (3) hari bekerja.</p>
            <br>
            <p><strong>10. Apakah faedah dan keistimewaan pengguna berdaftar?</strong></p>
            <p>Hanya pengguna berdaftar sahaja boleh menggunakan aplikasi dalam talian yang telah disediakan di Gerbang Rasmi
                Kerajaan Malaysia MyGovernment.</p>
            <br>
            <p><strong>11. Apakah yang terkandung di pautan ‘Topik’?</strong></p>
            <p>‘Topik’ memaparkan informasi serta perkhidmatan dalam talian mengikut topik-topik terkini di Malaysia. Anda hanya
                perlu klik pada pautan tersebut untuk mendapatkan informasi dan menggunakan perkhidmatan dalam talian yang
                disediakan.</p>
            <br>
            <p><strong>12. Apakah yang terkandung di pautan ‘MyInfo’?</strong></p>
            <p>Pautan ‘MyInfo’ memaparkan maklumat-maklumat berkaitan dengan Kerajaan Malaysia khasnya iaitu Yang Di-Pertuan
                Agong, Perdana Menteri Malaysia, Kerajaan Malaysia, Kabinet Malaysia dan Maklumat Malaysia.</p>
            <br>
            <p><strong>13. Apakah yang terkandung di pautan ‘MyInisiatif’?</strong></p>
            <p>Pautan ‘MyInisiatif’ mengandungi maklumat-maklumat berkaitan inisiatif yang telah dilaksanakan oleh Kerajaan
                Malaysia bagi mentransformasi perkhidmatan awam yang berpaksikan rakyat untuk meningkatkan produktiviti,
                kecekapan dan keberkesanan sistem penyampaian perkhidmatan Kerajaan. &nbsp;MyInisiatif meliputi&nbsp; 5&nbsp;<em>thematic area</em>&nbsp;iaitu
                ‘Whole Of Government’, &nbsp;<a href="../../../../../public/cms/topic/36/">Data Terbuka Kerajaan,&nbsp;</a>&nbsp;e-Penyertaan,&nbsp;
                <a href="../../../../../public/cms/topic/69/">Pelbagai saluran Perkhidmatan Penghantaran dan Mengembangkan penggunaan&nbsp;</a>&nbsp;dan&nbsp;
                <a href="../../../../../public/cms/topic/70/">Merapatkan Jurang Digital &amp; Memberi Tumpuan Kepada Golongan Rentan</a>.</p>
            <br>
            <p><strong>14. Bagaimana saya ingin menghubungi sekiranya saya mempunyai sebarang masalah?</strong></p>
            <p>Anda boleh menghubungi pusat panggilan setempat 1Malaysia One Call Centre (1MOCC) di talian 03-8000 8000.</p>
            <br>
            </span>
        </div>
    </div>
    <div class="col-md-3"></div>

</div>
