<div class="container">
    <div class="row">
        <div class="col-md-4">
            <sidenav></sidenav>
        </div>
        <div class="article-size warna_font col-md-6" style="color: rgb(51, 51, 51);">
            <div class="row article-size warna_font font-size-s" style="font-family: Roboto; color: rgb(51, 51, 51);">
                <br>
                <h4 class="font-size-m" style="font-family: Roboto;font-weight:bold">
                    Manual Pengguna
                </h4>
                <span class="article-size warna_font font-size-s article-highlight" style="text-align: justify; font-family: Roboto; color: rgb(51, 51, 51);">			
		<p>Manual pengguna ini bertujuan memberikan bantuan kepada pengguna untuk menggunakan Gerbang Rasmi Kerajaan Malaysia ini</p>
            <ol type="i">
            <li><a href="https://www.malaysia.gov.my/public/static/uploads/user_manual/Manual%20Pengguna%20-%20Portal%20MyGovernment.pdf" target="_blank">Manual Pengguna - Portal MyGovernment</a></li>
            <li><a href="https://www.malaysia.gov.my/public/static/uploads/user_manual/Manual%20Pengguna%20-%20Pengurusan%20Akaun%20Pengguna.pdf" target="_blank">Manual Pengguna - Pengurusan Akaun Pengguna</a></li>
            <li><a href="https://www.malaysia.gov.my/public/static/media/documents/Manual_Pengguna__Agensi_KPDNKK_QR3U20Q.pdf" target="_blank">Manual Pengguna - Agensi (KPDNKK)</a></li>
            <li><a href="https://www.malaysia.gov.my/public/static/uploads/user_manual/Manual%20Pengguna%20%E2%80%93%20Agensi%20(PERHILITAN).pdf" target="_blank">Manual Pengguna - Agensi (PERHILITAN)</a></li>
            </ol>
		</span>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>