
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container" *ngFor="let article of articleService.articles">
     <div class="row">
        <div class="col-md-12">
            <h1 style="margin-top: 10px;" class="font-size-l">{{article.categoryName}}</h1>
            <hr class="hr-custom2">
            <ul class="list-inline" style="clear:both;">
                <li>
                    <a class="font-size-s" routerLink="/">
                        {{'home.menu.home' | translate }}
                    </a>
                </li>
                <li>/</li>
                <li>
                    <div *ngFor="let article of articleService.articles">
                     <div *ngFor="let breadCrum of article.breadcrum; let i = index; let lastItem = last" style="display: inline;">
                       <a href="" [routerLink]="['/'+getModule(breadCrum.breadcrumUrl), getID(breadCrum.breadcrumUrl)]">{{breadCrum.breadcrumName}}</a>
                       <span>{{lastItem ? '' : '&nbsp;/&nbsp;'}}</span>
                     </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>

<div style="margin-top:10px;" class="container" *ngFor="let article of articleService.articles">

    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-md-12 sideBarMenu">
                    <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font">
                        {{article.categoryName}}
                    </h4>

                    <!-- <div *ngFor="let contentMain of article.menuLeft;"> -->
                        <mat-accordion>
                          <!-- <div *ngIf="contentMain.subMenuLeft.length !=0"> -->

                              <mat-expansion-panel  *ngFor="let content of article.menuLeft; let i = index" multi="false" displayMode="flat" [hideToggle]="content.subMenuLeft.length==0 ? true: null"    [expanded]="content?.activeMenu">
                                  <mat-expansion-panel-header>
                                    <mat-panel-title  (click)="clickSideMenu(content, i)">
                                      <a class="warna_font sideBarMenu--link font-size-s" [routerLinkActive]="['active']"  [style.font-weight]="content.activeMenu ? 'bold' : 'normal'"  [style.color]="content.activeMenu ? getTheme() : '#333'" >{{content.categoryName}}</a>
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <div *ngFor="let subcontent of content.subMenuLeft" class="submenu" >
                                    <div  (click)="clickContentFromMenu(content.parentCode, subcontent.contentCode, i)">
                                      <a class="warna_font sideBarMenu--link font-size-s"  #subContent [style.font-weight]="subcontent.activeMenu ? 'bold' : 'normal'"  [style.color]="subcontent.activeMenu ? getTheme() : '#333'">
                                        {{subcontent.contentTitle}}
                                      </a>
                                    </div>
                                  </div>
                              </mat-expansion-panel>

                            <!-- </div> -->

                              <!-- <div *ngIf="contentMain.subMenuLeft.length ==0">
                                  <mat-expansion-panel hideToggle="true" *ngFor="let content of article.menuLeft; let i = index"  multi="true" displayMode="flat">
                                      <mat-expansion-panel-header (click)="clickSideMenu(content)">
                                        <mat-panel-title>
                                          <a class="warna_font sideBarMenu--link font-size-s" [routerLinkActive]="['active']"  [style.font-weight]="content.activeMenu ? 'bold' : 'normal'"  [style.color]="content.activeMenu ? getTheme() : '#333'" >{{content.categoryName}}</a>
                                        </mat-panel-title>
                                      </mat-expansion-panel-header>
                                  </mat-expansion-panel>
                              </div> -->
                              <mat-expansion-panel hideToggle="true" *ngIf="article.template === 'publication'" multi="true" displayMode="flat">
                                  <mat-expansion-panel-header>
                                    <mat-panel-title  (click)="clickSideMenuByAgency(content, i)">
                                      <a class="warna_font sideBarMenu--link font-size-s"  [style.font-weight]="agencyActive ? 'bold' : 'normal'"  [style.color]="agencyActive ? getTheme() : '#333'" [routerLinkActive]="['active']">{{'common.byagency' | translate}}</a>
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
                                </mat-expansion-panel>

                          </mat-accordion>

                    <!-- </div> -->
                </div>
            </div>
        </div>

        <div *ngIf="article.template === 'publication' || article.template === 'eparticipation'">
          <div  *ngIf="!article.contentList">
              <div class="col-sm-6" *ngFor="let rightContent of article.subCategoryList;">
                  <mat-tab-group>
                    <mat-tab *ngFor="let tab of rightContent.contentList" label="{{tab.tab}}">
                      <div style="height:20px;"></div>
                      <div *ngFor="let tabContent of tab.contents; let index=index; let odd=odd; let even=even;">
                          <div class="col-sm-6">
                            <div>
                              <div style="width:100%; margin-right:10px; height:auto;">
                                  <a class="intro-box warna_border_color" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" href="" (click)="clickContentFromMenu(article.categoryCode, tabContent.contentCode)">
                                      <h4 class="font-size-m warna_font">
                                          {{tabContent.contentTitle}}
                                      </h4>
                                      <span class="warna_font article-size font-size-s" [innerHTML]="tabContent.contentDescription"></span>
                                      <div class="font-size-s" style="text-align: right;"><i class="fa fa-caret-right"></i> {{'home.readmore' | translate }}</div>
                                  </a>
                              </div>
                            </div>
                          </div>

                          <div *ngIf="odd" class="clearfix"></div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>

              </div>
          </div>
          <div *ngIf="article.contentList">
              <div class="col-sm-6" *ngFor="let rightContent of article.contentList;">
                  <div class="row">
                      <div class="col-md-12 warna_font">
                          <div  *ngFor="let agencyLst of rightContent.agencyList; let index=index; let odd=odd; let even=even;">
                              <div class="col-sm-6">
                                  <div>
                                    <div style="width:100%; margin-right:10px; height:auto;">
                                        <a class="intro-box warna_border_color" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" [href]="agencyLst.agencyPublicationUrl" target="_blank">
                                            <h4 class="font-size-m warna_font">
                                                {{agencyLst.agencyName}}
                                            </h4>
                                        </a>
                                    </div>
                                  </div>
                                </div>

                                <div *ngIf="odd" class="clearfix"></div>
                            </div>
                      </div>
                  </div>
                </div>
          </div>

        </div>
        <div *ngIf="article.template === 'content' || article.template === 'lifeevent'">
          <div class="col-sm-6" *ngFor="let rightContent of article.subCategoryList;">

            <div class="row">
                <div class="col-md-12 warna_font">



                    <div *ngIf="!article.content" class="row padding-top-xl">
                      <div *ngIf="article.image">
                        <div>
                            <img [src]="config.externalMediaURL + '/images/'+ article.image.mediaFile" style="width:100%;">
                            <div style="position:absolute; width:auto;">
                                <h2 class="topic_bg_title font-size-l">
                                    <span style="padding-left:10px;">
                                        {{rightContent.categoryName}}
                                    </span>
                                </h2>
                            </div>
                            <span class="font-size-s defaultColor" [innerHTML]="article.categoryDescription"></span>
                        </div>
                    </div>

                    <div class="col-md-12" *ngIf="!article.image">
                        <div>
                            <h2 class="titleWObg font-size-l">
                                {{rightContent.categoryName}}
                            </h2>
                        </div>
                    </div>


                    <div  *ngFor="let rightContent2 of rightContent.contents; let index=index; let odd=odd; let even=even;">
                      <div class="col-sm-6">
                          <div>
                            <div style="width:100%; margin-right:10px; height:auto;">
                                <a class="intro-box warna_border_color" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" href="" (click)="clickContentFromMenu(article.categoryCode, rightContent2.contentCode)">
                                    <h4 class="font-size-m warna_font">
                                        {{rightContent2.contentTitle}}
                                    </h4>
                                    <span class="warna_font article-size font-size-s" [innerHTML]="rightContent2.contentDescription"></span>
                                    <div class="font-size-s" style="text-align: right;"><i class="fa fa-caret-right"></i> {{'home.readmore' | translate }}</div>
                                </a>
                            </div>
                          </div>
                        </div>

                        <div *ngIf="odd" class="clearfix"></div>
                    </div>

                    </div>

                    <div *ngIf="article.content">
                      <div>
                        <div *ngIf="article.image">
                            <div>
                                <img [src]="config.externalMediaURL + '/images/'+ article.image.mediaFile" style="width:100%;">
                                <div style="position:absolute; width:auto;">
                                    <h2 class="topic_bg_title font-size-l">
                                        <span style="padding-left:10px;">
                                            {{article.content.contentTitle}}
                                        </span>
                                    </h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" *ngIf="!article.image">
                          <h2 class="titleWObg font-size-l">
                              {{article.content.contentTitle}}
                          </h2>
                        </div>

                        <div class="padding-top-xl">
                          <div class="defaultColor" [innerHTML]="article.content?.contentText"></div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="article.template === 'lifeevent'" class="col-sm-3">
          <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font">{{'common.onlineservice' | translate }}</h4>
          <ul class="rightMenu" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
            <li *ngFor="let rightContent of article.menuRight;">
              <a [href]="rightContent.agencyApplicationUrl" target="_blank">{{rightContent.agencyApplicationName}}</a>
            </li>
          </ul>
        </div>
        </div>




    </div>

</div>

