
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container" *ngFor="let article of articleService.articles">
     <div class="row">
        <div class="col-md-12">
            <h1 style="margin-top: 10px;" class="font-size-l">{{article.categoryName}}</h1>
            <hr class="hr-custom2">
            <ul class="list-inline" style="clear:both;">
                <li>
                    <a class="font-size-s" routerLink="/">
                        {{'home.menu.home' | translate }}
                    </a>
                </li>
                <li>/</li>
                <li>
                    <div *ngFor="let article of articleService.articles">
                     <div *ngFor="let breadCrum of article.breadcrum; let i = index; let lastItem = last" style="display: inline;">
                       <a href="" [routerLink]="['/'+getModule(breadCrum.breadcrumUrl), getID(breadCrum.breadcrumUrl)]">{{breadCrum.breadcrumName}}</a>
                       <span>{{lastItem ? '' : '&nbsp;/&nbsp;'}}</span>
                     </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>

<div style="margin-top:10px;" class="container" *ngFor="let article of articleService.articles">
  <div *ngIf="article.template === 'lifeevent'" class="row">
    <div class="scrollmenu">
      <div *ngFor="let menuT of article.menuTop; let index = index;" (click)="clickTopMenu(menuT)">
        <div style="display: block;"><img [src]="config.externalMediaURL + '/images/'+ menuT.image?.mediaFile" width="40"></div>
        <div style="display: inline;">{{menuT.categoryName}}</div>
        <div *ngIf="menuT.activeMenu" class="activeBar"></div>

      </div>
    </div>
  </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-md-12 sideBarMenu">
                    <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font">
                        {{article.categoryName}}
                    </h4>

                    <mat-accordion>
                        <gosg-leftmenu [sessions]="article.menuLeft"  [menuType]="moduleName" [templateName]="article.template"></gosg-leftmenu>
                      </mat-accordion>

                </div>
            </div>
        </div>

        <div *ngIf="article.template === 'publication' || article.template === 'eparticipation'">
          <div  *ngIf="article.contentList">
              <div class="col-sm-6">
                  <mat-tab-group>
                    <mat-tab  *ngFor="let rightContent of article.contentList;" label="{{rightContent.tab}}">
                      <div style="height:20px;"></div>

                          <div class="col-sm-6" *ngFor="let tabContent of rightContent.contents; let index=index; let odd=odd; let even=even;">
                            <div>
                              <div style="width:100%; margin-right:10px; height:auto;" class="pointer" (click)="clickContentFromMenu(article.categoryCode, tabContent.contentCode, $event)">
                                  <a class="intro-box warna_border_color" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                                      <h4 class="font-size-m warna_font">
                                          {{tabContent.contentTitle}}
                                      </h4>
                                      <span class="warna_font article-size font-size-s" [innerHTML]="tabContent.contentDescription"></span>
                                      <div class="font-size-s" style="text-align: right;"><i class="fa fa-caret-right"></i> {{'home.readmore' | translate }}</div>
                                  </a>
                              </div>
                            </div>
                          </div>

                          <div *ngIf="odd" class="clearfix"></div>

                    </mat-tab>
                  </mat-tab-group>
              </div>
          </div>
          <div *ngIf="!article.contentList">
              <div class="col-sm-6" *ngFor="let rightContent of article.subCategoryList;">
                  <div class="row">
                      <div class="col-md-12 warna_font">
                          <div  *ngFor="let agencyLst of rightContent.agencyList; let index=index; let odd=odd; let even=even;">
                              <div class="col-sm-6">
                                  <div>
                                    <div style="width:100%; margin-right:10px; height:auto;">
                                        <a class="intro-box warna_border_color" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" [href]="agencyLst.agencyPublicationUrl" target="_blank">
                                            <h4 class="font-size-m warna_font">
                                                {{agencyLst.agencyName}}
                                            </h4>
                                        </a>
                                    </div>
                                  </div>
                                </div>

                                <div *ngIf="odd" class="clearfix"></div>
                            </div>
                      </div>
                  </div>
                </div>
          </div>

        </div>
        <div *ngIf="article.template === 'content'">
          <div class="col-sm-6">

              <div class="row">
                  <div class="col-md-12 warna_font">
                      <div *ngIf="!article.content" class="row padding-top-xl">
                          <div class="col-sm-12">
                              <div *ngIf="article.image">
                                  <div>
                                      <img [src]="config.externalMediaURL + '/images/'+ article.image.mediaFile" style="width:100%;">
                                      <div style="position:absolute; width:auto;">
                                          <h2 class="topic_bg_title font-size-l">
                                              <span style="padding-left:10px;">
                                                  {{article.categoryName}}
                                              </span>
                                          </h2>
                                      </div>
                                  </div>
                              </div>

                              <div *ngIf="!article.image">
                                  <div>
                                      <h2 class="titleWObg font-size-l">
                                          {{article.categoryName}}
                                      </h2>
                                  </div>
                              </div>

                              <span class="font-size-s defaultColor content_description" [innerHTML]="article.categoryDescription"></span>
                          </div>
                          <div *ngFor="let rightContent of article.subCategoryList; let index=index; let odd=odd; let even=even;">
                              <div class="col-sm-6">
                                  <div>
                                      <div style="width:100%; margin-right:10px; height:auto;" class="pointer" (click)="clickSideMenu(rightContent, '', $event)">


                                          <a class="intro-box warna_border_color" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                                              <h4 class="font-size-m warna_font">
                                                  {{rightContent.categoryName}}
                                              </h4>
                                              <span class="warna_font article-size font-size-s" [innerHTML]="rightContent.categoryDescription"></span>
                                              <div class="font-size-s" style="text-align: right;">
                                                  <i class="fa fa-caret-right"></i> {{'home.readmore' | translate }}</div>
                                          </a>
                                      </div>
                                  </div>
                              </div>

                              <div *ngIf="odd" class="clearfix"></div>
                          </div>
                      </div>


                      <div *ngIf="article.contentList"  class="row">
                          <div *ngFor="let rightContent of article.contentList; let index=index; let odd=odd; let even=even;">
                            <div class="col-sm-6">
                                <div>
                                    <div style="width:100%; margin-right:10px; height:auto;" class="pointer"  (click)="clickContentFromMenu(article.categoryCode, rightContent.contentCode, $event)">


                                        <a class="intro-box warna_border_color" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                                            <h4 class="font-size-m warna_font">
                                                {{rightContent.contentTitle}}
                                            </h4>
                                            <span class="warna_font article-size font-size-s" [innerHTML]="rightContent.contentDescription"></span>
                                            <div class="font-size-s" style="text-align: right;">
                                                <i class="fa fa-caret-right"></i> {{'home.readmore' | translate }}</div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="odd" class="clearfix"></div>
                        </div>
                      </div>

                      <div *ngIf="article.content">
                          <div>
                              <div *ngIf="article.image">
                                  <div>
                                      <img [src]="config.externalMediaURL + '/images/'+ article.image.mediaFile" style="width:100%;">
                                      <div style="position:absolute; width:auto;">
                                          <h2 class="topic_bg_title font-size-l">
                                              <span style="padding-left:10px;">
                                                  {{article.content.contentTitle}}
                                              </span>
                                          </h2>
                                      </div>
                                  </div>
                              </div>

                              <div *ngIf="!article.image">
                                  <h2 class="titleWObg font-size-l">
                                      {{article.content.contentTitle}}
                                  </h2>
                              </div>

                              <div class="padding-top-xl">
                                  <div class="defaultColor" [innerHTML]="article.content?.contentText"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div *ngIf="article.template === 'lifeevent'" class="col-sm-3">
              <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font">{{'common.onlineservice' | translate }}</h4>
              <ul class="rightMenu" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                  <li *ngFor="let rightContent of article.menuRight;">
                      <a [href]="rightContent.agencyApplicationUrl" (click)="appTracking(rightContent.agencyApplicationCode)" target="_blank">{{rightContent.agencyApplicationName}}</a>
                  </li>
              </ul>
          </div>

      </div>

      <div *ngIf="article.template === 'lifeevent'">
          <div class="col-sm-6">

              <div class="row">
                  <div class="col-md-12 warna_font">
                      <div *ngIf="!article.content" class="row padding-top-xl">
                          <div class="col-sm-12">
                              <div>
                                  <div>
                                      <h2 class="titleWObg font-size-l">
                                          {{article.categoryName}}
                                      </h2>
                                  </div>
                              </div>

                              <span class="font-size-s defaultColor content_description" [innerHTML]="article.categoryDescription"></span>
                          </div>
                          <div *ngFor="let rightContent of article.subCategoryList; let index=index; let odd=odd; let even=even;">
                              <div class="col-sm-6">
                                  <div>
                                      <div style="width:100%; margin-right:10px; height:auto;" class="pointer" (click)="clickSideMenu(rightContent, '', $event)">


                                          <a class="intro-box warna_border_color" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                                              <h4 class="font-size-m warna_font">
                                                  {{rightContent.categoryName}}
                                              </h4>
                                              <span class="warna_font article-size font-size-s" [innerHTML]="rightContent.categoryDescription"></span>
                                              <div class="font-size-s" style="text-align: right;">
                                                  <i class="fa fa-caret-right"></i> {{'home.readmore' | translate }}</div>
                                          </a>
                                      </div>
                                  </div>
                              </div>

                              <div *ngIf="odd" class="clearfix"></div>
                          </div>
                      </div>

                      <div *ngIf="article.contentList" class="row col-sm-12" style="padding-top: 20px;">

                          <mat-tab-group>
                            <mat-tab *ngFor="let rightContent of article.contentList; let index=index; let odd=odd; let even=even;">
                              <ng-template mat-tab-label>
                                <div>
                                  <span style="display:block; margin: 0 auto; width:20px; height: 20px; border-radius: 20px; font-weight:bold; border: 1px solid #de476e;" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">{{index + 1  }}</span>
                                  <span>{{rightContent.contentTitle}}</span>
                                </div>
                              </ng-template>
                              <div style="color: #000; padding-top: 15px;" class="warna_font article-size font-size-s" [innerHTML]="rightContent.contentText"></div>>
                            </mat-tab>
                          </mat-tab-group>

                    </div>

                      <div *ngIf="article.content">
                          <div>
                              <div *ngIf="article.image">
                                  <div>
                                      <img [src]="config.externalMediaURL + '/images/'+ article.image.mediaFile" style="width:100%;">
                                      <div style="position:absolute; width:auto;">
                                          <h2 class="topic_bg_title font-size-l">
                                              <span style="padding-left:10px;">
                                                  {{article.content.contentTitle}}
                                              </span>
                                          </h2>
                                      </div>
                                  </div>
                              </div>

                              <div *ngIf="!article.image">
                                  <h2 class="titleWObg font-size-l">
                                      {{article.content.contentTitle}}
                                  </h2>
                              </div>

                              <div class="padding-top-xl">
                                  <div class="defaultColor" [innerHTML]="article.content?.contentText"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div *ngIf="article.template === 'lifeevent'" class="col-sm-3">
              <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font">{{'common.onlineservice' | translate }}</h4>
              <ul class="rightMenu" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                  <li *ngFor="let rightContent of article.menuRight;">
                      <a [href]="rightContent.agencyApplicationUrl" (click)="appTracking(rightContent.agencyApplicationCode)" target="_blank">{{rightContent.agencyApplicationName}}</a>
                  </li>
              </ul>
          </div>

      </div>




    </div>

</div>

