<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container" *ngFor="let article of articleService.articles">
     <div class="row">
        <div class="col-md-12">
            <h1 style="margin-top: 10px;" class="font-size-l">{{article.categoryName}}</h1>
            <hr class="hr-custom2">
            <ul class="list-inline" style="clear:both;">
                <li>
                    <a class="font-size-s" routerLink="/index">
                        {{'home.menu.home' | translate }}
                    </a>
                </li>
                <li>/</li>
                <li>
                    <div *ngFor="let article of articleService.articles">
                     <div *ngFor="let breadCrum of article.breadcrum; let i = index; let lastItem = last" style="display: inline;">
                       <a href="" (click)="breadcrumLink(breadCrum.breadcrumUrl, breadCrum.breadcrumUrl, $event)">{{breadCrum.breadcrumName}}</a>
                       <span>{{lastItem ? '' : '&nbsp;/&nbsp;'}}</span>
                     </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>

<div style="margin-top:10px; min-height:500px;" class="container" *ngFor="let article of articleService.articles">
  <div *ngIf="article.template === 'lifeevent'" class="row">
      <div class="scrollmenu">
        <div *ngFor="let menuT of article.menuTop; let index = index;" (click)="clickTopMenu(menuT)" >
          <div style="display: block;"><img [src]="config.externalMediaURL + '/images/'+ menuT.image?.mediaFile" height="50"><span style="display: block; font-size: 12px;" [innerHTML]="menuT.categoryName"></span></div>
          <!-- <div style="display: inline;">{{menuT.categoryName}}</div> -->
          <div *ngIf="menuT.activeMenu" class="activeBar" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'"></div>

        </div>
      </div>
  </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-md-12 sideBarMenu">
                    <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font">
                        {{article.categoryName}}
                    </h4>

                    <mat-accordion>
                        <gosg-leftmenu [sessions]="article.menuLeft"  [menuType]="moduleName" [templateName]="article.template"></gosg-leftmenu>
                      </mat-accordion>

                </div>
            </div>
        </div>

        <div *ngIf="article.template === 'publication' || article.template === 'eparticipation'">
          <div  *ngIf="article.contentList && !article.agencyList">
              <div class="col-sm-6">
                  <mat-tab-group>
                    <mat-tab  *ngFor="let rightContent of article.contentList;" label="{{rightContent.tab}}">
                      <div style="height:20px;"></div>

                          <div class="col-sm-6" *ngFor="let tabContent of rightContent.contents; let index=index; let odd=odd; let even=even;">
                            <div>
                              <div style="width:100%; margin-right:10px; height:auto;" class="pointer" (click)="clickContentFromMenu(article.categoryCode, tabContent.contentCode, $event)">
                                  <a class="intro-box warna_border_color" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                                      <h4 class="font-size-m warna_font">
                                          {{tabContent.contentTitle}}
                                      </h4>
                                      <span class="warna_font article-size font-size-s" [innerHTML]="tabContent.contentDescription | truncate : [140, '...']"></span>
                                      <div class="font-size-s" style="text-align: right;"><i class="fa fa-caret-right"></i> {{'home.readmore' | translate }}</div>
                                  </a>
                              </div>
                            </div>
                          </div>

                          <div *ngIf="odd" class="clearfix"></div>

                    </mat-tab>
                  </mat-tab-group>
              </div>
          </div>
          <div *ngIf="article.contentList && article.agencyList">
              <div class="col-sm-6">
                  <div class="row">
                      <div class="col-md-12 warna_font">
                          <div  *ngFor="let agencyLst of article.agencyList; let index=index; let odd=odd; let even=even;">
                              <div class="col-sm-6">
                                  <div>
                                    <div style="width:100%; margin-right:10px; height:auto;">
                                        <a class="intro-box warna_border_color" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" [href]="agencyLst.agencyPublicationUrl" target="_blank">
                                            <h4 class="font-size-m warna_font">
                                                {{agencyLst.agencyName}}
                                            </h4>
                                        </a>
                                    </div>
                                  </div>
                                </div>

                                <div *ngIf="odd" class="clearfix"></div>
                            </div>
                      </div>
                  </div>
                </div>
          </div>

        </div>
        <div *ngIf="article.template === 'content'">
          <div class="col-sm-9">

              <div class="row">
                  <div class="col-md-12 warna_font">
                      <div *ngIf="!article.content" class="row padding-top-xl">
                          <div class="col-sm-12">
                              <div *ngIf="article.image">
                                  <div>
                                      <img [src]="config.externalMediaURL + '/images/'+ article.image.mediaFile" style="width:100%;">
                                      <div style="position:absolute; width:auto;">
                                          <h2 class="topic_bg_title font-size-l">
                                              <span style="padding-left:10px;">
                                                  {{article.categoryName}}
                                              </span>
                                          </h2>
                                      </div>
                                  </div>
                              </div>

                              <div *ngIf="!article.image">
                                  <div>
                                      <h2 class="titleWObg font-size-l">
                                          {{article.categoryName}}
                                      </h2>
                                  </div>
                              </div>

                              <span class="font-size-s defaultColor content_description" [innerHTML]="article.categoryDescription"></span>
                          </div>
                          <div *ngFor="let rightContent of article.subCategoryList; let index=index; let odd=odd; let even=even;">
                              <div class="col-sm-4">
                                  <div>
                                      <div style="width:100%; margin-right:10px; height:auto;" class="pointer" (click)="clickSideMenu(rightContent, '', $event)">


                                          <a class="intro-box warna_border_color" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                                              <h4 class="font-size-m warna_font">
                                                  {{rightContent.categoryName}}
                                              </h4>
                                              <span class="warna_font article-size font-size-s" [innerHTML]="rightContent.categoryDescription"></span>
                                              <div class="font-size-s" style="text-align: right;">
                                                  <i class="fa fa-caret-right"></i> {{'home.readmore' | translate }}</div>
                                          </a>
                                      </div>
                                  </div>
                              </div>

                              <div *ngIf="(index + 1) % 3 == 0" class="clearfix" class="clearfix"></div>
                          </div>
                      </div>


                      <div *ngIf="article.contentList"  class="row">
                        <h2 *ngIf="article.contentList.length > 0" class="container font-size-m warna_font" [style.color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">{{'common.listofarticle' | translate}}</h2>
                          <div *ngFor="let rightContent of article.contentList; let index=index; let odd=odd; let even=even;">
                            <div class="col-sm-4">
                                <div>
                                    <div style="width:100%; margin-right:10px; height:auto;" class="pointer"  (click)="clickContentFromMenu(article.categoryCode, rightContent.contentCode, $event)">
                                        <a class="intro-box-content warna_border_color" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                                            <h4 class="font-size-m warna_font">
                                                {{rightContent.contentTitle}}
                                            </h4>
                                            <span class="warna_font article-size font-size-s" [innerHTML]="rightContent.contentDescription | truncate : [140, '...']"></span>
                                            <div class="font-size-s" style="text-align: right;">
                                                <i class="fa fa-caret-right"></i> {{'home.readmore' | translate }}</div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="(index + 1) % 3 == 0" class="clearfix"></div>
                        </div>
                      </div>

                      <div *ngIf="article.content">
                          <div>
                              <div *ngIf="article.image">
                                  <div>
                                      <img [src]="config.externalMediaURL + '/images/'+ article.image.mediaFile" style="width:100%;">
                                      <div style="position:absolute; width:auto;">
                                          <h2 class="topic_bg_title font-size-l">
                                              <span style="padding-left:10px;">
                                                  {{article.content.contentTitle}}
                                              </span>
                                          </h2>
                                      </div>
                                  </div>
                              </div>

                              <div *ngIf="!article.image">
                                  <h2 class="titleWObg font-size-l">
                                      {{article.content.contentTitle}}
                                  </h2>
                              </div>

                              <div class="padding-top-xl">
                                  <div class="defaultColor" [innerHTML]="article.content?.contentText"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div *ngIf="article.template === 'lifeevent'" class="col-sm-3">
              <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font">{{'common.onlineservice' | translate }}</h4>
              <ul class="rightMenu" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                  <li *ngFor="let rightContent of article.menuRight;">
                      <a [href]="rightContent.agencyApplicationUrl" (click)="appTracking(rightContent.agencyApplicationCode)" target="_blank">{{rightContent.agencyApplicationName}}</a>
                  </li>
              </ul>
          </div>

      </div>

      <div *ngIf="article.template === 'lifeevent'">
          <div class="col-sm-6">

              <div class="row">
                  <div class="col-md-12 warna_font">
                      <div *ngIf="!article.content" class="row padding-top-xl">
                          <div class="col-sm-12">
                              <div>
                                  <div>
                                      <h2 class="titleWObg font-size-l">
                                          {{article.categoryName}}
                                      </h2>
                                  </div>
                              </div>

                              <span class="font-size-s defaultColor content_description" [innerHTML]="article.categoryDescription "></span>
                          </div>
                          <div *ngFor="let rightContent of article.subCategoryList; let index=index; let odd=odd; let even=even;">
                              <div class="col-sm-6">
                                  <div>
                                      <div style="width:100%; margin-right:10px; height:auto;" class="pointer" (click)="clickSideMenu(rightContent, '', $event)">


                                          <a class="intro-box warna_border_color" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                                              <h4 class="font-size-m warna_font">
                                                  {{rightContent.categoryName}}
                                              </h4>
                                              <span class="warna_font article-size font-size-s" [innerHTML]="rightContent.categoryDescription | truncate : [140, '...']"></span>
                                              <div class="font-size-s" style="text-align: right;">
                                                  <i class="fa fa-caret-right"></i> {{'home.readmore' | translate }}</div>
                                          </a>
                                      </div>
                                  </div>
                              </div>

                              <div *ngIf="odd" class="clearfix"></div>
                          </div>
                      </div>

                      <div *ngIf="article.contentList" class="row col-sm-12 lifeEvent" style="padding-top: 20px;">
                        <ul style="padding: 5px 0px;">
                          <li  *ngFor="let rightContent of article.contentList; let index=index; let odd=odd; let even=even;" style=" width: 120px; float: left; text-align: center; margin: 0px 0px 17px 0px; list-style: none; padding: 0px 5px; cursor: pointer;">
                            <!-- <span [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" style="display:block;
                            width: 50px;
                            height: 50px;
                            margin: auto;
                            color: #fff;
                            border-radius: 50px;
                            border: 2px #4c4c4c dashed;
                            padding: 8px 0px;
                            font-size: 25px;">{{index + 1  }}</span> -->
                            <a class="warna_font sideBarMenu--link font-size-s"  [style.color]="!!articleService.leContent && (le_code == rightContent.contentCode) ?  getTheme(): '#333333'" [matTooltip]="rightContent.contentTitle.length >= 30 ? rightContent.contentTitle : ''"  (click)="clickContent(rightContent.contentCode, '', $event)" [innerHTML]="rightContent.contentTitle | truncate:[30, '...']" style="font-weight: bold; display: table-cell; text-align: center; vertical-align: middle; background: #efefef; padding: 4px; height: 120px; width: 110px; max-width: 100px; min-width: 110px; overflow-x: auto !important; min-height: 120px;"></a>
                          </li>

                        </ul>
                        <div class="defaultColor" style="clear: both; padding-top: 20px;" [innerHTML]="articleService.leContent">

                        </div>

                        <div class="row" *ngIf="articleService.leContent">
                          <div class="col-md-12 warna_font" style="text-align: left;">
                              <form [formGroup]="scoreFormgrp" #scoreForm="ngForm" id="score-form" role="form" novalidate="novalidate">
                                <div class="form-group col-md-12">
                                  <div class="radio">
                                    <input type="radio" class="like"  formControlName="score" value=1 (click)="getRate(1)">
                                    <label><i class="fa fa-smile-o"></i>
                                      <span>{{ 'rating.like' | translate }}</span>
                                    </label>
                                  </div>
                                  <div class="radio">
                                    <input type="radio" class="neutral" formControlName="score" value=0 (click)="getRate(0)">
                                    <label><i class="fa fa-meh-o"></i>
                                      <span>{{ 'rating.neutral' | translate }}</span>
                                    </label>
                                  </div>
                                  <div class="radio">
                                    <input type="radio" class="dislike" formControlName="score"  value=-1 (click)="getRate(-1)">
                                    <label><i class="fa fa-frown-o"></i>
                                      <span>{{ 'rating.dislike' | translate }}</span>
                                    </label>

                                  </div>
                                </div>
                                <div ng-app class="form-group col-md-12" style="padding: 0px 30px;">
                                  <mat-form-field class="example-full-width" style="width:100%">
                                      <textarea matInput tabindex="5" matTextareaAutosize #fbmsg formControlName="remarks" maxLength="500" placeholder="{{'feedback.label.content' | translate }}"></textarea>
                                      <mat-hint align="end">{{fbmsg.value?.length || 0}}/500</mat-hint>
                                  </mat-form-field>

                              </div>
                              <div class="form-group col-md-12"  style="text-align: right;">
                                <button tabindex="7" mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success font-size-s"
                                (click)="submitForm(scoreFormgrp.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;"
                                [disabled]="scoreFormgrp.invalid">
                                <i class="fa fa-check"></i> {{'feedback.label.submit' | translate }}</button>
                              </div>

                              </form>
                            </div>
                      </div>
                          <!-- <mat-tab-group style="clear: both;">
                            <mat-tab *ngFor="let rightContent of article.contentList; let index=index; let odd=odd; let even=even;">
                              <ng-template mat-tab-label>
                                <div>
                                  <span style="display:inline-block; margin: 0 auto; width:20px; height: 20px; border-radius: 20px; font-weight:bold; border: 1px solid rgb(28, 74, 73)" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">{{index + 1  }}</span>
                                  <span [innerHTML]="rightContent.contentTitle"></span>
                                </div>
                              </ng-template>
                              <div style="color: #000; padding-top: 15px;" class="warna_font article-size font-size-s" [innerHTML]="rightContent.contentText"></div>>
                            </mat-tab>
                          </mat-tab-group> -->

                    </div>

                      <div *ngIf="article.content">
                          <div>
                              <div *ngIf="article.image">
                                  <div>
                                      <img [src]="config.externalMediaURL + '/images/'+ article.image.mediaFile" style="width:100%;">
                                      <div style="position:absolute; width:auto;">
                                          <h2 class="topic_bg_title font-size-l">
                                              <span style="padding-left:10px;">
                                                  {{article.content.contentTitle}}
                                              </span>
                                          </h2>
                                      </div>
                                  </div>
                              </div>

                              <div *ngIf="!article.image">
                                  <h2 class="titleWObg font-size-l">
                                      {{article.content.contentTitle}}
                                  </h2>
                              </div>

                              <div class="padding-top-xl">
                                  <div class="defaultColor" [innerHTML]="article.content?.contentText"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div *ngIf="article.template === 'lifeevent' && article.menuRight.length != 0" class="col-sm-3 pl-1">
              <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font">{{'common.onlineservice' | translate }}</h4>
              <ul class="rightMenu" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                  <li *ngFor="let rightContent of article.menuRight;">
                      <a [href]="rightContent.agencyApplicationUrl" (click)="appTracking(rightContent.agencyApplicationCode)" target="_blank">{{rightContent.agencyApplicationName}}</a>
                  </li>
              </ul>
          </div>

      </div>




    </div>

</div>

