<div class="animated fadeIn" *ngIf="footer.length>0">
  <!-- *ngFor="let data of footer" -->
  <div class="primary col-md-12" [style.background]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" *ngIf="dataSocialLnk.length>0">
    <!-- *ngIf="data.titleCode ==4"  id="social-area"-->
    <div class="col-sm-12" style="padding-bottom:10px;padding-top: 10px; text-align: center;" id="social-icons">
      <div class="footersocial">
        <span *ngFor="let sdata of dataSocialLnk">
          <a [href]="sdata.footerContentUrl" target="_blank" style="width:30px;">
            <span class="social_icon_bg" title="{{sdata.footerContentName}}" data-toggle="tooltip" data-original-title="Tooltip on top">
              <span class="icon-social" [style.color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                <i ngClass="fa fa-{{sdata.footerContentIcon}}" style="padding:5px 2px 0px 0px"></i>
              </span>
            </span>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="container footer form-group">
    <!--  *ngIf="data.titleCode==1 || data.titleCode==2 || data.titleCode==3 || data.titleCode==7" -->
    <div class="footer-left">
      <div class="col-md-4" style="min-height:200px">
        <button [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="btn btn-sm footer-toggle fa fa-angle-down pull-right visible-xs" (click)="showFooter('contact')">
          <span class="sr-only">{{tltContact.titleCode}}</span>
        </button>
        <h4 [style.color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="footer-heading font-size-m warna_title_color" style="padding-left: 40px;">
          {{tltContact.title}}
          <span [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="footer-title-underline warna_border_color"></span>
        </h4>
        <!--CONTACT US-->
        <div *ngIf="showcontact && dataContact.length>0" class="address footer" style="margin-top: 0%; position:relative;">
          <div *ngFor="let eachitm of dataContact">
            <div *ngIf="eachitm.footerContentIcon" style="margin-left:30px;">
              <p class="font-size-s">
                <span [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" ngClass="fa fa-{{eachitm.footerContentIcon}}"></span>
              </p>
              <div *ngIf="eachitm.enabled" [innerHtml]="eachitm.footerContentName" class="font-size-s">
              </div>
            </div>
            <div *ngIf="eachitm.enabled && !eachitm.footerContentIcon" [innerHtml]="eachitm.footerContentName" class="font-size-s">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="min-height:200px">
        <button [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="btn btn-sm footer-toggle fa fa-angle-down pull-right visible-xs" (click)="showFooter('access')">
          <span class="sr-only">{{tltAccessPage.titleCode}}</span>
        </button>
        <h4 [style.color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="footer-heading font-size-m warna_title_color" style="padding-left: 40px;">
          {{tltAccessPage.title}}
          <span [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="footer-title-underline warna_border_color"></span>
        </h4>
        <!--CAPAIAN/ ACCESS PAGE-->
        <div *ngIf="showaccess && dataAccessPage.length>0">
          <div class="address footer" style="margin-top: 0%;">
            <div class="sub-add">
              <ul class="hoverlnk" style="columns: 2; list-style-type: none; padding-left: 3px;">
                <li *ngFor="let eachitm of dataAccessPage"  style="margin-bottom: 7px;">
                  <a *ngIf="eachitm.enabled" (click)="getUrl(eachitm.footerContentUrl)" class="font-size-s access_page_link" [innerHtml]="eachitm.footerContentName"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="min-height:20px">
        <button [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="btn btn-sm footer-toggle fa fa-angle-down pull-right visible-xs" (click)="showFooter('visitor')">
          <span class="sr-only">{{tltNoOfVisitor.titleCode}}</span>
        </button>
        <h4 [style.color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="footer-heading font-size-m warna_title_color" style="padding-left: 40px;">
          {{tltNoOfVisitor.title}}
          <span [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="footer-title-underline warna_border_color"></span>
        </h4>
        <!--JUMLAH PELAWAT/ Visitor count-->
        <div class="address footer" *ngIf="showvisitor && dataNoOfVisitor.length>0" style="margin-top: 0%;">
          <div *ngFor="let eachitm of dataNoOfVisitor">
            <div class="col-xs-4" style="padding:0px 0px 0px 3px;">
              <div class="font-size-s">{{eachitm.footerContentName}}</div>
              <h4 class="font-size-m">{{eachitm.footerSubContentValue}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="min-height:200px">
        <button [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="btn btn-sm footer-toggle fa fa-angle-down pull-right visible-xs" (click)="showFooter('extlinks')">
          <span class="sr-only">{{tltExtLnk.titleCode}}</span>
        </button>
        <h4 [style.color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="footer-heading font-size-m warna_title_color" style="padding-left: 40px;">
          {{tltExtLnk.title}}
          <span [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="footer-title-underline warna_border_color"></span>
        </h4>
        <!--Pautan luar/ External links-->
        <div class="sub-add" *ngIf="showextlinks && dataExtLnk.length>0">
          <div *ngFor="let eachitm of dataExtLnk">
            <!-- <h1>{{eachitm.footerContentName}}</h1>  [routerLink]="[eachitm.footerContentUrl]" -->
            <div class="address footer hoverlnk" style="margin-top: 0%;">
              <a [href]="eachitm.footerContentUrl" (mouseover)="changeStyle($event)" target="_blank" class="font-size-s col-xs-3 info-box" data-toggle="tooltip" [title]="eachitm.footerContentName">
                <img [src]="config.externalMediaURL + '/images/' + eachitm.footerContentImage" [alt]="eachitm.footerContentName" style="max-width:100%;">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="padding-m" *ngIf="copyright.footerContentName.length>0">
          <div class="col-md-4">
            <p class="font-size-s" style="margin-top: 4%;">
              {{copyright.footerContentName}}
            </p>
          </div>
          <div class="col-md-8 text-right hidden-xs">
            <p class="font-size-s">
              {{dateOfUpdate.footerContentDescription}}
            </p>
            <p class="font-size-s" style="margin-top: -10px;">
              {{copyright.footerContentDescription}}
            </p>
          </div>
      </div>
      <div class="col-md-12 text-right hidden-xs" *ngIf="dataBottomLnk.length>0">
        <ul class="list-inline hidden-xs font-size-s">
          <li *ngFor="let btmlink of dataBottomLnk; let last = last">
            <a [href]="[btmlink.footerContentUrl]" [innerHtml]="btmlink.footerContentName + ' |'">

            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
