<div *ngFor="let data of footer" class="animated fadeIn">
   <div class="primary col-md-12" *ngIf="data.title=='sociallink'" [style.background]="getTheme()">
      <div class="" id="social-area">
         <div class="col-sm-12" style="padding-bottom:10px;padding-top: 10px;text-align: center;" id="social-icons">
            <div class="footersocial">
               <span *ngFor="let social_data of data.footer">
                  <a [routerLink]="[social_data.link]" href="" target="_blank">
                     <span class="social_icon_bg" title="{{social_data.title}}" data-toggle="tooltip" data-original-title="Tooltip on top">
                        <span class="icon-social" [style.color]="getTheme()">
                           <i ngClass= "fa {{social_data.icon}}" style="padding:5px 2px 0px 0px"></i>
                        </span>
                     </span>
                  </a>
               </span>
            </div>
         </div>
      </div>
   </div>
   <div class="container footer form-group" *ngIf="data.title=='otherlink'">  
      <div class="footer-left">
         <div *ngFor="let otherlink of data.items" class="col-md-4 loop1">
            <button [style.background-color]="getTheme()" class="btn btn-sm footer-toggle fa fa-angle-down pull-right visible-xs" (click)="showFooter(otherlink.sub_title)">
               <span class="sr-only">{{otherlink.sub_title}}</span>
            </button>
            <h4 [style.color]="getTheme()" class="footer-heading font-size-m warna_title_color" style="padding-left: 40px; font-family: Roboto; color: rgb(0, 189, 187);">
                     {{otherlink.title}}
               <span [style.border-color]="getTheme()" class="footer-title-underline warna_border_color" style="border-color: rgb(0, 189, 187);"></span>
            </h4> 
            <div *ngIf="showcontact && otherlink.sub_title=='contact'" class="address footer" style="margin-top: 0%; margin-left:30px; position:relative;">
                <div *ngFor="let eachitm of otherlink.footer">
                    <p class="font-size-s" *ngIf="eachitm.icon" style="font-family: Roboto;">
                    <span  [style.background-color]="getTheme()" ngClass= "{{eachitm.icon}}" style="background-color: rgb(0, 189, 187);"></span>
                    </p>
                    <div [innerHtml]="eachitm.title" class="font-size-s addrloop2" >
                    </div>
                </div>
            </div>
                  <!--CAPAIAN/ ACCESS PAGE-->
            <div *ngIf="showaccess && otherlink.sub_title=='access'">
               <div class="address footer" style="margin-top: 0%;">
                  <div class="sub-add" >
                     <ul style="columns: 2; list-style-type: none; padding-left: 3px;">
                        <li *ngFor="let eachitm of otherlink.footer" class="eachloop2" style="margin-bottom: 7px;">
                           <a [routerLink]="[eachitm.link]" href="" class="font-size-s" [innerHtml]="eachitm.title"></a>
                        </li>
                     </ul>
                  </div> 
               </div>
            </div>
                  <!--Pautan luar/ External links-->
            <div class="sub-add" *ngIf="showextlinks && otherlink.sub_title=='extlinks'">
                <div *ngFor="let eachitm of otherlink.footer" class="each loop2">
                    <div class="address footer" style="margin-top: 0%;">
                     <a [routerLink]="[eachitm.link]" href="" target="_blank" class="font-size-s col-xs-3 info-box"
                        data-toggle="tooltip" title="eachitm.name">
                        <img src="{{ eachitm.icon }}" alt="eachitm.name" 
                        style="max-width:100%;">
                     </a>
                  </div>
               </div>
            </div> 
                  <!--JUMLAH PELAWAT/ Visitor count-->
            <div class="address footer" *ngIf="showvisitor && otherlink.sub_title=='visitor'" style="margin-top: 0%;">
                <div *ngFor="let eachitm of otherlink.footer" class="each loop2">
                  <div class="col-xs-4" *ngIf="eachitm.today" style="padding:0px 0px 0px 3px;">
                     <div class="font-size-s">{{eachitm.today}}</div>
                     <h4 class="font-size-m">{{eachitm.todayval}}</h4>
                  </div>
                  <div class="col-xs-4" *ngIf="eachitm.month" style="padding:0px 0px 0px 3px;">
                     <div class="font-size-s">{{eachitm.month}}</div>
                     <h4 class="font-size-m">{{eachitm.monthval}}</h4>
                  </div>
                  <div class="col-xs-4" *ngIf="eachitm.total" style="padding:0px 0px 0px 3px;">
                     <div class="font-size-s">{{eachitm.total}}</div>
                     <h4 class="font-size-m">{{eachitm.totalval}}</h4>
                  </div>                        
               </div>
            </div>               
         </div>
      </div>
   </div>
   <div class="copyright" *ngIf="data.title=='bottom' || data.title=='bottomlinks'">
         <div class="container">      
            <div class="padding-m" *ngIf="data.title=='bottom'">
               <div *ngFor="let eachitm of data.items" class="each loop2">
                  <div  class="col-md-4">
                     <p class="font-size-s" style="margin-top: 4%; font-family: Roboto;">
                        {{eachitm.copyright}}
                     </p>
                  </div>
                  <div class="col-md-8 text-right hidden-xs">
                     <p class="font-size-s" style="font-family: Roboto;">
                           {{eachitm.update}} {{eachitm.update_date}}
                     </p>
                     <p class="font-size-s" style="margin-top: -10px; font-family: Roboto;">
                        {{eachitm.note}}
                     </p>                   
                  </div>
               </div>
            </div>     
            <div *ngIf="data.title=='bottomlinks'" class="col-md-12 text-right hidden-xs loop1.1">
               <ul class="list-inline hidden-xs font-size-s" style="font-family: Roboto;">
                  <li  *ngFor="let btmlink of data.items; let last = last">
                     <a [routerLink]="[btmlink.link]" href="">
                        {{btmlink.name}} <span *ngIf="!last">|</span>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
   </div>
</div>
