.example-full-width{
    width: 100%;
}

.displayDesc{
    color: #333; 
    font-weight: bold;
}

.displayJustify{
    color: black; 
    text-align: justify
}

.deleteFile{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 999;
    color: red;
}

