
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container" *ngFor="let article of articleService.articles">
     <div class="row">
        <div class="col-md-12">
            <h1 style="margin-top: 10px;" class="font-size-l">{{article.contentTitle}}</h1>
            <hr class="hr-custom2">
            <ul class="list-inline" style="clear:both;">
                <li>
                    <a class="font-size-s" routerLink="/index">
                        {{'home.menu.home' | translate }}
                    </a>
                </li>
                <li>/</li>
                <li>
                    <div *ngFor="let article of articleService.articles">
                     <div *ngFor="let breadCrum of article.breadcrum; let i = index; let lastItem = last" style="display: inline;">
                       <a href="" [routerLink]="['/archive/'+getModule(breadCrum.breadcrumUrl), getID(breadCrum.breadcrumUrl)]">{{breadCrum.breadcrumName}}</a>
                       <span>{{lastItem ? '' : '&nbsp;/&nbsp;'}}</span>
                     </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
  </div>


<div style="margin-top:10px;" class="container" *ngFor="let article of articleService.articles">
  <div class="row">
      <div class="col-sm-3">
          <div class="row">
              <div class="col-md-12 sideBarMenu">
                <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font">
                  {{article.contentTitle}}
                </h4>
                <ul class="list-unstyled">
                  <li class="liList" *ngFor="let content of article.leftMenu">
                      <div class="col-xs-12 col-md-12 col-sm-12">
                          <a class="warna_font sideBarMenu--link font-size-s" [routerLinkActive]="['active']"  [style.font-weight]="content.active ? 'bold' : 'normal'"  [style.color]="content.active ? getTheme() : '#333'" (click)="clickSideMenu(content, '', 'rss')">
                            {{content.leftMenu_label}}
                          </a>
                      </div>
                  </li>
                </ul>
              </div>
            </div>

      </div>


      <div class="col-sm-6">

          <div class="row">
              <div class="col-md-12 warna_font">
                <div class="row padding-top-xl">
                  <div class="col-md-12">
                    <div>
                        <h2 class="titleWObg font-size-l">
                            {{article.contentTitle}}
                        </h2>
                    </div>

                    <span class="font-size-s defaultColor" [innerHTML]="article.contentDescription"></span>
                  </div>
                  <div  *ngFor="let rightContent of article.rssCategoriesEntity; let index=index; let odd=odd; let even=even;">
                    <div class="col-sm-6">
                        <div>
                          <div style="width:100%; margin-right:10px; height:auto;" (click)="clickSideMenuOthers(rightContent, '', 'rss')" class="pointer">
                              <a class="intro-box warna_border_color" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                                  <h4 class="font-size-m warna_font">
                                      {{rightContent.categoryName}}
                                  </h4>
                                  <span class="warna_font article-size font-size-s" [innerHTML]="rightContent.categoryDescription"></span>
                                  <div  class="font-size-s" style="text-align: right;">
                                    <span style="position: absolute; bottom: 25px; padding: 0px 20px; left: 0; width: 95%;">
                                      <i class="fa fa-caret-right"></i> {{'home.readmore' | translate }}
                                    </span>
                                  </div>
                              </a>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="odd" class="clearfix"></div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

