<!-- <p>TEST</p>
{{ announces}} -->
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
  <div class="container" >
   <div class="row" >
      <div class="col-md-12">
          
          <h1 style="margin-top: 10px;" class="font-size-l"> {{'announcement.title' | translate}}</h1>
          <hr class="hr-custom2">
          <ul class="list-inline" style="clear:both;">
              <li>
                  <a class="font-size-s" href="/index/">
                      {{'home.menu.home' | translate }}
                  </a>
              </li>
              <li>/</li>
              <li>
                  {{'announcement.title' | translate}}
              </li>
          </ul>
      </div>
  </div>
  </div>
</div>
<!-- *ngFor="let announce of announces" -->
<div style="margin-top:10px;" class="container" >

  <div class="row" >
      <div class="col-sm-3">
          <div class="row">
              <div class="col-md-12 sideBarMenu" *ngFor="let data of announces">
                  <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font" >
                      {{data.title}}

                  </h4>
              </div>
          </div>
      </div>

      <!-- <div class="col-sm-6">

          <div class="row">
              <div class="col-md-12 warna_font">
                  <div  *ngIf="checkImgData(data.description)" style="position:absolute; width:auto;">
                      <h2 class="topic_bg_title font-size-l">
                          <span style="padding-left:10px;">
                              {{data.title}}
                          </span>
                      </h2>
                  </div>


                  <div  *ngIf="!checkImgData(data.description)" style="position:relative;">
                      <h2 class="titleWObg font-size-l">
                              {{data.title}}
                      </h2>
                  </div>


                  <span class="font-size-s defaultColor" [innerHTML]="data.description">

                  </span>

                  <div class="row padding-top-xl">

                      <div class="col-sm-6" *ngFor="let leftContent of data.content">
                           <div>
                              <div style="width:100%; margin-right:10px; height:auto;">
                                  <a class="intro-box warna_border_color" [style.border-color]="getTheme()" href="" (click)="clickSideMenu(leftContent)">
                                      <h4 class="font-size-m warna_font">
                                          {{leftContent.label}}
                                      </h4>
                                      <span class="warna_font article-size font-size-s" [innerHTML]="leftContent.description"></span>
                                      <div class="font-size-s" style="text-align: right;"><i class="fa fa-caret-right"></i> {{'home.readmore' | translate }}</div>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div> -->



  </div>

</div>