<gosg-shared-loader [loader]="loading"></gosg-shared-loader>
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="margin-top: 10px;" class="font-size-m">{{'agencydir.title' | translate}}</h1>
        <hr class="hr-custom2">
        <ul class="list-inline" style="clear:both;">
          <li>
            <a class="font-size-s" routerLink="/index">
              {{'home.menu.home' | translate }}
            </a>
          </li>
          <li>/</li>
          <li>
              {{'home.menu.agencycdir' | translate }}
          </li>
          <!-- <li>/</li>
                  <li>
                      {{'home.breadcrumb.calendar' | translate}}
                  </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container agcdir">
  <div class="row">
    <div class="col-md-12 padding-m">
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <!-- (keydown)="applyFilter($event.target.value)" -->
              <input matInput (keyup)="applySearchFilter($event.target.value)" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}"
                placeholder="{{ 'agencydir.label.search' | translate }}">
              <button mat-button *ngIf="keyword" matSuffix mat-icon-button (click)="keyword='';resetSearch()">
                <mat-icon>x</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-select title="{{ 'agencydir.label.searchbymin' | translate }}" placeholder="{{ 'agencydir.label.searchbymin' | translate }}" [(ngModel)]="ministry"
                (change)="applyFilter('ministry',$event.value)">
                <mat-option [value]="0">{{ 'agencydir.filterby.all' | translate }} {{ 'agencydir.filterby.ministry' | translate }}</mat-option>
                <mat-option *ngFor="let ministry of ministryList" [value]="ministry.ministryCode" (click)="goToMarkerPoint(ministry.ministryLatitude,ministry.ministryLongitude, ministry.ministryName, ministry.ministryAddress, ministry.ministryEmail, ministry.ministryFax, ministry.ministryPhone,ministry.ministryFacebook,ministry.ministryTwitter,ministry.ministryWebsiteUrl)">{{ ministry.ministryName }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="{{ 'agencydir.label.searchbyalpha' | translate }}" [(ngModel)]="letter" (change)="applyFilter('letter',$event.value)">
                <mat-option [value]="0">{{ 'agencydir.filterby.all' | translate }}</mat-option>
                <mat-option *ngFor="let l of dataAlpha" [value]="l" style="text-transform: capitalize">{{ l }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <table class="table" *ngIf="!showNoData">
              <thead>
                <tr>
                  <td>
                    <h4>{{ 'agencydir.label.agencyName' | translate }}</h4>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let agc of recordTable | paginate: { id: 'listing_pagination',
                itemsPerPage: 10,
                currentPage: pageCount,
                totalItems: totalRec }">

                  <td>
                    <a *ngIf="agc.agencyLatitude || agc.agencyLongitude" style="color: #1d1d1d" href="agencydir#" (click)="goToMarkerPoint(agc.agencyLatitude,agc.agencyLongitude, agc.agencyName, agc.agencyAddress, agc.agencyEmail, agc.agencyFax, agc.agencyPhoneNo,agc.agencyFacebook,agc.agencyTwitter,agc.agencyWebsiteUrl)">{{agc.agencyName}}</a>
                    <a *ngIf="!agc.agencyLatitude || !agc.agencyLongitude" style="color: #cacaca; cursor:default;" href="agencydir#"  title="{{ 'agencydir.label.latlong' | translate }}{{ 'agencydir.msg.notfound' | translate }}">{{agc.agencyName}} <i class="fa fa-unlink"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="showNoData" class="row text-align-Center padding-20">{{ 'common.msg.nodata' | translate }} </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="dirmap"></div>
        <!-- <div style="height: 400px;" leaflet [leafletOptions]="options" [leafletLayers]="markers"></div> -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2" style="padding-top: 8px;">
      {{ 'agencydir.label.total' | translate }}: {{ totalRec }}
    </div>
    <div class="col-md-10">
      <span style="color:#000; padding-right:20px;">{{ 'common.pagination.pages' | translate }} 
        <strong>{{recordList?.pageNumber}}</strong> {{ 'common.pagination.of' | translate }} 
        <strong>{{recordList?.totalPages}}</strong> </span>
      <button mat-mini-fab color="basic" [disabled]="noPrevData" (click)="paginatorL(recordList?.pageNumber)">
        <i class="fa fa-angle-left" aria-hidden="true"></i></button>
      <button mat-mini-fab color="basic" [disabled]="noNextData"  (click)="paginatorR(recordList?.pageNumber, recordList?.totalPages)">
        <i class="fa fa-angle-right" aria-hidden="true"></i></button>
    </div>
    <!-- <div class="col-md-10"><pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" 
      (pageChange)="pageChange(pageCount = $event,totalRec)"></pagination-controls></div> -->
    <div class="col-md-12">&nbsp;</div>
</div>
</div>
