.lifeEventCategory:hover  {
    background-color: gray;
    color: white;
}
.font-size-1{
                text-align: center;
                font-family: Roboto;
                color: rgb(0, 189, 187);
                font-size: 24px;
                font-weight: 500;
                padding-bottom: 15px;
            }

            .customUnderLine{
                margin-top: 35px;
                margin-bottom: 0%;
                border: 0;
                border-top: 2px solid #1ebebc;
                width: 15%;
                right: 42%;
                position: absolute;
            }

            .font-size-s{
                color:black;
            }

            .mat-tab-header{
              margin: 0 auto !important;
            }

            .tabbing{
              text-align: center;

            }

            .lifeEventCategory:hover{
              /*color: #333 !important;*/
              color:black !important;
              background-color: lightslategray;
              font-weight: bold;

            }

            .tabbing li{
              display: inline;
            }

            .lifeEventBox {
                position: relative;
                padding: 10px 25px;
                text-align: center;
                margin: 10px 0px;
            }

            .lifeEventBox-description{
              padding: 0px 5px;
              line-height: 20px !important;
            }

            .lifeEventBox .innerBox{
                display: block;
                background: #e8e8e8;
                min-height: 265px;
            }

            .lefteventlist{
                text-align: justify !important;
                line-height: 25px;
                font-size:14px;
                font-weight:400;
            }


            .lifeEventBg {
                display: block;
                height: auto;
                border-color: rgb(0, 189, 187);
                background: #f1f1f1;
                border-top: 3px solid rgb(0, 189, 187);
            }

            .overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 75%;
                margin: 0 auto;
                background-color: rgba(0,0,0, 0.7);
                overflow: hidden;
                height: 0;
                transition: .5s ease;
            }

            .lifeEventBox:hover .overlay {
                height: 95%;
            }

            .lifeEventBox h2, .lifeEventBox h2 span {
                padding: 0px 5px;
                color: #000;
                font-weight: 600;
            }

            .text {
                white-space: nowrap;
                color: white;
                font-size: 20px;
                position: absolute;
                overflow: hidden;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
            }

            .lifeEventBox a {
                text-decoration: none;
                cursor: pointer;
                overflow: hidden;
                color: #666;
            }

            .lifeEventBox a:hover {
                color: #000;
            }

            .lifeEventBox-title{
                text-transform: uppercase;
            }

            .text button{
                display:block; margin: 0 auto;
            }

            .text a{
                width: 100%;
                height: 40px;
                padding:10px;
                color:#fff;
                text-transform: uppercase;
                background: #fff;
                border: 1px solid #000;
                margin-bottom: 4px;
                background-color: rgb(0, 189, 187)
            }

            .text a:hover{
                background:#888 !important;
                color:#fff !important;
                border: 1px solid #888 !important;
            }

            .warna_border_color{
                border: 0px solid #000 !important;
            }
