<div class="container-fluid lifeEventContainer animated fadeIn">
        <div class="container" *ngFor="let leData of lifeEventData" style="padding:0px;">
                <div>
                        <h2 class="font-size-1" style="text-align: center;" [style.color]="getTheme()">
                                {{leData.title}}
                        <span class="customUnderLine" [style.border-color]="getTheme()"></span>
                        </h2>
                        <p style="text-align: center;" class="font-size-s"> {{leData.description}}</p>
                </div>
                <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 lifeEventBox" *ngFor="let getContent of leData.content">
                                <a href="" class="lifeEventBg" style="border-top:3px solid;" [style.border-color]="getTheme()">
                                        <div class="lifeEventBox-title">
                                                <h2 class="font-size-l" [style.color]="getTheme()">{{getContent.name}}</h2>
                                        </div>
                                        <div class="lifeEventBox-description font-size-s lefteventlist"  [innerHTML]="getContent.text">               
                                        </div>
                                </a>
                                <div class="overlay">
                                        <div class="text" *ngFor="let getAction of leData.action">
                                                <a class="btn warna_bg warna_border_color" [style.background-color]="getTheme()" href="/public/cms/topic/44/sub_topic/315/">{{getAction.button1}}</a>
                                                <a class="btn warna_bg warna_border_color" [style.background-color]="getTheme()" href="/public/cms/topic/44/sub_topic/315/">{{getAction.button2}}</a>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
