<div class="container-fluid lifeEventContainer animated fadeIn">
    <div>
      <h2 class="font-size-l" style="text-align: center; padding: 10px 0px;" [style.color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
        {{lifeEventTitle}}
        <span class="customUnderLine" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'"></span>
      </h2>
      <p style="text-align: center;" class="font-size-s">{{lifeEventDesc}}</p>
    </div>





    <div class="container lifeevent_tab">
        <mat-tab-group dynamicHeight>
            <mat-tab label="{{'register.label.citi' | translate}}">
              <div class="example-small-box mat-elevation-z4">
                  <div *ngFor="let leData of lifeEventData" style="padding:0px;">
                    <div class="row"  *ngIf="leData.type =='citizen'">
                      <div  *ngFor="let getContent of leData.data;  let index=index; let odd=odd; let even=even;">
                        <div class="col-md-3 col-sm-12 col-xs-12 lifeEventBox">
                          <div class="innerBox">
                            <div class="lifeEventBox-title">
                              <div style="padding-top: 10px;"><img [src]="config.externalMediaURL + '/images/'+ getContent.image.mediaFile" style="height:50px;"></div>
                              <h2 class="font-size-m">
                                <a  class="lifeEventCategory" [style.color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" href="" [routerLink]="['/category', getContent.categoryCode]">{{getContent.categoryName}}</a>
                              </h2>
                            </div>

                            <div class="lifeEventBox-description font-size-s">
                              <div class="lifeEventBox-description font-size-s lefteventlist"  [innerHTML]="(getContent?.categoryDescription?.length > 100)? (getContent?.categoryDescription | slice:0:100)+'...':(getContent?.categoryDescription)">
                              </div>

                              <a [routerLink]="['/subcategory', subData.categoryCode]" *ngFor="let subData of getContent.subCategoryList; let i = index; let lastItem = last">
                                      {{subData.categoryName}} <i class="{{lastItem ? '' : 'fa fa-angle-right'}}" style="font-weight: bold;"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="(index + 1) % 4 == 0" class="clearfix"></div>
                      </div>
                    </div>
                  </div>
              </div>
            </mat-tab>
            <mat-tab label="{{'register.label.nonciti' | translate}}">
              <div class="example-large-box mat-elevation-z4">
                <div *ngFor="let leData of lifeEventData" style="padding:0px;">
                  <div class="row"  *ngIf="leData.type =='noncitizen'">
                    <div class="col-md-3 col-sm-12 col-xs-12 lifeEventBox" *ngFor="let getContent of leData.data">
                      <div class="innerBox">
                        <div class="lifeEventBox-title">
                          <div style="padding-top: 10px;"><img [src]="config.externalMediaURL + '/images/'+ getContent.image.mediaFile" style="height:50px;"></div>
                          <h2 class="font-size-m">
                            <a  class="lifeEventCategory" [style.color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" href="" [routerLink]="['/category', getContent.categoryCode]">{{getContent.categoryName}}</a>
                          </h2>
                        </div>

                        <div class="lifeEventBox-description font-size-s">
                          <a [routerLink]="['/subcategory', subData.categoryCode]" *ngFor="let subData of getContent.subCategoryList; let i = index; let lastItem = last">
                                  {{subData.categoryName}} <i class="{{lastItem ? '' : 'fa fa-angle-right'}}" style="font-weight: bold;"></i>
                          </a>
                        </div>
                      </div>

                      <!-- <div class="lifeEventBox-title">
                              <h2 class="font-size-l" [style.color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">{{getContent.categoryName}}</h2>
                      </div>
                      <p style="text-align: center;" *ngFor="let data for getContent.subCategoryList" class="font-size-s"> {{ data | json}}</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
    </div>



        <!-- <div class="container" *ngFor="let leData of lifeEventData" style="padding:0px;">
                <div *ngIf="leData.type =='citizen'">
                        <div *ngFor="let citi of leData.data">
                                <h2 class="font-size-1" style="text-align: center;" [style.color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                                        {{citi.categoryName}}
                                        <span class="customUnderLine" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'"></span>
                                </h2>
                                <p style="text-align: center;" *ngFor="let data for citi.subCategoryList" class="font-size-s"> {{ data | json}}</p>
                        </div>
                </div>

                <div *ngIf="leData.type =='noncitizen'">
                       <div *ngFor="let nonciti of leData.data">
                                {{nonciti.categoryName}}
                       </div>
                </div>
        </div> -->
</div>
<!-- <div class="container-fluid lifeEventContainer animated fadeIn">
        <div class="container" *ngFor="let leData of lifeEventData" style="padding:0px;">
                <div>
                        <h2 class="font-size-1" style="text-align: center;" [style.color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                                {{leData.title}}
                        <span class="customUnderLine" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'"></span>
                        </h2>
                        <p style="text-align: center;" class="font-size-s"> {{leData.description}}</p>
                </div>
                <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 lifeEventBox" *ngFor="let getContent of leData.content">
                                <a href="" class="lifeEventBg" style="border-top:3px solid;" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                                        <div class="lifeEventBox-title">
                                                <h2 class="font-size-l" [style.color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">{{getContent.name}}</h2>
                                        </div>
                                        <div class="lifeEventBox-description font-size-s lefteventlist"  [innerHTML]="getContent.text">
                                        </div>
                                </a>
                                <div class="overlay">
                                        <div class="text" *ngFor="let getAction of leData.action">
                                                <a class="btn warna_bg warna_border_color" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" href="/public/cms/topic/44/sub_topic/315/">{{getAction.button1}}</a>
                                                <a class="btn warna_bg warna_border_color" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" href="/public/cms/topic/44/sub_topic/315/">{{getAction.button2}}</a>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div> -->
