.side-menu-list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.side-menu-list li:hover{
    background-color: #eee;
}

.side-menu-list li a:hover{
    color: #000;
}

.side-menu-list li a{
    text-decoration: none;
    display: block;
    color: #787878;
    padding: 10px 8px;
}

.topactive{
    background-color: #eee !important;
    color: #000 !important;
}
