<div>
    <ul class="side-menu-list">
        <li>
          <a routerLinkActive="topactive"  href="" [routerLink]="['/portal-protected/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a routerLinkActive="topactive" href="" [routerLink]="['/portal-protected/profile']"><i class="fa fa-user"></i> Profile</a>
        </li>
        <li>
            <a routerLinkActive="topactive" href="" [routerLink]="['/portal-protected/mailbox']"><i class="fa fa-envelope"></i> Inbox</a>
        </li>
        <li>
            <a routerLinkActive="topactive" href=""><i class="fa fa-building"></i> Company Profile</a>
        </li>
      </ul>
</div>
