<div>
    <ul class="side-menu-list">
        <li>
          <a routerLinkActive="topactive" class="font-size-s" href="" [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> {{ 'dashboard.sidenav.dashboard' | translate }}</a>
        </li>
        <li>
            <a routerLinkActive="topactive"  class="font-size-s" href="" [routerLink]="['/profile']"><i class="fa fa-user"></i> {{ 'dashboard.sidenav.profile' | translate }}</a>
        </li>
        <li>
            <a routerLinkActive="topactive"  class="font-size-s" href="" [routerLink]="['/mailbox']"><i class="fa fa-envelope"></i> {{ 'dashboard.sidenav.inbox' | translate }}</a>
        </li>
        <li>
            <a routerLinkActive="topactive"  class="font-size-s" href="" [routerLink]="['/appsmgmt']"><i class="fa fa-file"></i> {{ 'dashboard.sidenav.appmgmt' | translate }}</a>
        </li>
        <li>
            <a routerLinkActive="topactive"  class="font-size-s" href=""><i class="fa fa-building"></i> {{ 'dashboard.sidenav.companyprofile' | translate }}</a>
        </li>
      </ul>
</div>
