        .sideBarMenu--title {
            font-size: 20px;
            color: #333;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .submenu{
          padding-left:40px;
          padding-left: 17px;
          padding-bottom: 10px;
          padding-top: 0px;
        }

        .submenu a{
          cursor: pointer;
        }

        .mat-expansion-panel-header{
          padding: 0 10px !important;
        }

        .defaultColor{
            color:#333;
        }

        .content_description{
          padding-bottom: 20px;
          display: block;
        }

        .list-unstyled {
            margin-top: -15px;
        }

        .list-unstyled > li > div {
            margin: 10px 0px;
            padding: 0px;
        }

        .list-unstyled > li > div > a {
            color: #333;
        }

        .list-unstyled > li > div > a:hover{
            /* color: #23527c; */
            color: #1ebebc;
            text-decoration: underline;
        }

        .intro-box {
            background-color: #f9fafc;
            border-top: 3px solid #1ebebc;
            margin-bottom: 20px;
            padding: 0px 15px 15px 15px;
            height: auto !important;
            min-height: 115px;
            display: inline-block;
            width: 100%;
            color:#333;
            overflow: hidden;
            float: left;
            text-decoration: none;
        }

        .intro-box:hover {
            text-decoration: none;
            border-top: 3px solid #e6436e;
            background: #eaeaea;
        }

        .intro-box:hover h4 {
            color: #1ebebc !important;
        }



        .intro-box h4 {
            color: #333;
            font-weight: 700;
            padding: 0px 0px 10px 0px;
        }

        .intro-box p {
            padding: 0px;
        }

        .topic_bg_title {
            margin: -140px 0px;
            cursor: default;
            color: #fff;
            position: relative;
            /* background: #fff; */
            padding: 10px;
            background: #333;
            background: -webkit-linear-gradient(left, #333 60%, transparent);
            background: -o-linear-gradient(right, #333 60%, transparent);
            background: -moz-linear-gradient(right, #333 60%, transparent);
            background: linear-gradient(to right, #333 60%, transparent);
        }


            .hr-custom2 {
                margin-top: -5px;
                margin-bottom: 0px;
                border: 0;
                border-top: 3px solid #918c79;
                width: 8%;
                float: left;
            }

            .list-inline{
                margin-top: 25px;
            }

            .list-inline li a:hover{
                text-decoration:none;
                color:#333;
            }

            .titleWObg{
                color:#333;
            }
