<div class="container-fluid animated slideInDown" style="background: #a7a495;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="margin-top: 10px;" class="font-size-m">{{'sitemap.header' | translate}}</h1>
        <hr class="hr-custom2">
        <ul class="list-inline" style="clear:both;">
          <li>
            <a class="font-size-s" href="/index/">
              {{'home.menu.sitemap' | translate }}
            </a>
          </li>
          <!-- <li>/</li>
                    <li>
                        {{'home.breadcrumb.calendar' | translate}}
                    </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let category of catData" style="margin-bottom: 1%">
      <mat-expansion-panel-header style="background: #f5f5f5">
        <mat-panel-title style="font-weight: bold;">
          <span class="module_title">{{ category.name }}</span>
          <span class="module_counts pull-right">{{ category.contents.length }} {{ 'common.pagination.pages' | translate }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="padding-bottom: 0px; border-bottom: 1px solid #e6e6e6;">

        <ul [ngClass]="{'columnList':category.contents.length >= 10,'oneColumnList':category.contents.length < 10}">
          <li *ngFor="let content of category.contents">
            <a class="submenu_link" routerLinkActive="submenu_link_active" (click)="scrollTop()" [routerLink]=[content.url]>{{content.name}}</a>
          </li>
        </ul>

      </div>
    </mat-expansion-panel>
    <br />
  </mat-accordion>
</div>
<br />