<div class="container" style="margin-top: 5%; margin-bottom: 5%;">
    <div class="text-center" style="color: #000;">
        <h2 *ngIf="emailDesc">
          {{'common.profileEmailMsg' | translate}}
        </h2>
        <h2 *ngIf="phoneDesc">
          {{'common.profilePhoneMsg' | translate}}
        </h2>
        <div style="margin-top: 2%;">
          <button class="btn btn-md btn-success" (click)="getConfirmation()">
            {{'common.profileBtn' | translate}}
          </button>
        </div>
    </div>
    <div *ngIf="emailDesc || phoneDesc" class="bar">
      <div class="in"></div>
    </div>
  </div>
