<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"><i class="fa fa-times"></i></a>
    <ul>
        <li>
          <a routerLinkActive="topactive" (click)="showConfBar()">{{ 'home.menu.setting' | translate }} <i class="fa fa-caret-down"></i></a>
        </li>
        <li>
          <a routerLinkActive="topactive" [routerLink]="['contact']">{{ 'home.menu.contact' | translate }}</a> </li>
        <li>
          <a routerLinkActive="topactive" [routerLink]="['faq']">{{ 'home.menu.faq' | translate }}</a>
        </li>
        <li>
          <a routerLinkActive="topactive" [routerLink]="['manual']">{{ 'home.menu.manual' | translate }}</a>
        </li>
        <li>
          <a routerLinkActive="topactive" [routerLink]="['aboutus']">{{ 'home.menu.aboutus' | translate }}</a>
        </li>
    </ul>
  </div>