.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .mat-row:nth-child(even) {
    background: #f0f0f0;
  }

  .mat-header-cell {
    font-weight: bold;
    padding: 5px;
  }

  .mat-cell {
      padding: 5px;
      vertical-align: top;
  }

  .mat-column-subject{
      max-width:70%;
  }

  .mat-column-position{
      max-width:10%;
  }

  .mat-column-action{
    max-width:20%;
}

/* .list-inline{
	margin-top: 25px;
}

.list-inline li a:hover{
	text-decoration:none;
	color:#333;
} */

.table_row:hover{
    background:#ddd;
}

mat-table{
    height: 100%;
    min-height: 100%;
    max-height: 100% !important;
}

.table_row_height{
    height:45px;
}

.moreSearchOptBtn{
    float: right;
    position: relative;
    clear: both;
    margin-top: 15px;
} 

/* Toggle search */
.adSearch{
    position: absolute;
    right: 0px;
    top:-20px;
}

.editBtn{
    position: absolute;
    right: -15px;
    top:-60px;
}
  
.editBtn-active {
    position: absolute;
    background-color: rgb(109, 185, 38);
    color: #FFF;
    right: -15px;
    top:-60px;
}

input{
    color:#333;
}

.example-full-width{
    width: 100%;
}

.displayDesc{
    color: #333 !important; 
    font-weight: bold !important;
}

.displayJustify{
    color: black; 
    text-align: justify
}

.padding-bottom-20{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.line{
    border: none !important;
    height: 2px !important;
    color: grey !important;
    background-color: grey !important;
}

.padding-line{
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.tableHeader{
    height:40px !important; 
    font-size: 14px !important;
    font-weight: bold !important;
    color: black !important;
    /* background-color: #a7a495 !important; 
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12) */
}

table.example-table { 
    background: url("/assets/images/watermark_GOSG.png"); /* image courtesy of subtlepatterns.com */ 
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: 1000px 250px; */
}

