<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}"
tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-md">
<div class="modal-content">
 <div class="{{state | translate}}">
   <h2 class="modal-title text-center"><i class='{{title | translate}}'></i></h2>
 </div>
 <div class="modal-body">
    <span *ngIf="isRegister">
          <div style="font-weight:bold;"> {{content | translate}}</div>
    </span>

    <span *ngIf="isErrMsg">
      <div style="font-weight:bold;" [innerHTML]="content"></div>
    </span>
    <span *ngIf="!isErrMsg">{{content | translate}} </span>
    <div class="modal-body text-center">
     <button  *ngIf="isRegister" type="button" class="btn btn-success" (click)="hide()"><i class="fa fa-check"></i> {{'common.buttons.ok' | translate}}</button>
     <button  *ngIf="isErrMsg" type="button" class="btn btn-success" (click)="hide()"><i class="fa fa-check"></i> {{'common.buttons.ok' | translate}}</button>
     <button *ngIf="link" type="button" class="btn btn-default" (click)="confirm(link)" >{{'common.buttons.yes' | translate}}</button>
     
     <button *ngIf="isReset" type="button" class="btn btn-success" (click)="onSubmit($event)"><i class="fa fa-check"></i> {{'common.buttons.yes' | translate}}</button>
     <button *ngIf="isReset" type="button" class="btn btn-danger" (click)="hide()"><i class="fa fa-times"></i> {{'common.buttons.no' | translate}}</button>

   </div>
 </div>
</div>
</div>
</div>