<div class="container-fluid animated slideInDown" style="background: #a7a495;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="margin-top: 10px;" class="font-size-m">{{ 'gallery.header' | translate }}</h1>
        <hr class="hr-custom2">
        <ul class="list-inline" style="clear:both;">
          <li>
            <a class="font-size-s" routerLink="/">
              {{'home.menu.home' | translate }}
            </a>
          </li>
          <li>/</li>
          <li>
            {{'home.breadcrumb.gallery' | translate}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div style="margin-top:10px;" class="container">
  <div class="row">
      <div class="col-md-12">&nbsp;</div>
    <div class="col-sm-3">
      <div class="row">
        <div class="col-md-12 sideBarMenu">
          <!-- <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font">
            <i *ngIf="galleryService.galleries.mediaType == 'documents'" class="fa fa-file-o"></i>
            <i *ngIf="galleryService.galleries.mediaType == 'images'" class="fa fa-image"></i>
            <i *ngIf="galleryService.galleries.mediaType == 'audios'" class="fa fa-file-audio-o"></i>
            <i *ngIf="galleryService.galleries.mediaType == 'videos'" class="fa fa-file-video-o"></i>
            {{galleryService.galleries.mediaType}}
          </h4> -->
          <div *ngFor="let content of galleryService.galleries.leftMenu">
            <mat-card style="margin-bottom: 1%; cursor: pointer;" (click)="clickSideMenu(content.id, content.active)">
              <i *ngIf="content.name == 'documents'" class="fa fa-file-o"></i>
              <i *ngIf="content.name == 'images'" class="fa fa-image"></i>
              <i *ngIf="content.name == 'audios'" class="fa fa-file-audio-o"></i>
              <i *ngIf="content.name == 'videos'" class="fa fa-file-video-o"></i>
              <a [routerLinkActive]="['active']" [style.font-weight]="content.active ? 'bold' : 'normal'" [style.color]="content.active ? getTheme() : '#333'">{{content.name}}</a>
            </mat-card>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-9" style="color: #333; border: 0px solid #000">
      <div class="row">
        <div class="col-md-9">
          <h2 class="titleWObg font-size-l">
            <i *ngIf="galleryService.galleries.mediaType == 'documents'" class="fa fa-file-o"></i>
            <i *ngIf="galleryService.galleries.mediaType == 'images'" class="fa fa-image"></i>
            <i *ngIf="galleryService.galleries.mediaType == 'audios'" class="fa fa-file-audio-o"></i>
            <i *ngIf="galleryService.galleries.mediaType == 'videos'" class="fa fa-file-video-o"></i>
            {{galleryService.galleries.mediaType}}
          </h2>
        </div>
        <div class="col-md-9">&nbsp;</div>
      </div>

      <div class="container">
        <div class="col-md-9 galleryTbl">
          <div *ngFor="let content of galleryService.galleries.list">

            <!-- IMAGES -->
            <div *ngIf="galleryService.galleries.mediaType == 'images'">
              <mat-card style="margin-bottom: 10%; margin-left: 0; margin-right: 0; width: fit-content; padding-left: 0; padding-right: 0; cursor: pointer;">
                <img style="cursor: pointer;" (click)="openDialog(mediaUrl+'/'+content.name,galleryService.galleries.mediaType, content.title)" src="{{ mediaUrl }}/{{ content.name }}"
                  width="150px" height="auto">
              </mat-card>
            </div>

            <!-- AUDIOS -->
            <div *ngIf="galleryService.galleries.mediaType == 'audios'">
              <button mat-button color="primary" (click)="openDialog(mediaUrl+'/'+content.name,galleryService.galleries.mediaType, content.title)"><i class="font-size-l fa fa-play-circle-o"></i>&nbsp;{{ content.title }}</button>
            </div>

            <!-- VIDEOS -->
            <div *ngIf="galleryService.galleries.mediaType == 'videos'">
              <button mat-button color="warn" (click)="openDialog(mediaUrl+'/'+content.name,galleryService.galleries.mediaType, content.title)"><i class="font-size-l fa fa-play-circle-o"></i>&nbsp;{{ content.title }}</button>
            </div>

            <!-- DOCUMENTS -->
            <div *ngIf="galleryService.galleries.mediaType == 'documents'">
              <span *ngIf="content.title.length > 25" class="font-size-s" title="{{ content.title }}">{{ content.title | slice:0:25 }}...</span>&nbsp;
              <span *ngIf="content.title.length <= 25" class="font-size-s">{{ content.title }}</span>&nbsp;
              <a *ngIf="content.name !== '-'" class="font-size-s" [href]="mediaUrl+'/'+content.name" title="{{ 'gallery.label.download' | translate }}: {{ content.title }}">
                <i class="font-size-s defaultColor fa fa-download"></i>
              </a>
            </div>

          </div>
          <div class="col-md-9">&nbsp;</div>
        </div>

      </div>
    </div>
    
    <div class="col-md-9">&nbsp;</div>
  </div>
</div>