.glass::before {
  /* background-image: url('path/to/image.jpg'); Actual image for this demo is a data-uri, see below */
  /* Prefix free isn't picking up this one */
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.5;
}

.glass {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  padding: 10px;
  background-color:rgba(220,220,220, 0.1);
  border-radius: 4px;
  /* border-bottom: #333 1px solid; */
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.sideBarMenu--title {
    font-size: 20px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .submenu{
    padding-left:40px;
    padding-left: 17px;
    padding-bottom: 10px;
    padding-top: 0px;
  }
  
  .submenu a{
    cursor: pointer;
  }
  
  .mat-expansion-panel-header{
    padding: 0 10px !important;
  }
  
  .defaultColor{
    color:#333;
  }
  
  .list-unstyled {
    margin-top: -15px;
  }
  
  .list-unstyled > li > div {
    margin: 10px 0px;
    padding: 0px;
  }
  
  .list-unstyled > li > div > a {
    color: #333;
  }
  
  .list-unstyled > li > div > a:hover{
    /* color: #23527c; */
    color: #1ebebc;
    text-decoration: underline;
  }
  
  .intro-box {
    background-color: #f9fafc;
    border-top: 3px solid #1ebebc;
    margin-bottom: 20px;
    padding: 0px 15px 15px 15px;
    height: auto !important;
    min-height: 115px;
    display: inline-block;
    width: 100%;
    color:#333;
    overflow: hidden;
    float: left;
    text-decoration: none;
  }
  
  .intro-box:hover {
    text-decoration: none;
    border-top: 3px solid #e6436e;
    background: #eaeaea;
  }
  
  .intro-box:hover h4 {
    color: #1ebebc !important;
  }
  
  .intro-box h4 {
    color: #333;
    font-weight: 700;
    padding: 0px 0px 10px 0px;
  }
  
  .intro-box p {
    padding: 0px;
  }
  
  .topic_bg_title {
    margin-top: 100px;
    cursor: default;
    color: #fff;
    position: relative;
    /* background: #fff; */
    padding: 10px;
    background: #333;
    background: -webkit-linear-gradient(left, #333 60%, transparent);
    background: -o-linear-gradient(right, #333 60%, transparent);
    background: -moz-linear-gradient(right, #333 60%, transparent);
    background: linear-gradient(to right, #333 60%, transparent);
  }
  
  
    .hr-custom2 {
        margin-top: -5px;
        margin-bottom: 0px;
        border: 0;
        border-top: 3px solid #918c79;
        width: 8%;
        float: left;
    }
  
    .list-inline{
        margin-top: 25px;
    }
  
    .list-inline li a:hover{
        text-decoration:none;
        color:#333;
    }
  
     .titleWObg{
        color:#333;
    }

    .galleryContent {
      display: table;
    }

    .galleryContent > ul {
        display: table-cell;
    }
    
    .galleryContent > ul li.a {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 5%;
        /* width: 45%!important; */
        width: 100%!important;
        border-top: #00bdbb 2px solid;
        margin-right: 20px!important;
        margin-left: -5%;
        background: #f3f3f3;
    }
    
    .no-styles {
      font-size: 0.8em;
      text-decoration: none;
      list-style: none;
      margin-left: -5%;
    }

    /* .galleryTbl {
      column-count: 4;
      column-gap: 0;
      position: relative;
      text-align: center;
    } */

    .galleryBtn {
      margin-right: 1%;
    }

    .mediaContent {
      text-align:  center; justify-content: space-between
    }

    .vContent {
      text-align:  left; justify-content: space-between
    }
    
    .example-card {
      max-width: 150px;
      cursor: pointer;
      padding: 0;
    }
    
    /* MASONRY CSS */
    .galImg {
      cursor: pointer; border: 1px solid;
      width: 150px;
      height: auto;
    }

    .ml {
      box-sizing: border-box;
      column-count: 1;
      column-gap: 0;
      position: relative;
    }
    .ml * {
      box-sizing: border-box;
    }

    .audio-player {
      display: block
    }

    .video-player {
      display: block
    }

    .gal-popup {
      text-align: center; 
      margin-right: auto; 
      margin-left: auto; 
      padding-left: 15px; 
      padding-right: 15px; 
      padding-top: 15px
    }

    input {
      color: #000
  }
      
  .example-full-width {
  width: 100%;
  }
  
  #details {
  display: none;
  }
  
  .details-show {
  display: block;
  z-index: 9999;
  }
  
  .listParent-w-scroll {
      background: #f8f8f8;
      position:absolute; left: 4%; top:70%; z-index: 2; overflow-y: scroll; height: 250px;
      border-top: 0px;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
  }
  
  .listParent {
      position:absolute; left: 2.5%; top:70%; z-index: 2;
  }
  
  .pmd-card-list {
      margin-bottom: 0;
      background-color: #fff;
      margin-top: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      width: 450px;
  }
  
  .pmd-z-depth {
      box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  }
  .list-group{
      padding-left: 0;
  }
  .pmd-list .list-group-item {
      padding: 0px;
      margin: 0px;
  }
  
  .list-group-item {
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-bottom: -1px;
      background-color: transparent;
      border: 1px solid transparent;
  }
  
  .list-link{
      display: block;
      padding: 10px;
      margin: 0px;
      text-decoration: none;
      color: #000;
      background:#fff;
      text-align: left;
      cursor: pointer;
  }
  
  
  .list-link:hover{
      background:#797979;
      color: #fff;
      cursor: pointer;
  }

    
    @media (min-width: 320px) and (min-height: 569px) {

      .galImg {
        cursor: pointer; border: 1px solid;
        width: 100%;
        height: auto;
        margin-bottom: 3%;
      }

      .galleryTbl {
        column-count: 1;
        column-gap: 0;
        position: relative;
        text-align: center;
      }

      .ml {
        column-count: 1;
      }

      .audio-player {
        width: 91%;
      }
    }

    @media (min-width: 569px) and (min-width: 320px) {

      .galImg {
        cursor: pointer; border: 1px solid;
        width: 100%;
        height: auto;
        margin: 3%;
      }

      .galleryTbl {
        column-count: 2;
        column-gap: 0;
        position: relative;
        text-align: center;
      }

      .ml {
        column-count: 1;
      }

      .audio-player {
        width: 91%;
      }
    }

    .ml-pnl {
      margin: 0;
      padding: 5px;
    }

    .ml-pnl__cntnt {
      border-radius: 10px;
      overflow: hidden;
      padding: 10px;
      width: 100%;
    }
    .ml-pnl__cntnt--img {
      max-width: 100%;
      padding: 0;
    }
    .ml-flp {
      perspective: 1000;
    }
    .ml-flp:hover .ml-flp__cntnt {
      transform: rotateY(180deg);
    }
    .ml-flp--sm {
      height: 200px;
    }
    .ml-flp--md {
      height: 300px;
    }
    .ml-flp--lg {
      height: 400px;
    }
    .ml-flp__pnl {
      backface-visibility: hidden;
      border-radius: 10px;
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .ml-flp__pnl--frnt {
      transform: rotateY(0deg);
      z-index: 2;
    }
    .ml-flp__pnl--bck {
      transform: rotateY(180deg);
    }
    .ml-flp__cntnt {
      height: 100%;
      overflow: visible;
      position: relative;
      transform-style: preserve-3d;
      transition: 0.25s;
    }
    .ml-clstr {
      display: flex;
      padding: 0;
    }
    .ml-clstr--vrt {
      flex-direction: column;
    }
    .ml-clstr--hrz {
      flex-direction: column;
    }
    .ml-clstr__sgmnt {
      display: flex;
      overflow: hidden;
      flex: 1 1 auto;
    }
    .ml-clstr__sgmnt--rw {
      display: flex;
      flex-direction: column;
    }
    .ml-clstr__sgmnt--clmn {
      flex-direction: column;
    }

    @media only screen and (min-width: 320px) {
    
    
    }
    
    @media only screen and (min-width: 360px) {
    
    }
    
    @media only screen and (min-width: 480px) {
    
    }
    
    @media only screen and (min-width: 540px) {
    
    }
    
    @media only screen and (min-width: 640px) {
    
    
    }
    
    @media only screen and (min-width: 768px) {
      .ml {
        column-count: 2;
      }
      .ml-pnl {
        break-inside: avoid;
      }
      .ml-clstr--vrt {
        flex-direction: row;
      }
      .ml-clstr__sgmnt--rw {
        flex-direction: row;
      }
      .ml-clstr__sgmnt--hlf {
        flex-basis: 50%;
      }
      .ml-clstr__sgmnt--qrt {
        flex-basis: 25%;
      }
    
    }
    
    @media only screen and (min-width: 854px) {
    
    }
    
    @media only screen and (min-width: 960px) {
      .ml {
        column-count: 5;
      }
    }
    
    @media only screen and (min-width: 1024px) {
    
    
    }