<gosg-shared-loader [loader]="loading"></gosg-shared-loader>
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="margin-top: 10px;" class="font-size-m">{{ 'gallery.header' | translate }}</h1>
        <hr class="hr-custom2">
        <ul class="list-inline" style="clear:both;">
          <li>
            <a class="font-size-s" routerLink="/">
              {{'home.menu.home' | translate }}
            </a>
          </li>
          <li>/</li>
          <li>
            {{'home.breadcrumb.gallery' | translate}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div style="margin-top:10px;" class="container">
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
    <div class="col-sm-3">
      <div class="row">
        <div class="col-md-12 sideBarMenu capitalize">
          <!-- <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font">
            <i *ngIf="galleryService.galleries.mediaType == 'documents'" class="fa fa-file-o"></i>
            <i *ngIf="galleryService.galleries.mediaType == 'images'" class="fa fa-image"></i>
            <i *ngIf="galleryService.galleries.mediaType == 'audios'" class="fa fa-file-audio-o"></i>
            <i *ngIf="galleryService.galleries.mediaType == 'videos'" class="fa fa-file-video-o"></i>
            {{galleryService.galleries.mediaType}}
          </h4> -->
          <div *ngFor="let content of galleryService.galleries.leftMenu">
            <mat-card style="margin-bottom: 1%; cursor: pointer;" (click)="clickSideMenu(content.id, content.name, content.active)">
              <i *ngIf="content.name == 'documents' || content.name == 'dokumen'" class="fa fa-file-o"></i>
              <i *ngIf="content.name == 'images' || content.name == 'imej'" class="fa fa-image"></i>
              <i *ngIf="content.name == 'audios' || content.name == 'audio'" class="fa fa-file-audio-o"></i>
              <i *ngIf="content.name == 'videos' || content.name == 'video'" class="fa fa-file-video-o"></i>
              &nbsp;<a [routerLinkActive]="['active']" [style.font-weight]="content.active ? 'bold' : 'normal'"
                [style.color]="content.active ? getTheme() ? getTheme() : 'rgb(0, 189, 187)' : '#333'">{{content.name}}</a>
            </mat-card>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div *ngIf="galleryService.galleries.mediaType == 'media by agency'" class="text-right">
        <mat-form-field class="example-full-width">
          <input autocomplete="off" matInput tabindex="1" placeholder="{{ 'calendar.details.agency' | translate }}" [(ngModel)]="agencySel"
            (keyup)="getSearchData(agencySel)">
          <button mat-button *ngIf="agencySel" matSuffix mat-icon-button aria-label="Clear" (click)="agencySel=''; resetSearch()">
            <mat-icon style="color: #000">X</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <div class="col-sm-9" style="color: #333; border: 0px solid #000">
      <div class="row">
        <!-- <div class="col-md-9">
          <h2 class="titleWObg font-size-l capitalize">
            <i *ngIf="galleryService.galleries.mediaType == 'documents' || galleryService.galleries.mediaType == 'dokumen'" class="fa fa-file-o"></i>
            <i *ngIf="galleryService.galleries.mediaType == 'images' || galleryService.galleries.mediaType == 'imej'" class="fa fa-image"></i>
            <i *ngIf="galleryService.galleries.mediaType == 'audios' || galleryService.galleries.mediaType == 'audio'" class="fa fa-file-audio-o"></i>
            <i *ngIf="galleryService.galleries.mediaType == 'videos' || galleryService.galleries.mediaType == 'video'" class="fa fa-file-video-o"></i>
            &nbsp;{{galleryService.galleries.mediaType}}
          </h2>
        </div>
        <div class="col-md-9">&nbsp;</div> -->

        <!-- <div class="container"> -->
        <div class="col-md-12 galleryTbl">
          <div *ngFor="let content of galleryService.galleries.list">

            <!-- IMAGES -->
            <div *ngIf="galleryService.galleries.mediaType == 'images'">
              <!-- <mat-card class="example-card">
                  <mat-card-header>
                    <mat-card-title>{{ content.title }}</mat-card-title>
                  </mat-card-header> -->
              <img class="galImg" (click)="openDialog(config.externalMediaURL +content.name,galleryService.galleries.mediaType, content.title, content.description)"
                src="{{ config.externalMediaURL }}/{{ content.name }}">
              <!-- </mat-card> -->
            </div>

            <!-- AUDIOS -->
            <div *ngIf="galleryService.galleries.mediaType == 'audios'" class="vContent">
              <button mat-button color="primary" (click)="openDialog(config.externalMediaURL +content.name,galleryService.galleries.mediaType, content.title)"
                title="{{ content.title }}"><i class="font-size-l fa fa-play-circle-o"></i>&nbsp;&nbsp;{{ content.title
                | slice:0:20 }}...</button>
            </div>

            <!-- VIDEOS -->
            <div *ngIf="galleryService.galleries.mediaType == 'videos'" class="vContent">
              <button mat-button color="warn" (click)="openDialog(config.externalMediaURL +content.name,galleryService.galleries.mediaType, content.title)"><i
                  class="font-size-l fa fa-play-circle-o"></i>&nbsp;&nbsp;{{ content.title }}</button>
            </div>

            <!-- DOCUMENTS -->
            <div *ngIf="galleryService.galleries.mediaType == 'documents'" class="vContent">
              <button class="galleryBtn" mat-button (click)="downloadFile(config.externalMediaURL +content.name)"><i
                  class="font-size-l fa fa-download"></i>&nbsp;&nbsp;{{ content.title }}</button>
              <!-- <span *ngIf="content.title.length > 25" class="font-size-s" title="{{ content.title }}">{{ content.title | slice:0:25 }}...</span>&nbsp;
              <span *ngIf="content.title.length <= 25" class="font-size-s">{{ content.title }}</span>&nbsp;
              <a *ngIf="content.name !== '-'" class="font-size-s" [href]="config.externalMediaURL +mediaUrl+'/'+content.name" title="{{ 'gallery.label.download' | translate }}: {{ content.title }}">
                <i class="font-size-s defaultColor fa fa-download"></i>
              </a> -->
            </div>

            <!-- BY MEDIA -->
            <div *ngIf="galleryService.galleries.mediaType == 'media by agency'" class="vContent">
              <div class="glass text-center">
                {{ content.agencyName }}
                <br />
                <button *ngIf="content.agencyAudioUrl" class="galleryBtn" mat-button color="primary" title="Audio"
                  (click)="downloadFile(content.agencyAudioUrl, '_blank')">
                  <i class="font-size-l fa fa-play-circle-o"></i>&nbsp;&nbsp;
                </button>
                <button *ngIf="content.agencyPhotoUrl" class="galleryBtn" mat-button color="primary" (click)="downloadFile(content.agencyPhotoUrl, '_blank')">
                  <i class="font-size-l fa fa-image"></i>&nbsp;&nbsp;
                </button>
                <button *ngIf="content.agencyVideoUrl" class="galleryBtn" mat-button color="warn" title="Video" (click)="downloadFile(content.agencyVideoUrl, '_blank')">
                  <i class="font-size-l fa fa-play-circle-o"></i>&nbsp;&nbsp;
                </button>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-9">&nbsp;</div>
      </div>
      <div class="col-md-9">&nbsp;</div>

      <!-- </div> -->
    </div>

  </div>
  <div class="col-md-9">&nbsp;</div>
</div>