<gosg-shared-loader [loader]="loading"></gosg-shared-loader>
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container">
         <div class="row">
            <div class="col-md-12">
                <h1 style="margin-top: 10px;" class="font-size-l"> KEMUDAHAN CARIAN SEKOLAH - SEKOLAH DI MALAYSIA</h1>
                <hr class="hr-custom2"><br>
                <ul class="list-inline" style="clear:both;">
                    <li>
                        <a class="font-size-s" style="color: #fff;" routerLink="/">
                            {{'home.menu.home' | translate }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <br>
        <form [formGroup]="searchForm" role="form" novalidate="novalidate">
            <div class="example-container padding-right20" style="color: black; padding-bottom: 20px;">
                <h4>KEMUDAHAN CARIAN SENARAI SEKOLAH - SEKOLAH DI BAWAH KEMENTERIAN PENDIDIKAN MALAYSIA SEHINGGA 30 APRIL 2018</h4>
            </div>

            <div class="mat-elevation-z8 padding-right20" id="boxCarian">
                <div class="row padding-15">
                    <div class="col-md-4" style="color: black">
                      <mat-form-field class="example-full-width">
                        <mat-select formControlName="jenisCarian" placeholder="Jenis Carian">
                            <mat-option [value]=1>Carian berdasarkan kategori.</mat-option>
                            <mat-option [value]=2>Carian berdasarkan nama sekolah.</mat-option>
                        </mat-select>
                    </mat-form-field>
                    </div>
                </div>

                <div class="row padding-15" *ngIf="searchForm.controls.jenisCarian.value == 1">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-select formControlName="optSelect" placeholder="Kategori Sekolah" (change)="getTypeSchool(searchForm.value)" required>
                                <mat-option [value]=1>Prasekolah</mat-option>
                                <mat-option [value]=2>Sekolah Rendah</mat-option>
                                <mat-option [value]=3>Sekolah Menengah</mat-option>
                            </mat-select>
                            <mat-error *ngIf="searchForm.controls.optSelect.hasError('required')">
                                Kategori Sekolah diperlukan.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-select formControlName="state" placeholder="Negeri"
                                (change)="getPPD(searchForm.controls.state.value,searchForm.controls.optSelect.value)" required>
                                <mat-option *ngFor="let state of listState" [value]="state">{{state}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="searchForm.controls.state.hasError('required')">
                                Negeri diperlukan.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-4" *ngIf="valSchoolCat != 1">
                        <mat-form-field class="example-full-width">
                            <mat-select formControlName="typeSchool" placeholder="Jenis Sekolah" (change)="checkReqValues()" required>
                                <mat-option *ngFor="let ts of listTypeS" [value]="ts.id">{{ts.text}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="searchForm.controls.typeSchool.hasError('required')">
                                Jenis Sekolah diperlukan.
                            </mat-error>
                        </mat-form-field>
                    </div>
                <!-- </div>
                <div class="row padding-15" *ngIf="searchForm.controls.jenisCarian.value == 1"> -->
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-select formControlName="ppd" placeholder="Pejabat Pendidikan Daerah (PPD)" (change)="checkReqValues()" required>
                                <mat-option *ngFor="let ppd of listPPD" [value]="ppd.id">{{ppd.text}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="searchForm.controls.ppd.hasError('required')">
                                Pejabat Pendidikan Daerah (PPD) diperlukan.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <mat-select formControlName="speacialEd" placeholder="Pendidikan Khas" (change)="checkReqValues()" required>
                                <mat-option *ngFor="let khas of listKhas" [value]="khas.id">{{khas.text}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="searchForm.controls.speacialEd.hasError('required')">
                                Pendidikan Khas diperlukan.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row padding-15" *ngIf="searchForm.controls.jenisCarian.value == 2">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nama Sekolah" formControlName="schoolname"
                            required tabindex="1" style="color: black" (keyup)="checkReqValues()">
                            <mat-error *ngIf="searchForm.controls.schoolname.hasError('required')">
                                Nama Sekolah diperlukan.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row padding-15">
                    <div class="col-md-12">
                        <button tabindex="" mat-raised-button color="warn" type="button"
                            class="form-control btn btn-md btn-warning font-size-s pull-right bttnCustom"
                            (click)="resetModal.show()" style="margin-left: 5px;">
                            <i class="fa fa-refresh"></i> {{'feedback.label.reset' | translate }}</button>
                        <button mat-raised-button type="button" color="primary"
                            class="form-control btn btn-md btn-success font-size-s pull-right bttnCustom" [disabled]="!complete"
                            (click)="searchApp()">
                            <i class="fa fa-search"></i> {{'appmngt.setSearch.search' | translate}}</button>
                    </div>
                </div>

            </div>
        </form>
    </div><br>

    <div *ngIf="showDetails" id="boxHasil">
        <div class="row">
            <div class="col-md-12" style="color: black; font-weight: bold;" *ngIf="charCarian == undefined">
                HASIL CARIAN <span class="badge badge-pill badge-success">{{noOfSc}}</span><br>
                <hr class="lineHr" style="border-top: #9c9c9d 1px solid;">
            </div>

            <div class="col-md-12" style="color: black; font-weight: bold;" *ngIf="charCarian != undefined">
                HASIL CARIAN <span class="badge badge-pill badge-success">{{charCarian}} dari {{noOfSc}}</span><br>
                <hr class="lineHr" style="border-top: #9c9c9d 1px solid;">
            </div>
        </div>

        <div class="row">
          <div class="col-md-8">
              <p  style="color: black; font-weight: bold;">Catatan: PPD - Pejabat Pendidikan Daerah, PK - Pendidikan Khas</p>
          </div>
          <div class="col-md-4">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Carian berdasarkan kata kunci" #myInput id="myInput" (keyup)="newRecord(myInput.value)" [(ngModel)]="query" style="color: black">
              </mat-form-field>
          </div>
        </div><br>

        <div class="mat-elevation-z8 padding-15" style="max-height: 500px; overflow: auto;">

            <table class="mat-table table-hover" id="dataTable" style="width:100%;">
                <tr class="mat-header-row tableHeader">
                    <th class="" width="5%">&nbsp;{{'appmngt.tableHeader.num' | translate}}</th>
                    <th class="" width="7%">Kod Sekolah</th>
                    <th class="" >Nama Sekolah</th>
                    <th class="" width="10%">PDD</th>
                    <th class="" width="5%">PK</th>
                    <th class="" width="10%">Jenis</th>
                    <th class="" width="13%">Alamat</th>
                    <th class="" width="7%">No. Telefon</th>
                    <th class="" width="7%">No. Faksimili</th>
                    <th class="" width="8%">Emel</th>
                    <th class="" width="7%">Maklumat Lanjut</th>
                    <th class="" style="display: none">Lat</th>
                    <th class="" style="display: none">Long</th>
                    <th class="" style="display: none">Bandar</th>
                    <th class="" style="display: none">Negeri</th>
                </tr>
                <tr (click)="goTo(data.latitude,data.longitude,data.namaSekolah,data.alamat,data.telNo, data.bandar, data.negeri)" 
                    class="mat-row table_row table_row_height" 
                    *ngFor="let data of recordData | search : query; let i = index;" role="row">
                    <td class="mat-cell text-center">{{i+1}}</td>
                    <td class="mat-cell">{{data.kodSekolah}}</td>
                    <td class="mat-cell">{{data.namaSekolah}}</td>
                    <td class="mat-cell">{{data.daerahPPD}}</td>
                    <td class="mat-cell">{{convertPK(data.pendidikanKhas)}}</td>
                    <td class="mat-cell">{{data.jenisSekolah}}</td>
                    <td class="mat-cell">{{data.alamat}}</td>
                    <td class="mat-cell">{{data.telNo}}</td>
                    <td class="mat-cell">{{data.faxNo}}</td>
                    <td class="mat-cell">{{data.email}}</td>
                    <td class="mat-cell text-center">
                      <button class="btn btn-sm btn-warning" (click)="view(data.kodSekolah)">
                        <i class="fa fa-eye font-size-s"></i>
                      </button></td>
                    <td class="mat-cell" style="display: none">{{data.latitude}}</td>
                    <td class="mat-cell" style="display: none">{{data.longitude}}</td>
                    <td class="mat-cell" style="display: none">{{data.bandar}}</td>
                    <td class="mat-cell" style="display: none">{{data.negeri}}</td>
                </tr>
                <tr *ngIf="showNoData && charCarian == 0">
                    <td colspan="10" class="showData">
                    <hr><br>Data tidak dijumpai</td>
                </tr>
            </table>

        </div>
    </div><br>

    <div class="row container" style="padding-bottom: 20px;" id="petaHasilCarian">
        <div class="col-md-12" id="dirmap"></div>
    </div>
</div>

<app-confirm-dialog #resetModal
    [title]="'common.icon.warn'"
    [content]="'common.msg.reset'"
    [state]="'common.state.warn'"
    [isReset]="'true'"
    (resetMethod)="resetMethod($event)">
</app-confirm-dialog>
