<gosg-protected-loader [loader]="loading"></gosg-protected-loader>
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="margin-top: 10px;" class="font-size-l">{{'home.breadcrumb.perhilitan' | translate}}</h1>
        <hr class="hr-custom2">
        <ul class="list-inline" style="clear:both;">
          <li>
            <a class="font-size-s" routerLink="/">
                      {{'home.menu.home' | translate }}
                  </a>
          </li>
          <li>/</li>
          <li>
            {{'home.breadcrumb.perhilitan' | translate}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12">&nbsp;</div>

  <div class="col-md-12 mainTitleStepper">
    <h3>Permohonan Baru Lesen Peniaga/Taksidermi</h3>
  </div>

  <div class="col-md-12 mainTitleStepper">
    <span>Berikut merupakan aliran proses servis dalam perkhidmatan Permohonan Baru Lesen Peniaga/Taksidermi.</span>
  </div>

  <div class="col-md-12 padding-left-0">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel><span class="stepperTitle">Maklumat Pemohon</span></ng-template>
          <div>
              <div class="row">
                <div class="col-md-12 titleDescStepper">
                    <i class="fa fa-user displayDesc"></i> <span class="displayDesc">Maklumat Pemohon</span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field  class="example-full-width displayInfo">
                    <input matInput formControlName="namaPemohon" placeholder="Nama Pemohon" required readonly>
                  </mat-form-field>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field  class="example-full-width displayInfo">
                    <input matInput formControlName="icPemohon" placeholder="No.IC/Pasport" required readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field  class="example-full-width displayInfo">
                    <input matInput formControlName="phonePemohon" placeholder="No. Telefon" required readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field  class="example-full-width displayInfo">
                    <input matInput formControlName="emailPemohon" placeholder="Emel" required readonly>
                  </mat-form-field>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width displayInfo">
                    <textarea matInput formControlName="add1" placeholder="Alamat Tetap" required readonly></textarea>
                  </mat-form-field>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field  class="example-full-width displayInfo">
                    <input matInput formControlName="poskodPemohon" placeholder="Poskod" required readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field  class="example-full-width displayInfo">
                    <input matInput formControlName="daerahPemohon" placeholder="Daerah" required readonly>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field  class="example-full-width displayInfo">
                    <input matInput formControlName="negeriPemohon" placeholder="Negeri" required readonly>
                  </mat-form-field>
                </div>
              </div>
          </div>

          <div class="pull-right">
            <button mat-raised-button matStepperNext color="primary" class="btn btn-md iconBtn" [disabled]="flagAfterSubmit">            
              <i class="fa fa-arrow-circle-right"></i>
              <span class="textDisplay">Seterusnya</span>
            </button>
          </div>
        </form>
      </mat-step>


      <mat-step [stepControl]="secondFormGroup" >
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel><span class="stepperTitle">Maklumat Pemilik 1/2</span></ng-template>
          <div>
            <div class="row">
              <div class="col-md-12 titleDescStepper">
                  <i class="fa fa-user displayDesc"></i> <span class="displayDesc">Maklumat Pemilik 1/2</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-select formControlName="warganegara" placeholder="Warganegara" required 
                    (change)="checkWarganegara(secondFormGroup.value)">
                    <mat-option *ngFor="let nation of nationality" [value]="nation.nationalityId">
                      {{nation.isNationality}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-select formControlName="typeIC" placeholder="Jenis IC" required
                  (change)="checkTypeIc(secondFormGroup.value)">
                    <mat-option *ngFor="let listIC of listjic" [value]="listIC.id">
                      {{listIC.text}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-4" *ngIf="selectedTypeIC == 1">
                <mat-form-field  class="example-full-width displayInfo">
                  <input matInput formControlName="icpassport" placeholder="No.IC/Passport" required
                  (change)="getDetailIC(langID, secondFormGroup.value)" [textMask]="{mask: maskIC}">
                </mat-form-field>
              </div>

              <div class="col-md-4" *ngIf="selectedTypeIC == 0">
                <mat-form-field  class="example-full-width displayInfo">
                  <input matInput formControlName="icpassport" placeholder="No.IC/Passport" required
                  (change)="getDetailIC(langID, secondFormGroup.value)" maxlength="12">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <mat-form-field  class="example-full-width displayInfo">
                  <input matInput formControlName="namaPemilik" placeholder="Nama Pemilik" required (keyup)="checkReqValues2()">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field  class="example-full-width displayInfo">
                  <input matInput formControlName="phonePemilik" placeholder="No. Telefon" required [textMask]="{mask: maskPhone}">
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-select formControlName="jobType" placeholder="Jenis Pekerjaan" required 
                  (change)="checkOccupation(secondFormGroup.value)">
                    <mat-option  *ngFor="let listOc of listOccupation" [value]="listOc.jobTypeId">
                      {{listOc.jobTypeDescription}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-select formControlName="jobGroup" placeholder="Kumpulan Pekerjaan" required
                  (change)="checkReqValues2()">
                    <!-- <mat-option [value]="">Sila Pilih</mat-option> -->
                    <mat-option *ngFor="let listGpOcc of listGroupOcc" [value]="listGpOcc.id">
                      {{listGpOcc.text}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
        
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width displayInfo">
                  <textarea matInput formControlName="addPemilik" placeholder="Alamat Tetap" required (keyup)="checkReqValues2()"></textarea>
                </mat-form-field>
              </div>
            </div>
    
            <div class="row">
              <div class="col-md-4">
                <mat-form-field  class="example-full-width displayInfo">
                  <input matInput formControlName="poskodPemilik" placeholder="Poskod" required
                  (change)="checkposkod(1, secondFormGroup.value)" [textMask]="{mask: maskPostcode}">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field  class="example-full-width displayInfo">
                  <mat-select formControlName="daerahPemilik" placeholder="Daerah" required
                  (change)="checkState(1,secondFormGroup.value)">
                    <mat-option *ngFor="let lDaerah of listdaerahT" [value]="lDaerah.postcodeId">
                      {{lDaerah.city}} - {{lDaerah.state}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field  class="example-full-width displayInfo">
                  <input matInput formControlName="negeriPemilik" placeholder="Negeri" required>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="pull-right">
            <button mat-raised-button matStepperPrevious color="primary" class="btn btn-md iconBtn">
              <i class="fa fa-arrow-circle-left"></i>
              <span class="textDisplay">Sebelum</span>
            </button>
            <button mat-raised-button matStepperNext color="primary" class="btn btn-md iconBtn" [disabled]="flag2">              
              <i class="fa fa-arrow-circle-right"></i>
              <span class="textDisplay">Seterusnya</span>
            </button>
            <button mat-raised-button color="primary" class="btn btn-md iconBtn" (click)="draft()">              
              <i class="fa fa-floppy-o"></i>
              <span class="textDisplay">Draf</span>
            </button>
          </div>
        </form>
      </mat-step>


      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel><span class="stepperTitle">Maklumat Pemilik 2/2</span></ng-template>
          <div>
            <div class="row">
              <div class="col-md-12 titleDescStepper">
                  <i class="fa fa-folder displayDesc"></i> <span class="displayDesc">Maklumat Pemilik 2/2</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">                
                <mat-form-field class="example-full-width displayInfo">
                  <span>Alamat Surat-Menyurat * </span> 
                  <mat-checkbox formControlName="copyAdd" id="copyAdd" (change)="clickCopyAdd()"></mat-checkbox>
                  Salin Alamat Tetap
                  <textarea matInput formControlName="mailingAdd" placeholder="" (keyup)="checkReqValues3()"></textarea>
                </mat-form-field>
              </div>
            </div>
    
            <div class="row">
              <div class="col-md-4">
                <mat-form-field  class="example-full-width displayInfo">
                  <input matInput formControlName="mailingPoskod" placeholder="Poskod" required
                  (change)="checkposkod(2, thirdFormGroup.value)" [textMask]="{mask: maskPostcode}">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field  class="example-full-width">
                  <mat-select formControlName="mailingDaerah" placeholder="Daerah" required
                  (change)="checkState(2,thirdFormGroup.value)">
                    <mat-option *ngFor="let lDaerah of listdaerahSurat" [value]="lDaerah.postcodeId">
                      {{lDaerah.city}} - {{lDaerah.state}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field  class="example-full-width displayInfo">
                  <input matInput formControlName="mailingNegeri" placeholder="Negeri" required>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="pull-right">
            <button mat-raised-button matStepperPrevious color="primary" class="btn btn-md iconBtn">
              <i class="fa fa-arrow-circle-left"></i>
              <span class="textDisplay">Sebelum</span>
            </button>
            <button mat-raised-button matStepperNext color="primary" class="btn btn-md iconBtn" [disabled]="flag3">              
              <i class="fa fa-arrow-circle-right"></i>
              <span class="textDisplay">Seterusnya</span>
            </button>
            <button mat-raised-button color="primary" class="btn btn-md iconBtn" (click)="draft()">              
              <i class="fa fa-floppy-o"></i>
              <span class="textDisplay">Draf</span>
            </button>
          </div>
        </form>
      </mat-step>


      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel><span class="stepperTitle">Maklumat Syarikat</span></ng-template>
          <div>
            <div class="row">
              <div class="col-md-12 titleDescStepper">
                  <i class="fa fa-institution displayDesc"></i> <span class="displayDesc">Maklumat Syarikat</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-select formControlName="companyType" placeholder="Jenis Syarikat" required readonly
                  (change)="checkReqValues4()">
                    <mat-option [value]="3">
                      Swasta
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-select formControlName="jenisMilikan" placeholder="Jenis Pemilikan" 
                  (change)="checkReqValues4()">
                    <mat-option *ngFor="let lmilik of listJenisMilikan" [value]="lmilik.idPemilikan">
                      {{lmilik.pemilikanDescription}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field  class="example-full-width">
                  <mat-select formControlName="registerType" placeholder="Jenis Pendaftaran Syarikat" required
                  (change)="checkReqValues4()">
                    <mat-option *ngFor="let lRegComp of listRegComp" [value]="lRegComp.registerTypeId">
                      {{lRegComp.registerTypeDescription}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field  class="example-full-width displayInfo">
                  <input matInput formControlName="registerNo" placeholder="No. Pendaftaran Syarikat" required
                  (keyup)="checkReqValues4()">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <mat-form-field  class="example-full-width displayInfo">
                  <input matInput formControlName="companyName" placeholder="Nama Syarikat" required (change)="checkReqValues4()">
                </mat-form-field>
              </div>
            </div>
        
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width displayInfo">
                  <span>Alamat * </span> 
                  <mat-checkbox formControlName="copyAddPemilik" id="copyAddPemilik" (change)="clickCopyAddPemilik()"></mat-checkbox>
                  Salin Alamat Pemilik
                  <textarea matInput formControlName="companyAdd" placeholder=""  (change)="checkReqValues4()"></textarea>
                </mat-form-field>
              </div>
            </div>
    
            <div class="row">
              <div class="col-md-4">
                <mat-form-field  class="example-full-width displayInfo">
                  <input matInput formControlName="companyPoskod" placeholder="Poskod" required 
                  (change)="checkposkod(3, fourthFormGroup.value)" [textMask]="{mask: maskPostcode}">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field  class="example-full-width">
                  <mat-select formControlName="companyDaerah" placeholder="Daerah" required
                  (change)="checkState(3,fourthFormGroup.value)">
                    <mat-option *ngFor="let lDaerah of listdaerahCompany" [value]="lDaerah.postcodeId">
                      {{lDaerah.city}} - {{lDaerah.state}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field  class="example-full-width displayInfo">
                  <input matInput formControlName="companyNegeri" placeholder="Negeri" required>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field  class="example-full-width displayInfo">
                  <input matInput formControlName="companyPhone" placeholder="No. Telefon" required
                  (keyup)="checkReqValues4()" [textMask]="{mask: maskPhone}">
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field  class="example-full-width displayInfo">
                  <input matInput formControlName="companyFax" placeholder="No. Faks" [textMask]="{mask: maskPhone}">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="pull-right">
            <button mat-raised-button matStepperPrevious color="primary" class="btn btn-md iconBtn">
              <i class="fa fa-arrow-circle-left"></i>
              <span class="textDisplay">Sebelum</span>
            </button>
            <button mat-raised-button matStepperNext color="primary" class="btn btn-md iconBtn" [disabled]="flag4">              
              <i class="fa fa-arrow-circle-right"></i>
              <span class="textDisplay">Seterusnya</span>
            </button>
            <button mat-raised-button color="primary" class="btn btn-md iconBtn" (click)="draft()">              
              <i class="fa fa-floppy-o"></i>
              <span class="textDisplay">Draf</span>
            </button>
          </div>
        </form>
      </mat-step>


      <mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup">
          <ng-template matStepLabel><span class="stepperTitle">Lesen & Lampiran</span></ng-template>
          <div>
            <div class="row">
              <div class="col-md-12 titleDescStepper">
                  <i class="fa fa-book displayDesc"></i> <span class="displayDesc">Lesen & Lampiran</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <mat-select formControlName="lsnActivity" placeholder="Aktiviti Lesen" required 
                  (change)="changeBuss(fifthFormGroup.value)">
                    <mat-option *ngFor="let listBuss of listbusiness" [value]="listBuss.activityId">
                      {{listBuss.activityDescription}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <mat-select formControlName="businessCat" placeholder="Kategori Perniagaan" required
                  (change)="checkReqValues5()">
                    <mat-option *ngFor="let listcat of listcatbuss" [value]="listcat.businessId">
                      {{listcat.businessDescription}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="displayDesc">Sila lampirkan dokumen berkaitan</span>
              </div><br><br>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width" >
                    <input matInput placeholder="Salinan Sijil PendaftaranSyarikat (Sijil SSM)" formControlName="file1" class="displayDesc"
                    required readonly>
                    <mat-error *ngIf="fifthFormGroup.controls.file1.hasError('required')">
                      Salinan Sijil PendaftaranSyarikat (Sijil SSM) diperlukan
                    </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-2">
                <ng4-files-click (filesSelect)="uploadFile1($event)" accept="image/*">
                  <span role="button" class="btn btn-success btn-md"><i class="fa fa-search"></i> Muat Naik Fail</span>
                </ng4-files-click>               
              </div>

              <div class="col-md-4">
                <mat-form-field class="example-full-width" >
                    <input matInput placeholder="Salinan Surat Kelulusan PBT" formControlName="file2" class="displayDesc"
                    required readonly>
                    <mat-error *ngIf="fifthFormGroup.controls.file2.hasError('required')">
                      Salinan Surat Kelulusan PBT diperlukan
                    </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-2">
                <ng4-files-click (filesSelect)="uploadFile2($event)">
                  <span role="button" class="btn btn-success btn-md"><i class="fa fa-search"></i> Muat Naik Fail</span>
                </ng4-files-click>
              </div>
            </div>

            <div class="row" style="display: none;">
              <div class="col-md-6">
                <mat-form-field class="example-full-width displayInfo">
                  <textarea matInput formControlName="dispBase641" placeholder=""></textarea>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="example-full-width displayInfo">
                  <textarea matInput formControlName="dispBase642" placeholder=""></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row" *ngIf="getUrl">
              <div class="col-md-6" *ngIf="dataApp?.attachFileRoc">
                <button mat-raised-button color="primary" class="btn btn-md btn-success font-size-s" (click)="openRoc(dataApp.attachFileRoc)">
                  <i class="fa fa-view"></i> Salinan Sijil Pendaftaran Syarikat (Sijil SSM)</button>
              </div>

              <div class="col-md-6" *ngIf="dataApp?.attachFilePbt"> 
                <button mat-raised-button color="primary" class="btn btn-md btn-success font-size-s" (click)="openPbt(dataApp.attachFilePbt)">
                    <i class="fa fa-view"></i> Salinan Surat Kelulusan PBT</button>
              </div>
            </div>

            <div class="row">
              <br><br><br>
              <div class="col-md-12">
                <span class="displayDesc">Perakuan</span>
              </div><br><br>

              <div class="col-md-12">
                <mat-checkbox formControlName="agreement" required (click)="clickHantar()"></mat-checkbox>
                <span class="displayJustify">
                  Saya mengaku bahawa maklumat yang diberikan adalah benar. Jika didapati maklumat tersebut adalah 
                  palsu, Jabatan Perlindungan Hidupan Liar & Taman Negara (PERHILITAN) Semenanjung Malaysia 
                  berhak menolak permohonan ini. </span>
              </div>
            </div>

          </div>
          <div class="pull-right">
            <button mat-raised-button matStepperPrevious color="primary"  class="btn btn-md iconBtn">
              <i class="fa fa-arrow-circle-left"></i>
              <span class="textDisplay">Sebelum</span>
            </button>
            <button mat-raised-button color="primary" class="btn btn-md iconBtn" [disabled]="flag5 || flagHantar" (click)="submit()">
              <i class="fa fa-check"></i>
              <span class="textDisplay">Hantar</span>
            </button>
            <button mat-raised-button color="primary" class="btn btn-md iconBtn" (click)="draft()">              
              <i class="fa fa-floppy-o"></i>
              <span class="textDisplay">Draf</span>
            </button>
          </div>
        </form>
      </mat-step><br>
      <!-- <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step> -->
    </mat-horizontal-stepper><br>
  </div>

</div>


