.example-full-width{
    width: 100%;
}

.displayDesc{
    color: #333; 
    font-weight: bold;
}

.displayJustify{
    color: black; 
    text-align: justify
}

.redErMsg{
    font-size: 12px;
    margin-top: -10px;
}

.iconSearch{
    position: absolute; 
    right: 0px; 
    top: 0px;
    z-index: 999;
}

.iconRight{
    position: absolute;
    right: 23px;
    top: 0px;
    z-index: 999;
    color: green;
}

.iconWrong{
    position: absolute;
    right: 23px;
    top: 0px;
    z-index: 999;
    color: red;
}




