<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container">
      <!-- <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading> -->
      <div class="row">
        <div class="col-md-12">
          <h1 style="margin-top: 10px;" class="font-size-l">{{'home.breadcrumb.unsubscribe' | translate}}</h1>
          <hr class="hr-custom2">
          <ul class="list-inline" style="clear:both;">
            <li>
              <a class="font-size-s" href="/index/">
                {{'home.menu.home' | translate }}
              </a>
            </li>
            <li>/</li>
            <li>
              {{'home.breadcrumb.unsubscribe' | translate}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="color: #000; text-align:center">
      <div class="col-md-12" style="text-align:center; margin-bottom: 30px;">
          <h2>
            <b>{{'home.breadcrumb.unsubscribe' | translate}}</b>
          </h2>
          <p>
            Do you wish to Unsubscribe?.
          </p> 
          <button class="btn btn-md btn-success" (click)="unsubs()">
            <i class="fa fa-check"> </i> {{'home.breadcrumb.unsubscribe' | translate}}
          </button>
          <button class="btn btn-md btn-danger" (click)="gotoHome()">
              <i class="fa fa-times"> </i> {{'common.buttons.cancel' | translate}}
            </button>
            
        </div>
  </div>