<gosg-portal-loader [loader]="navService.loader"></gosg-portal-loader>
<gosg-shared-loader [loader]="navService.loader"></gosg-shared-loader>

<div [ngStyle]="{'min-height': clientHeight + 'px', 'margin-bottom': '-200px'}">




<app-topnav class="top-nav-style" (showsidenav)="showsidenav($event)" (topNavClick)="getExpand($event)"  [style.background]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" [style.z-index]="this.zIndex" [style.height]="this.bHeight"></app-topnav>




<app-nav class="nav-bar-style" [style.top]="this.bTop" [style.z-index]="this.zIndex2"></app-nav>
<app-breadcrumb></app-breadcrumb>
<router-outlet></router-outlet>
<div style="height: 200px"></div>
</div>
<app-footer></app-footer>
