<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container" *ngFor="let article of articleService.articles">
     <div class="row">
        <div class="col-md-12">
            <h1 style="margin-top: 10px;" class="font-size-l">{{article.categoryName}}</h1>
            <hr class="hr-custom2">
            <ul class="list-inline" style="clear:both;">
                <li>
                    <a class="font-size-s" routerLink="/">
                        {{'home.menu.home' | translate }}
                    </a>
                </li>
                <li>/</li>
                <li>
                    {{'home.breadcrumb.register' | translate}}
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>
<p>
  eparticipation works!
</p>
