<!--<button (click)="topNavEvent()">Click Here</button>-->
<div class="container">
  <div class="top-nav">
    <div class="col-sm-12">
      <ul class="list-inline font-size-s top-menu-list  hidden-xs hidden-sm" style="display:inline-block;">
        <li>
        <a routerLinkActive="topactive" (click)="showConfBar()">{{ 'home.menu.setting' | translate }} <i class="fa fa-caret-down"></i></a>
        </li>
        <li>|</li>
        <li>
            <a routerLinkActive="topactive" [routerLink]="['contact']">{{ 'home.menu.contact' | translate }}</a> </li>
        <li>|</li>
        <li>
          <a routerLinkActive="topactive" [routerLink]="['faq']">{{ 'home.menu.faq' | translate }}</a>
        </li>
        <li>|</li>
        <li>
          <!-- <a routerLinkActive="topactive" [routerLink]="['manual']">{{ 'home.menu.manual' | translate }}</a> -->
          <a routerLinkActive="topactive" (click)="clickManual()">{{ 'home.menu.manual' | translate }}</a>
        </li>
        <li>|</li>
        <li>
          <!-- <a routerLinkActive="topactive" [routerLink]="['aboutus']">{{ 'home.menu.aboutus' | translate }}</a> -->
          <a routerLinkActive="topactive" (click)="clickAboutus()">{{ 'home.menu.aboutus' | translate }}</a>
        </li>
      </ul>

      <ul class="list-inline font-size-s" *ngIf="state"  style="display:inline-block; float:right;">
          <li>
            <button (click)="toggle()" class="btn btn-xs btn-default font-size-s hidden-xs visible-sm  visible-md visible-lg"><i class="fa fa-language"></i> {{ currlang }}</button>
            <button (click)="toggle()" class="btn btn-xs btn-default font-size-s visible-xs hidden-sm hidden-md hidden-lg"><i class="fa fa-language"></i> {{ currlangMOB }}</button>
          </li>
          <li>|</li>
          <li>
          </li>
          <li>
            <a class="hidden-xs visible-sm  visible-md visible-lg">{{state}}</a>
            <!-- <a class="visible-xs hidden-sm hidden-md hidden-lg" [routerLink]="['register']"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>      -->
          </li>
          <li>
            <button (click)="showProfileMenu()" class="btn btn-sm btn-default"><i style="font-size:16px;" class="fa fa-user-circle" aria-hidden="true"></i></button>
          </li>
      </ul>

      <ul class="list-inline font-size-s" *ngIf="!state"  style="display:inline-block; float:right;">
          <li>
            <button (click)="toggle()" class="btn btn-xs btn-default font-size-s hidden-xs hidden-sm  visible-md visible-lg"><i class="fa fa-language"></i> {{ currlang }}</button>
            <button (click)="toggle()" class="btn btn-xs btn-default font-size-s visible-xs visible-sm hidden-md hidden-lg"><i class="fa fa-language"></i> {{ currlangMOB }}</button>
          </li>
          <li class="btn btn-xs btn-default font-size-s hidden-xs hidden-sm hidden-md hidden-lg">|</li>
          <li>
            <a class="hidden-xs hidden-sm  visible-md visible-lg" [routerLink]="['register']">{{ 'home.menu.register' | translate }}</a>
            <a class="btn btn-xs btn-default font-size-s visible-xs visible-sm hidden-md hidden-lg" [routerLink]="['register']"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
          </li>
          <li class="btn btn-xs btn-default font-size-s hidden-xs hidden-sm hidden-md hidden-lg">|</li>
          <li>
              <a class="hidden-xs hidden-sm  visible-md visible-lg" href="../portal-protected/">{{ 'home.menu.login' | translate }}</a>
              <a class="btn btn-xs btn-default font-size-s visible-xs visible-sm hidden-md hidden-lg" href="../portal-protected/"><i class="fa fa-lock" aria-hidden="true"></i></a>
              <!-- <a class="btn btn-xs btn-default font-size-s visible-xs visible-sm hidden-md hidden-lg" *ngIf="!auth.isAuthenticated()" [routerLink]="['portal/login']"><i class="fa fa-sign-in" aria-hidden="true"></i></a> -->
              <!-- <a *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']">Welcome {{auth.currentUser.firstName}}</a> -->
          </li>
          <li>
            <button (click)="showSidenavMenu()" class="btn btn-sm btn-default visible-xs visible-sm "><i style="font-size:16px;" class="fa fa-cog" aria-hidden="true"></i></button>
          </li>
      </ul>

    </div>
    <div class="col-xs-12 visible-xs visible-sm"><i class="fa fa-bars" aria-hidden="true"></i></div>

    <div class="row menu_botm container menu_botm  hidden-xs hidden-sm" id="confBar">
      <div class="col-sm-12" id="themeContainer">
        <ul class="list-inline hidden-xs font-size-s">
          <li class="settingBtm">
              {{ 'home.menu.themecolor' | translate }}:

              <input #colorPanel *ngFor="let color of getThemeColors; let i = index; let firstItem = first" (click)="setClickedColor(i, color.colorCode)" data-selected-id="color.colorId"  [class.colorPaletteActive]="color.defaultColor" type="button" name="bgColor" [(ngModel)]="bgColor" [ngStyle]="{'background': color.colorCode, 'border': '1px solid', 'border-color': color.colorCode}"  class="bgColorBtn bgColor" value="{{color.colorCode}}">
              <span><div (click)="resetBgColor()" class="btn btn-xs btn-default"><i class="fa fa-refresh"></i></div></span>

               <!-- <input #colorPanel *ngFor="let color of colors; let i = index; let firstItem = first" (click)="setClickedColor(i, firstItem)"  [class.colorPaletteActive]="i == selectedRow ? true: false" type="button" name="bgColor" [(ngModel)]="bgColor" [ngStyle]="{'background': color.bgColor, 'border': '1px solid', 'border-color': color.bgColor}"  class="bgColorBtn bgColor" value="{{color.bgColor}}">
                <span><div (click)="resetBgColor()" class="btn btn-xs btn-default"><i class="fa fa-refresh"></i></div></span> -->
          </li>


          <li class="fontResize" style="margin-left: 5px">
            {{ 'home.menu.fontsize' | translate }} :
          </li>
          <li class="fontResize"><button  [disabled]="minusBtn" class="btn btn-default fontminus" (click)="fontminus()" style="border:1px solid white;padding: 3px; height: 25px; width: 28px; font-size:14px;"><i class="fa fa-minus"></i>A</button></li>
          <li class="fontResize"><button  [disabled]="plusBtn" class="fontplus btn btn-default"  (click)="fontplus()" style="border:1px solid white;padding: 3px; height: 25px; width: 28px; font-size:14px;"><i class="fa fa-plus"></i>A</button></li>
          <span><div class="fontreset btn btn-xs btn-default" (click)="fontreset()"><i class="fa fa-refresh"></i></div></span>
            <li style="margin-left: 5px">
                {{ 'home.menu.fonttype' | translate }} :
            </li>
            <li>
                <label class="sr-only" for="fontOpt">Font Type</label>
                <select #fontTy (change)="onChange($event, fontTy.value)" id="fontOptSideMenu2" class="form-control">
                    <option *ngFor="let font of getThemeFonts;" [value]="font.fontName"  [selected]="font.defaultFont" >
                        {{font.fontName}}
                    </option>
                </select>

                  <!-- <span style="clear:both;"><div (click)="resetFontStyle()" id="resetFontStyle" class="btn btn-xs btn-default" style="padding:10px;"><i class="fa fa-refresh"></i></div></span>

                <select #fontTy (change)="onChange($event, fontTy.value)" id="fontOpt" class="form-control">
                    <option class="fontOpt1" value="Roboto">Roboto</option>
                    <option class="fontOpt2" value="Arial">Arial</option>
                    <option class="fontOpt3" value="Times New Roman">Times New Roman</option>
                </select>
            </li> -->
            <li>
                <span><div (click)="resetFontStyle()" id="resetFontStyle" class="btn btn-xs btn-default"><i class="fa fa-refresh"></i></div></span>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
