<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container">
      <!--  -->
      <div class="row">
        <div class="col-md-12">
          <h1 style="margin-top: 10px;" class="font-size-l">{{'home.breadcrumb.subscription' | translate}}</h1>
          <hr class="hr-custom2">
          <ul class="list-inline" style="clear:both;">
            <li>
              <a class="font-size-s" routerLink="/index">
                {{'home.menu.home' | translate }}
              </a>
            </li>
            <li>/</li>
            <li>
              {{'home.breadcrumb.subscription' | translate}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container"  style="color: #000; padding-bottom:20px;">
      <div class="text-center" *ngIf="chktoken">
          <h2 class="font-size-l" [style.color]="sharedservice.getTheme()"><b> {{'subscription.setactivetitle' | translate}} </b></h2>
          <div class="row padding">
              <div class="col-md-12">
                <div class="font-size-m" style="margin-top: 20px; text-align: center;">
                   {{'subscription.setactivemsg' | translate}}
                </div>
              </div>
          </div>
      </div>
      <div *ngIf="!chktoken" class="row text-align-Center padding-20">
        <!-- <h3>
          <b class='text-danger'>{{errormsg}}</b>
        </h3>  -->
        <h2 class="font-size-l" [style.color]="sharedservice.getTheme()"><b> {{errormsg}} </b></h2>
          <div class="row padding">
              <div class="col-md-12">
                <div class="font-size-m" style="margin-top: 20px; text-align: center;">
                   {{'subscription.setactivemsgError' | translate}}
                </div>
                <br>
                <button class="btn btn-md btn-success" (click)="subs()">
                    <i class="fa fa-check"> </i> {{'home.breadcrumb.subscription' | translate}}
                </button>
                <button class="btn btn-md btn-danger" (click)="gotoHome()">
                  <i class="fa fa-times"> </i> {{'common.buttons.cancel' | translate}}
                </button>
              </div>
        </div>
      </div>
  </div>
