<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 style="margin-top: 10px;" class="font-size-l">{{'home.breadcrumb.mailbox' | translate}}</h1>
          <hr class="hr-custom2">
          <ul class="list-inline" style="clear:both;">
            <li>
              <a class="font-size-s" href="/index/">
                        {{'home.menu.home' | translate }}
                    </a>
            </li>
            <li>/</li>
            <li>
              {{'home.breadcrumb.mailbox' | translate}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="col-md-3 padding-left-0">
          <gosg-sidenav-dashboard></gosg-sidenav-dashboard>
      </div>
      <div class="col-md-9 mat-elevation-z8" style="margin-top:15px;">
          
        <table class="mat-table" style="width:100%">
          <tr class="mat-header-row" style="height:45px">
            <td class="mat-header-cell"></td>
            <td class="mat-header-cell">Subject</td>
            <td class="mat-header-cell">From</td>
            <td class="mat-header-cell">Date</td>
            <td class="mat-header-cell text-center">Action</td>
          </tr>
          <tr class="mat-row table_row" *ngFor="let data of mailData" style="height:45px">
            <td class="mat-cell"><mat-checkbox></mat-checkbox></td>
            <td class="mat-cell">{{data.subject}}</td>
            <td class="mat-cell">{{data.fromUser.email}}</td>
            <td class="mat-cell">{{data.submissionDate | date}}</td>
            <td class="mat-cell text-center"> <span (click)="deleteMail(data.messageId)"><i class="fa fa-trash font-size-m text-danger"></i></span></td>
          </tr>
        </table>


            <mat-paginator [length]="mailData?.length"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
  </div>
