<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="margin-top: 10px;" class="font-size-m">{{'calendar.title' | translate}}</h1>
                <hr class="hr-custom2">
                <ul class="list-inline" style="clear:both;">
                    <li>
                        <a class="font-size-s" href="/index/">
                            {{'home.menu.calendar' | translate }}
                        </a>
                    </li>
                    <!-- <li>/</li>
                    <li>
                        {{'home.breadcrumb.calendar' | translate}}
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="overlay"></div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">
        <div id="calendar"></div>
        <div id="details">
            <div class="details-content absolute-center container">
                <div id="titleHeader" class="row">
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12 header-underlined">
                    <a class="boxclose" (click)="closePopup()"></a>
                    <h4>Event Details</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12">
                        <label class="font-size-s">Event Name</label>
                        <p class="font-size-m" id="title"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label class="font-size-s">Location</label>
                        <p class="font-size-m" id="loc"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="font-size-s">Start</label>
                        <p class="font-size-m" id="start"></p>
                    </div>
                    <div class="col-md-6">
                        <label class="font-size-s">End</label>
                        <p class="font-size-m" id="end"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label class="font-size-s">Description</label>
                        <p class="font-size-m" id="desc"></p>
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                </div>

                <div *ngIf="image != null"> 
                  <img [src]="appConfig.externalMediaURL +'/images/'+ image" style="width:200px">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">&nbsp;</div>
</div>