<!-- <div class="container right-content">
    <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }"></ngx-loading> -->
    
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="margin-top: 10px;" class="font-size-m">{{'calendar.title' | translate}}</h1>
                <hr class="hr-custom2">
                <ul class="list-inline" style="clear:both;">
                    <li>
                        <a class="font-size-s" href="/index/">
                            {{'home.menu.calendar' | translate }}
                        </a>
                    </li>
                    <!-- <li>/</li>
                    <li>
                        {{'home.breadcrumb.calendar' | translate}}
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="overlay"></div>
    <div class="col-md-12">&nbsp;</div>
    <!-- <div class="row"> -->
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput tabindex="1" placeholder="{{ 'calendar.details.agency' | translate }}" [(ngModel)]="agencySel" (click)="getSearchData(agencySel)" (keyup)="getSearchData(agencySel)">
          <button mat-button *ngIf="agencySel" matSuffix mat-icon-button aria-label="Clear" (click)="agencySel=''; resetSearch()">
            <mat-icon style="color: #000">X</mat-icon>
          </button>
        </mat-form-field>

        <div *ngIf="isActiveList" [ngClass]="{'listParent':searchAgencyResult.length < 10,'listParent-w-scroll':searchAgencyResult.length >= 10}" (scroll)="onScroll($event)">
          <ul class="list-group pmd-z-depth pmd-list pmd-card-list pmd-list">
            <li class="list-group-item" *ngFor="let data of searchAgencyResult">
              <a class="list-link" (click)="getValue(data.agencyId, data.agencyName, data.agencyMinistry.ministryName, data.agencyCode)">{{data.agencyName}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">&nbsp;</div>
      <div class="col-md-4">
        <div class="col-md-6"><h4 class="note pull-right">*{{ 'calendar.view.note' | translate }}</h4>:</div>
        <div class="col-md-4 pull-right internal">{{ 'calendar.view.internaldata' | translate }}</div>
        <div class="col-md-4 pull-right external">{{ 'calendar.view.externaldata' | translate }}</div>
      </div>
    <div class="col-md-12">
        <div id="calendar"></div>
        <div id="details">
            <div class="details-content absolute-center container">
                <div id="titleHeader" class="row">
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12 header-underlined">
                    <a class="boxclose" (click)="closePopup()"></a>
                    <h4>{{ 'calendar.details.header' | translate }}</h4>
                    </div>
                </div>

                <div class="row" id="imageContainer">
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12">
                        <img id="eventImage" style="width: auto; height: 200px">
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12">
                        <label class="font-size-s">{{ 'calendar.details.name' | translate }}</label>
                        <p class="font-size-m" id="title"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label class="font-size-s">{{ 'calendar.details.location' | translate }}</label>
                        <p class="font-size-m" id="loc"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="font-size-s">{{ 'calendar.details.start' | translate }}</label>
                        <p class="font-size-m" id="start"></p>
                    </div>
                    <div class="col-md-6">
                        <label class="font-size-s">{{ 'calendar.details.end' | translate }}</label>
                        <p class="font-size-m" id="end"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label class="font-size-s">{{ 'calendar.details.desc' | translate }}</label>
                        <p class="font-size-m" id="desc"></p>
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-12"><h4 style="color: #1d1d1d">{{ 'calendar.details.organizerheader' | translate }}</h4></div>
                    
                    <div class="col-md-12">
                        <label class="font-size-s">{{ 'calendar.details.agency' | translate }}</label>
                        <p class="font-size-m" id="agency"></p>
                    </div>

                    <div class="col-md-6">
                        <label class="font-size-s">{{ 'calendar.details.organizer' | translate }}</label>
                        <p class="font-size-m" id="organizer"></p>
                    </div>
                    <div class="col-md-6">
                        <label class="font-size-s">{{ 'calendar.details.organizeremail' | translate }}</label>
                        <p class="font-size-m" id="organizerEmail"></p>
                    </div>
                    
                    <div class="col-md-12">
                        <label class="font-size-s">{{ 'calendar.details.organizeraddress' | translate }}</label>
                        <p class="font-size-m" id="organizerAddress"></p>
                    </div>
                    <div class="col-md-6">
                        <label class="font-size-s">{{ 'calendar.details.organizerurl' | translate }}</label>
                        <p class="font-size-m" id="organizerUrl"></p>
                    </div>
                    
                    <div class="col-md-6">
                        <label class="font-size-s">{{ 'calendar.details.organizerfb' | translate }}</label>
                        <p class="font-size-m" id="organizerFb"></p>
                    </div>
                    <div class="col-md-6">
                        <label class="font-size-s">{{ 'calendar.details.organizerphone' | translate }}</label>
                        <p class="font-size-m" id="organizerPhone"></p>
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">&nbsp;</div>
</div>
<!-- </div> -->