.dserviceList {
    display: table;
}

.dserviceList > ul {
    display: table-cell;
}

.dserviceList > ul li.a {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 2%;
    /* width: 45%!important; */
    width: 100%!important;
    border-top: #00bdbb 2px solid;
    margin-right: 20px!important;
    margin-left: -5%;
    background: #f3f3f3;
    padding-bottom: 10px;
}

.dserviceList h4 {
    font-weight: bold;
}

.dserviceList > ul > li > ul > li > a, .dserviceList > ul > li > ul > li > a:visited {
    color: #666;
    text-decoration: none;
}

.dserviceList > ul > li > ul > li > a:hover {
    color: #666;
    text-decoration: underline;
}

.ds-style {
    color: #666;
}

.textCenter {
    text-align: center
}

.no-styles {
    font-size: 0.8em;
    text-decoration: none;
    list-style: none;
    margin-left: -5%;
}

.no-styles > a {
    cursor: pointer;
}

.clickable-icons {
    font-size: 1em;
    color: rgb(0, 189, 187);
    cursor: pointer;
}
