<gosg-portal-loader [loader]="loading"></gosg-portal-loader>
<gosg-protected-loader [loader]="loading"></gosg-protected-loader>
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1 style="margin-top: 10px;" class="font-size-m">{{'digitalservices.title' | translate}}</h1>
              <hr class="hr-custom2">
              <ul class="list-inline" style="clear:both;">
                  <li>
                      <a class="font-size-s" routerLink="/">
                          {{'home.menu.digitalsvc' | translate }}
                      </a>
                  </li>
                  <!-- <li>/</li>
                  <li>
                      {{'home.breadcrumb.calendar' | translate}}
                  </li> -->
              </ul>
          </div>
      </div>
  </div>
</div>
<div class="container ds-style" *ngIf="!isLogin || isLogin && validMyIdentity">
  <div class="row container">
    <div *ngIf="!isLogin" class="col-md-12 textCenter">
      <h3 class="">{{ 'digitalservices.msg.beforeLogin' | translate }}</h3>
    </div>
    <div *ngIf="isLogin" class="col-md-12 textCenter">
        <h3 class="">{{ 'digitalservices.msg.afterLogin' | translate }}</h3>
    </div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">
      <p>{{ 'digitalservices.msg.instruction' | translate }}</p>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 dserviceList" *ngFor="let dsvc of dsData">
          <ul>
              <li class="container a">
                  <h4>{{ dsvc.title }}</h4>
                  <ul *ngFor="let d of dsvc.details" style="padding:10px 0px 5px 25px; ">
                      <li class="no-styles">
                          <a *ngIf="isLogin || d.common" (click)="toValidate(d.code,d.url, dsvc.agency.agencyCode)">{{ d.title }}</a> <!-- [href]="d.url" -->
                          <a *ngIf="!isLogin && !d.common" (click)="openDialog()" style="cursor: pointer;">{{ d.title }}</a>
                          &nbsp;
                          <a *ngIf="isLogin || d.common" [href]="mediaUrl + d.manual?.mediaFile" data-toggle="tooltip" target="_blank" title="{{ d.description }}"><span *ngIf="d.manual" class="fa fa-info-circle clickable-icons"></span> </a>
                          <a *ngIf="!isLogin && !d.common" (click)="openDialog()" title="{{ d.description }}" style="cursor: pointer;"><span *ngIf="d.manual" class="fa fa-info-circle clickable-icons"></span> </a>
                      </li>
                    </ul>
                </li>
          </ul>
      </div>
  </div>
  <div class="col-md-12">&nbsp;</div>
</div>

<div class="container ds-style" *ngIf=" isLogin && !validMyIdentity">
  <h3>{{ 'digitalservices.msg.access' | translate }}</h3>
</div>
