<div class="container-fluid animated slideInDown" style="background: #a7a495;">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1 style="margin-top: 10px;" class="font-size-m">{{'digitalservices.title' | translate}}</h1>
              <hr class="hr-custom2">
              <ul class="list-inline" style="clear:both;">
                  <li>
                      <a class="font-size-s" href="/index/">
                          {{'home.menu.digitalsvc' | translate }}
                      </a>
                  </li>
                  <!-- <li>/</li>
                  <li>
                      {{'home.breadcrumb.calendar' | translate}}
                  </li> -->
              </ul>
          </div>
      </div>
  </div>
</div>
<div class="container ds-style">
  <div class="row container">
    <div class="col-md-12 textCenter">
      <h3 class="">{{ 'digitalservices.msg.beforeLogin' | translate }}</h3>
    </div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">
      <p>{{ 'digitalservices.msg.instruction' | translate }}</p>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 dserviceList" *ngFor="let dsvc of dsData">
          <ul>
              <li class="container a"><h4>{{ dsvc.title }}</h4>
                  <ul *ngFor="let d of dsvc.details" style="padding-bottom: 10px;">
                      <li class="no-styles">
                          <a href="{{ d.url }}">{{ d.title }}</a>
                          &nbsp;
                          <a data-toggle="tooltip" target="_blank" title="{{ d.description }}"><span class="fa fa-info-circle clickable-icons"></span> </a>
                      </li>
                    </ul>
                </li>
          </ul>
      </div>
  </div>
  <div class="col-md-12">&nbsp;</div>
</div>