<gosg-protected-loader [loader]="loading"></gosg-protected-loader>
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="margin-top: 10px;" class="font-size-l">{{'home.breadcrumb.family' | translate}}</h1>
        <hr class="hr-custom2">
        <ul class="list-inline" style="clear:both;">
          <li>
            <a class="font-size-s" routerLink="/">
              {{'home.menu.home' | translate }}
            </a>
          </li>
          <li>/</li>
          <li>{{'home.breadcrumb.family' | translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="col-md-12">&nbsp;</div>
  <div class="col-md-3 padding-left-0">
    <gosg-sidenav-dashboard></gosg-sidenav-dashboard>
  </div>

  <div class="col-md-9 mat-elevation-z8 padding-bottom-20">    
    <form [formGroup]="searchForm" novalidate="novalidate">
      <div class="row">
          <div class="col-md-12 displayDesc">
            <h4>{{'family.label.familyheader' | translate}}</h4>
            <hr class="line">
          </div>          
      </div>

      <div class="row">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-select formControlName="warganegara" placeholder="{{'family.label.citizen' | translate}}" required 
                  (change)="changeNation(searchForm.value)">
                  <mat-option [value]=1>Warganegara</mat-option>
                  <mat-option [value]=2>Bukan Warganegara</mat-option>
              </mat-select>
              <mat-error *ngIf="searchForm.controls.warganegara.hasError('required')">
                {{'family.label.citizen' | translate }} {{'family.err.needed' | translate }} 
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4" *ngIf="searchForm.controls.warganegara.value == 1">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="icno" placeholder="{{'family.label.ic' | translate}}" [textMask]="{mask: maskIC}"
                required (keyup)="checkReqValues()">
                <!-- <mat-error *ngIf="searchForm.controls.icno.hasError('required')">
                    No. IC diperlukan
                </mat-error> -->
                <mat-error *ngIf="!validateCtrlChk(icno) && searchForm.controls.icno.errors.pattern">
                    {{'register.pattern.ic' | translate }}
                </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4" *ngIf="searchForm.controls.warganegara.value == 2">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="passportno" placeholder="{{'family.label.passport' | translate}}" required
                (keyup)="checkReqValues()"> 
                <mat-error *ngIf="searchForm.controls.passportno.hasError('required')">
                  {{'family.label.passport' | translate }} {{'family.err.needed' | translate }} 
                </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4" *ngIf="searchForm.controls.warganegara.value == 2">
            <mat-form-field class="example-full-width">
              <mat-select formControlName="passportState" placeholder="{{'family.label.statepassport' | translate}}" required 
                  (change)="checkReqValues()">
                  <mat-option *ngFor="let country of listCountryData" [value]="country.countryId">{{country.countryName}}</mat-option>
              </mat-select>
              <mat-error *ngIf="searchForm.controls.passportState.hasError('required')">
                {{'family.label.statepassport' | translate }} {{'family.err.needed' | translate }} 
              </mat-error>
            </mat-form-field>
          </div>
      </div>
      
      <div class="row">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="name" placeholder="{{'family.label.name' | translate}}" required 
                (keyup)="checkReqValues()">
                <mat-error *ngIf="searchForm.controls.name.hasError('required')">
                  {{'family.label.name' | translate }} {{'family.err.needed' | translate }} 
                </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-select formControlName="relation" placeholder="{{'family.label.relationship' | translate}}" required
                (change)="checkReqValues()">
                <mat-option *ngFor="let relation of listRelationData" [value]="relation.relationshipId">{{relation.relationshipName}}</mat-option>
              </mat-select>
              <mat-error *ngIf="searchForm.controls.relation.hasError('required')">
                {{'family.label.relationship' | translate }} {{'family.err.needed' | translate }} 
              </mat-error>
            </mat-form-field>
          </div>
      </div>

      <div class="row">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-select formControlName="race" placeholder="{{'family.label.race' | translate}}" required
                (change)="checkReqValues()">
                <mat-option *ngFor="let race of listRaceData" [value]="race.raceId">{{race.race}}</mat-option>
              </mat-select>
              <mat-error *ngIf="searchForm.controls.race.hasError('required')">
                {{'family.label.race' | translate }} {{'family.err.needed' | translate }} 
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-select formControlName="religion" placeholder="{{'family.label.religion' | translate}}" required
                (change)="checkReqValues()">
                <mat-option *ngFor="let religion of listReligionData" [value]="religion.religionId">{{religion.religion}}</mat-option>
              </mat-select>
              <mat-error *ngIf="searchForm.controls.religion.hasError('required')">
                {{'family.label.religion' | translate }} {{'family.err.needed' | translate }} 
              </mat-error>
            </mat-form-field>
          </div>
          
          <div class="col-md-4" *ngIf="checkNation == true">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="email" placeholder="{{'family.label.email' | translate}}">
                <!-- <mat-error *ngIf="searchForm.controls.email.hasError('required')">
                    Emel diperlukan
                </mat-error> -->
                <mat-error *ngIf="!validateCtrlChk(email) && searchForm.controls.email.errors.pattern">
                    {{'register.pattern.email' | translate }}
                </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4" *ngIf="checkNation == false">        
              <button mat-raised-button color="primary" class="btn btn-md btn-success font-size-s pull-right" 
                (click)="checkNationalyty()" 
                [disabled]="!complete || (!validateCtrlChk(icno) && searchForm.controls.icno.errors.pattern)">
                {{'family.button.confirm' | translate}}</button>                
          </div>
      </div>

      <div class="row" *ngIf="checkNation == true">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="dob" formControlName="dob" placeholder="{{'family.label.dob' | translate}}" readonly
                #dob (dateInput)="publishDOB('input', $event)" (dateChange)="publishDOB('change', $event)" required>
                <mat-datepicker-toggle matSuffix [for]="dob" style="color:#333;"></mat-datepicker-toggle>
                <mat-datepicker #dob startView="day"></mat-datepicker>
                <mat-error *ngIf="searchForm.controls.dob.hasError('required')">
                  {{'family.label.dob' | translate }} {{'family.err.needed' | translate }} 
                </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-select formControlName="sex" placeholder="{{'family.label.sex' | translate}}">
                  <mat-option *ngFor="let gender of listGenderData" [value]="gender.genderId">{{gender.gender}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="phone" placeholder="{{'family.label.phone' | translate}}">
            </mat-form-field>
          </div>
      </div>

      <div class="row" *ngIf="checkNation == true">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-select formControlName="profileStatus" placeholder="{{'family.label.statusprofile' | translate}}" required
                  (change)="checkReqValues()">
                  <mat-option [value]=1>Aktif</mat-option>
                  <mat-option [value]=2>Tidak Aktif</mat-option>
              </mat-select>
              <mat-error *ngIf="searchForm.controls.profileStatus.hasError('required')">
                {{'family.label.statusprofile' | translate }} {{'family.err.needed' | translate }} 
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-select formControlName="reasonStatus" placeholder="{{'family.label.reason' | translate}}">
                  <mat-option [value]=1>AA</mat-option>
                  <mat-option [value]=2>BB</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      </div>

      <div class="row" *ngIf="checkNation == true">
          <div class="col-md-8">
            <mat-form-field class="example-full-width displayInfo">
                <textarea matInput formControlName="addInfo" placeholder="{{'family.label.addinfo' | translate}}"></textarea>
            </mat-form-field>
          </div>
      </div>

      <div class="row" *ngIf="checkNation == true && searchForm.controls.warganegara.value == 1">
        <div class="col-md-2">
          <span class="displayDesc">{{'family.label.oku' | translate}}</span>
        </div>
        <div class="col-md-1">
          <button mat-raised-button color="primary" class="btn btn-md btn-success font-size-s pull-right" style="height: 30px;"
          (click)="checkOKU()">{{'family.button.confirm' | translate}}</button>
        </div>
        <div class="col-md-5">
          <span class="displayDesc">{{'family.label.okuinfo' | translate}}</span>
        </div>
      </div>

      <div class="row" *ngIf="checkOku == true">
        <div class="col-md-2">&nbsp;
        </div>
        <div class="col-md-1">&nbsp;
        </div>
        <div class="col-md-7">
          <div class="col-md-5">
              <span class="displayDesc">
                {{'family.label.noregoku' | translate}}</span>
          </div>
          <div class="col-md-7">
              <span class="displayDesc">
                  : {{okuInfo.okuRegistrationNumber}}</span>
          </div>
          <div class="col-md-5">
              <span class="displayDesc">
                {{'family.label.typeoku' | translate}}</span>
          </div>
          <div class="col-md-7">
              <span class="displayDesc">
                  : {{okuInfo.okuType}}</span>
          </div>
          <div class="col-md-5">
              <span class="displayDesc">
                {{'family.label.typeidoku' | translate}}</span>
          </div>
          <div class="col-md-7">
              <span class="displayDesc">
                  : {{okuInfo.okuTypeId}}</span>
          </div>
        </div>
      </div><br>

      <div class="pull-right" *ngIf="checkNation == true">        
        <!-- <button mat-raised-button color="primary" class="btn btn-md btn-success font-size-s" (click)="print()"
          [disabled]="!complete">{{'family.button.print' | translate}}</button> -->
        <button mat-raised-button color="primary" class="btn btn-md btn-success font-size-s" (click)="submit(searchForm.value)"
          [disabled]="!complete || (!validateCtrlChk(email) && searchForm.controls.email.errors.pattern) || 
          (!validateCtrlChk(icno) && searchForm.controls.icno.errors.pattern)">{{'family.button.save' | translate}}</button>
      </div>
    </form>
  
  </div>
</div>

<app-confirm-dialog #resetModal [title]="'common.icon.warn'" [content]="'common.msg.reset'" [state]="'common.state.warn'"
  [isReset]="'true'" (resetMethod)="resetMethod($event)">
</app-confirm-dialog>