.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .mat-row:nth-child(even) {
    background: #f0f0f0;
  }

  .mat-header-cell {
    font-weight: bold;
    padding: 5px;
  }

  .mat-cell {
      padding: 5px;
      vertical-align: top;
  }

  .mat-column-subject{
      max-width:70%;
  }

  .mat-column-position{
      max-width:10%;
  }

  .mat-column-action{
    max-width:20%;
}

/* .list-inline{
	margin-top: 25px;
}

.list-inline li a:hover{
	text-decoration:none;
	color:#333;
} */

.table_row:hover{
    background:#ddd;
}

mat-table{
    height: 100%;
    min-height: 100%;
    max-height: 100% !important;
}

.table_row_height{
    height:45px;
}

.moreSearchOptBtn{
    float: right;
    position: relative;
    clear: both;
    margin-top: 15px;
} 

/* Toggle search */
.adSearch{
    position: absolute;
    right: 0px;
    top:-20px;
}

.editBtn{
    position: absolute;
    right: -15px;
    top:-60px;
}
  
.editBtn-active {
    position: absolute;
    background-color: rgb(109, 185, 38);
    color: #FFF;
    right: -15px;
    top:-60px;
}

input{
    color:#333;
}
