<div class="container lifeEventContainer animated fadeIn" style="background:#dedede;">
    <div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 articleBox">
                <span class="lifeEventBg warna_border_color" style="border-color: rgb(0, 189, 187);" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                    <img src="{{hotTopicImg}}" style="height: auto; width:100%;background-size: cover;"/>
                    <div class="lifeEventBox-title">
                      <h2 class="font-size-l" style="font-family: Roboto;">
                          {{hotTopic}}
                      </h2>
                    </div>
                    <div class="popular-article-box lifeEventBox-description">
                      <ul class="col-xs-12" *ngFor="let item of hotTopicData">
                        <li style="border-bottom: 1px solid rgba(221, 221, 221, 0.58);">
                          <a class="pboxa font-size-s warna_title_color" style="cursor: pointer; font-family: Roboto;" (click)="getUrl()" [routerLink]="['/'+getModule(item.trackModuleUrl), getID(item.trackModuleUrl)]" [style.color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                          {{item.contentTitle | truncate:[30, '...']}}
                          </a>
                        </li>
                      </ul>
                    </div>
                </span>
            </div>
            <div class="col-md-4  col-sm-6 col-xs-12 articleBox">
                <span class="epartiBg warna_border_color" style="border-color: rgb(0, 189, 187);" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                    <img src="{{peyertaanImg}}" style="height: auto; width:100%;background-size: cover;"/>
                    <div class="lifeEventBox-title"><h2 class="font-size-l" style="font-family: Roboto;">{{penyertaan}}</h2></div>
                    <div class="lifeEventBox-description-peyertaan font-size-s" style="font-family: Roboto;">
						{{penyertaanContent}}
                        <div class="form-group">
                                <a [routerLink]="['/category', 658]"  class="btn btn-secondary btn-block font-size-s warna_bg" style="font-family: Roboto; background-color: rgb(0, 189, 187);" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                                  {{penyertaanButton}}
                                </a>
                              </div>
					</div>
                </span>
            </div>
            <div class="col-md-4  col-sm-6 col-xs-12 articleBox">
                <span class="lifeEventBg warna_border_color" style="border-color: rgb(0, 189, 187);" [style.border-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                      <img src="{{permohonanImg}}" style="height: auto; width:100%;background-size: cover;"/>
                    <div class="lifeEventBox-title"><h2 class="font-size-l" style="font-family: Roboto;">{{statuslabel}}</h2></div>
                    <div class="lifeEventBox-description-status">
                          <p class="font-size-s" style="font-family: Roboto;">
                            {{statusContent}}
                            </p>
                            <form [formGroup]="updateForm" class="search-permohonan">
                              <div class="form-group">
                                <label class="sr-only" for="noPermohonanCarian">{{'home.applicationNum' | translate}}</label>
                                  <input type="text" class="form-control" formControlName="noPermohonanCarian" id="noPermohonanCarian" placeholder="{{'home.applicationNum' | translate}}">
                              </div>
                              <div class="form-group">
                                <button (click)="checkRefNo(updateForm.value)" class="btn btn-secondary btn-block font-size-s warna_bg" style="font-family: Roboto; background-color: rgb(0, 189, 187);" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
                                  {{'home.check' | translate}}
                                  </button>
                              </div>
                            </form>
                            <!-- <div *ngIf="result" [ngClass]="{ 'errMessage font-size-s sbgc-red': !sbgcolor, 'errMessage font-size-s sbgc-green': sbgcolor }"><h5><strong>STATUS: </strong>{{ result }}</h5></div> -->
                    </div>
                </span>
            </div>
        </div>
    </div>
  </div>
