<gosg-protected-loader [loader]="loading"></gosg-protected-loader>
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container">
         <div class="row">
            <div class="col-md-12">
                <h1 style="margin-top: 10px;" class="font-size-l"> {{ 'home.menu.statusposition' | translate }}</h1>
                <hr class="hr-custom2"><br>
                <ul class="list-inline" style="clear:both;">
                    <li>
                        <a class="font-size-s" style="color: #fff;" routerLink="/">
                            {{'home.menu.home' | translate }}
                        </a>
                    </li>
                    <li>/</li>
                    <li>
                        <a class="font-size-s" routerLink="/digitalservices">
                            {{'home.menu.digitalsvc' | translate }}
                        </a>
                    </li>
                    <li>/</li>
                    <li>
                        {{ 'home.menu.policeReport' | translate }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
  
<div class="container ds-style">
    <div class="row container">
        <br>
        <form [formGroup]="searchForm" #adSearchForm="ngForm" id="adSearch-form" role="form" novalidate="novalidate">

            <div class="example-container mat-elevation-z8 padding-right20" >

                <div class="row padding-15">
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="No. Kad Pengenalan" formControlName="ic" (keydown)="isNumber($event)"
                            maxlength="12" required tabindex="1" style="color: black">
                            <mat-error *ngIf="searchForm.controls.ic.hasError('required')">
                                No. Kad Pengenalan diperlukan.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- <div class="col-md-6">
                    </div> -->

                    <div class="col-md-3" style="padding-top: 7px;">
                        <!-- <button tabindex="" mat-raised-button color="warn" type="button" id="btnreset" 
                            class="form-control btn btn-md btn-warning font-size-s pull-right bttnCustom"
                            (click)="resetModal.show()" style="margin-left: 5px;">
                            <i class="fa fa-refresh"></i> {{'feedback.label.reset' | translate }}</button> -->
                        <button mat-raised-button type="button" color="primary" id="searchbtn" 
                            class="form-control btn btn-md btn-success font-size-s pull-right bttnCustom"
                            (click)="searchApp(searchForm.value)">
                            <i class="fa fa-search"></i> {{'appmngt.setSearch.search' | translate}}</button>
                    </div>
                </div>

            </div>

        </form>
    </div><br>

    <div class="row container">
        <div class="col-md-12">
            <span style="text-align: justify; color: black; font-weight: bold;">PANGGILAN TEMUDUGA JAWATAN KONSTABEL SOKONGAN (LELAKI/WANITA) 
            BAGI TAHUN 2017 (mulai 26/12/2017 sehingga 21/01/2018)</span><br><br>
        </div> 
    </div>

    <div *ngIf="showDetails">
        <div class="row container">
            <div class="col-md-12" style="color: black; font-weight: bold;">
                STATUS PENGAMBILAN JAWATAN PDRM<br>
                <hr class="lineHr" style="border-top: #9c9c9d 2px solid;">
            </div>
        </div>

        <div class="row container">
            <div class="col-md-3" style="color: black;">
                NO. KP BARU
            </div>
            <div class="col-md-9" style="color: black; font-weight: bold;">
                {{kp}}
            </div>
            <div class="col-md-3" style="color: black;">
                NAMA PEMOHON
            </div>
            <div class="col-md-9" style="color: black; font-weight: bold;">
                {{name}}
            </div>
            <div class="col-md-3" style="color: black;">
                TARIKH / MASA
            </div>
            <div class="col-md-9" style="color: black; font-weight: bold;">
                {{date}}
            </div>
            <div class="col-md-3" style="color: black;">
                TEMPAT
            </div>
            <div class="col-md-9" style="color: black; font-weight: bold;">
                {{place}}
            </div>
            <div class="col-md-3" style="color: black;">
                STATUS PANGGILAN
            </div>
            <div class="col-md-9" style="color: black; font-weight: bold;">
                <div *ngIf="status != '-'" (click)="openLink(urlDoc)" style="cursor: pointer;">
                    <i class="fa fa-folder-o"></i>&nbsp;{{status}}<br>
                </div>
                <div *ngIf="status == '-'">
                    {{status}}<br />
                </div>
            </div>

            <!-- <div class="col-md-9" style="color: black; font-weight: bold;">
                {{kp}}<br>
                {{name}}<br>
                {{date}}<br>
                {{place}}<br>
                <div *ngIf="status != '-'" (click)="openLink(urlDoc)" style="cursor: pointer;">
                    <i class="fa fa-folder-o"></i>&nbsp;{{status}}<br>
                </div>
                <div *ngIf="status == '-'">
                    {{status}}<br />
                </div>
            </div> -->
        </div>
    </div><br><br>

    <div *ngIf="showNoData">
        <div class="row container">
            <div class="col-md-12" style="color: black; font-weight: bold; text-align: center;">
                ANDA TIADA PENGAMBILAN JAWATAN PDRM.<br>
            </div>
        </div>
    </div>

</div>
  
  <app-confirm-dialog #resetModal 
      [title]="'common.icon.warn'" 
      [content]="'common.msg.reset'" 
      [state]="'common.state.warn'"
      [isReset]="'true'" 
      (resetMethod)="resetMethod($event)">
  </app-confirm-dialog>
  