<div class="container-fluid animated slideInDown" style="background: #a7a495;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="margin-top: 10px;" class="font-size-l">{{'home.breadcrumb.profile' | translate}}</h1>
        <hr class="hr-custom2">
        <ul class="list-inline" style="clear:both;">
          <li>
            <a class="font-size-s" href="/index/">
                      {{'home.menu.home' | translate }}
                  </a>
          </li>
          <li>/</li>
          <li>
            {{'home.breadcrumb.profile' | translate}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  
  <div class="col-md-3 padding-left-0">
    <br />
      <gosg-sidenav-dashboard></gosg-sidenav-dashboard>
  </div>
  <div class="col-md-9 formbg">
      <span class="pull-right editBtn">
        <button type="button" mat-fab color="warn" (click)="edit()" [ngClass]="{ 'editBtn-active': isActive, 'editBtn': !isActive  }">&nbsp;<i class="fa fa-edit font-size-l"></i></button>
      </span>
      <!-- <p>Status(isActive): {{isActive}}</p> -->
      <!-- <p>Status(isLocal): {{isLocal}}</p>
      <p>Status(isCorrsLocal): {{isCorrsLocal}}</p> -->
      
      <form [formGroup]="profileForm" autocomplete="off" (ngSubmit)="updateProfile(profileForm.value)" role="form" novalidate>
          <div class="col-md-12">
            <input type="hidden" value="" class="rand_no" name="rand_no" id="rand_no">
            <div class="row">
              <div class="form-group col-md-4">
                <label class="font-size-m" for="fullname">{{'profile.label.name' | translate}}</label>
                <div class="staticLabel font-size-m boldText" for="fullname">{{ fullname }}</div>
              </div>
              <div class="form-group col-md-4">
                <label class="font-size-m" for="nationality">{{'profile.label.nationality' | translate}}</label>
                <div class="staticLabel font-size-m boldText" for="nationality">{{countryName?.country.countryName}}</div>
              </div>
              <div class="form-group col-md-4">
                <label *ngIf="isRegLocal" class="font-size-s" for="icnumber">{{'profile.label.icnumber' | translate}}</label>
                <label *ngIf="!isRegLocal" class="font-size-s" for="icnumber">{{'profile.label.passport' | translate}}</label>
                <div class="staticLabel font-size-m boldText" for="icnumber">{{ idno }}</div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <label class="font-size-m" for="dob">{{'profile.label.dateofbirth' | translate}}</label>
                  <mat-form-field class="example-full-width font-size-m" style="margin-top: -25px">
                    <div style="color:#333;" class="font-size-m boldText">{{dt | date:'dd/MM/yyyy' }}</div>
                    <input style="display: none" matInput formControlName="dob" #dob [matDatepicker]="dob" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" [max]="maxDate" />
                    <mat-datepicker-toggle matSuffix [for]="dob" style="color:#333;"></mat-datepicker-toggle>
                    <mat-datepicker [disabled]="initial" #dob></mat-datepicker>
                  </mat-form-field>
                  
              </div>
              <div class="form-group col-md-4">
                <label class="font-size-m" for="email">{{'profile.label.email' | translate}}</label>
                <div>
                  <div class="font-size-m boldText" for="email">{{ regemail }}</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="font-size-l" for="regdate">{{'profile.label.regisdate' | translate}}</label>
                <br />
                <div class="font-size-m boldText" for="regdate">{{ regdate | date:'dd/MM/yyyy' }}</div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width font-size-s">
                  <mat-select tabindex="1" formControlName="gender" placeholder="{{'profile.label.gender' | translate}}" required>
                      <mat-option *ngFor="let gender of genderData" [value]="gender.genderId">{{ gender.gender | translate }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="!validateCtrlChk(gender) && profileForm.controls.gender.errors.required">
                      {{'profile.err.gender' | translate }}
                  </mat-error>
                </mat-form-field>
                <!-- {{ genderData }} -->
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width font-size-s">
                  <mat-select *ngIf="!this.isOtherRace" formControlName="race" placeholder="{{'profile.label.race' | translate}}">
                      <mat-option *ngFor="let race of getRaceData" [value]="race.raceId">{{race.race}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width font-size-s">
                  <mat-select formControlName="religion" placeholder="{{'profile.label.religion' | translate}}">
                      <mat-option *ngFor="let religion of getReligionData" [value]="religion.religionId">{{religion.religion}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12" style="padding-top:15px;">
                <label class="font-size-s" for="perAddress1">{{'profile.label.peraddr' | translate}}</label>
              </div>
              <div class="form-group col-lg-12">
                <mat-form-field class="example-full-width font-size-s">
                  <input matInput formControlName="perAddress1" required type="text" maxlength="30" placeholder="{{ 'profile.label.peraddr' | translate }} 1"
                  />
                  <mat-error *ngIf="!validateCtrlChk(perAddress1) && profileForm.controls.perAddress1.errors.required">
                      {{'profile.err.perAddress1' | translate }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width font-size-s">
                  <input matInput formControlName="perAddress2" type="text" maxlength="30" placeholder="{{ 'profile.label.peraddr' | translate }} 2"
                  />
                </mat-form-field>
                <mat-form-field class="example-full-width font-size-s">
                  <input matInput formControlName="perAddress3" id="perAddress3" type="text" maxlength="30" placeholder="{{ 'profile.label.peraddr' | translate }} 3"
                  />
                </mat-form-field>
              </div>
            </div>
      
            <div class="row">
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width font-size-s">
                  <mat-select formControlName="perCountry" (change)="isMalaysian($event.value)" placeholder="{{'profile.label.country' | translate}} " required>
                    <mat-option *ngFor="let country of countries?.countryList" [value]="country.countryCode">{{country.countryName}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="!validateCtrlChk(perCountry) && profileForm.controls.perCountry.errors.required">
                      {{'profile.err.country' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width font-size-s">
                  <mat-select *ngIf="isLocal" (change)="getCitiesByState($event)" formControlName="perState" placeholder="{{'profile.label.state' | translate}}" required>
                    <mat-option *ngFor="let state of getStateData" [value]="state.stateId">{{ state.stateName }}</mat-option>
                  </mat-select>
                  <input *ngIf="!isLocal" (keyup)="isChanged()" matInput formControlName="perState" type="text" placeholder="{{'profile.label.state' | translate}}" />
                  <mat-error *ngIf="!validateCtrlChk(perState) && profileForm.controls.perState.errors.required">
                      {{'profile.err.state' | translate }}
                  </mat-error>
                </mat-form-field>
                <!-- <em *ngIf="!validateCtrlChk(perState) && profileForm.controls.perState.errors.required">Required</em> -->
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width font-size-s">
                  <mat-select *ngIf="isLocal" (change)="isChanged()" formControlName="perCity" placeholder="{{'profile.label.city' | translate}}" required>
                    <mat-option *ngFor="let city of getPerCityData" [value]="city.cityId">{{ city.cityName }}</mat-option>
                  </mat-select>
                  <input *ngIf="!isLocal" (keyup)="isChanged()" matInput formControlName="perCity" type="text" placeholder="{{'profile.label.city' | translate}}" />
                  <mat-error *ngIf="!validateCtrlChk(perCity) && profileForm.controls.perCity.errors.required">
                      {{'profile.err.city' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width font-size-s" placeholder="{{'profile.label.postcode' | translate}}">
                  <input matInput [textMask]="{mask: maskPostcode}" (keyup)="isChanged()" #perPost formControlName="perPostcode" id="perPostcode" type="text"
                    placeholder="Postcode" required />
                  <mat-error *ngIf="!validateCtrlChk(perPostcode) && profileForm.controls.perPostcode.errors.required">
                      {{'profile.err.postcode' | translate }}
                  </mat-error>
                  <mat-error *ngIf="!validateCtrlChk(perPostcode) && profileForm.controls.perPostcode.errors.pattern">
                    {{'profile.pattern.postcode' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width font-size-s">
                  <input matInput formControlName="perTelephone" (keyup)="isChanged()" [textMask]="{mask: maskForeigner}" id="perTelephone" type="text"
                    placeholder="{{'profile.label.homeph' | translate}}" />
                </mat-form-field>
                <!-- <em *ngIf="!validateCtrlChk(perTelephone) && profileForm.controls.perTelephone.errors.pattern">{{'profile.pattern.tel' | translate }}</em> -->
              </div>
              <div class="form-group col-md-4">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-12" style="padding-top:15px;">
                <label class="font-size-s" for="corrsAddress1">{{'profile.label.corrsaddr' | translate }}&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <mat-checkbox formControlName="checkboxValue" (change)="isChecked($event)"></mat-checkbox>
              </div>
              <div class="form-group col-md-12">
                <mat-form-field class="example-full-width font-size-s">
                  <input (keyup)="isChanged()" matInput formControlName="corrsAddress1" type="text" maxlength="30" placeholder="{{'profile.label.corrsaddr' | translate}} 1"
                  />
                </mat-form-field>
                <mat-form-field class="example-full-width font-size-s">
                  <input (keyup)="isChanged()" matInput formControlName="corrsAddress2" type="text" maxlength="30" placeholder="{{'profile.label.corrsaddr' | translate}} 2"
                  />
                </mat-form-field>
                <mat-form-field class="example-full-width font-size-s">
                  <input (keyup)="isChanged()" matInput formControlName="corrsAddress3" type="text" maxlength="30" placeholder="{{'profile.label.corrsaddr' | translate}} 3"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width font-size-s">
                  <mat-select (change)="isMalaysianChk($event.value)" formControlName="corrsCountry" placeholder="{{'profile.label.country' | translate}}">
                      <mat-option *ngFor="let country of countries?.countryList" [value]="country.countryCode">{{country.countryName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width font-size-s">
                  <mat-select *ngIf="isCorrsLocal" (change)="getCitiesByState($event)" formControlName="corrsState" placeholder="{{'profile.label.state' | translate}}">
                    <mat-option *ngFor="let state of getStateData" [value]="state.stateId">{{ state.stateName }}</mat-option>
                  </mat-select>
                  <input *ngIf="!isCorrsLocal" (change)="isChanged()" matInput formControlName="corrsState" type="text" placeholder="{{'profile.label.state' | translate}}" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width font-size-s">
                  <mat-select *ngIf="isCorrsLocal" (change)="isChanged()" formControlName="corrsCity" placeholder="{{'profile.label.city' | translate}}">
                      <mat-option *ngFor="let city of getCorrsCityData" [value]="city.cityId">{{ city.cityName }}</mat-option>
                  </mat-select>
                  <input *ngIf="!isCorrsLocal" (change)="isChanged()" matInput formControlName="corrsCity" type="text" placeholder="{{'profile.label.city' | translate}}" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width font-size-s">
                  <input matInput (keyup)="isChanged()" #corsPost formControlName="corrsPostcode" [textMask]="{mask: maskPostcode}" type="text"
                    placeholder="{{'profile.label.postcode' | translate}}" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width font-size-s">
                  <input matInput (keyup)="isChanged()" #corshomephone formControlName="corrsTelephone" [textMask]="{mask: maskForeigner}"
                    type="text" placeholder="{{'profile.label.homeph' | translate}}" />
                </mat-form-field>
              </div>
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width font-size-s">
                  <input matInput (keyup)="isChanged()" #corsmobile formControlName="corrsMobile" [textMask]="{mask: maskForeigner}" type="text"
                    placeholder="{{'profile.label.mobile' | translate}}" value="{{ mobileNo }}" />
                </mat-form-field>
              </div>
            </div>
            <div class="form-group" style="float: right;">

                <!-- <button mat-raised-button color="warn" type="button" id="btnreset" class="form-control btn btn-md btn-warning font-size-s"
                style="width: 115px; font-family: Roboto;" (click)="showResetMsg()">
                <i class="fa fa-refresh"></i> {{'feedback.label.reset' | translate }}</button> -->
                <button mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success font-size-s"
                (click)="updateProfile(profileForm.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;"
                [disabled]="profileForm.invalid  || initial">
                <i class="fa fa-check"></i> {{'profile.label.submit' | translate }}</button>
            </div>
          </div>
        
        </form>
  </div>
  
</div>