

input, .form-group {
    color: #000;
}


em{
      float:right; color: #000; padding-left:10px;
  }
/* .error input { background-color: #E3C3C5; }
.error ::-webkit-input-placeholder { color: #999; }
.error ::-moz-placeholder { color: #999; }
.error :-moz-placeholder { color: #999; } 
.error :-ms-input-placeholder { color: #999; }  */


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
margin: 0; 
}

formGroup {
  color: rgb(170, 1, 1)

}

input[type="text"]:disabled {
  /* background: #d1d1d1; */
  /* color: rgb(170, 1, 1) */
}

.example-full-width {
width: 100%;
}

button:disabled{
  background: #a3a3a3
}
.staticLabel{
  text-transform: capitalize;
}
ul{
  list-style:none;
}

.d-inline-block {
  display: inline-block!important;
}

.mat-form-field {
  color: rgb(255, 0, 0);
}

.list-inline{
	margin-top: 25px;
}

.list-inline li a:hover{
	text-decoration:none;
	color:#333;
}

.editBtn{
  position: absolute;
  right: 0px;
  top:-20px;
}

.editBtn-active {
  position: absolute;
  background-color: yellow;
  color: #000;
  right: 0px;
  top:-20px;
}
