

input, .form-group {
    color: #000;
}

em{
      float:right; color: #000; padding-left:10px;
  }
/* .error input { background-color: #E3C3C5; }
.error ::-webkit-input-placeholder { color: #999; }
.error ::-moz-placeholder { color: #999; }
.error :-moz-placeholder { color: #999; } 
.error :-ms-input-placeholder { color: #999; }  */


input[type=number]::-webkit-inner-spin-button:disabled, 
input[type=number]::-webkit-outer-spin-button:disabled { 
  -webkit-appearance: none; 
margin: 0; 
}

input[type=text]::-webkit-input-placeholder,
input[type=text]::-moz-placeholder {
  color: rgba(0,0,0,.42);
}

.mat-select.mat-select-disabled, .mat-select-arrow  {
  color: rgba(0,0,0,.42);
}

formGroup {
  color: rgb(170, 1, 1)

}

.example-full-width {
width: 100%;
}

button:disabled{
  background: #a3a3a3
}
.staticLabel{
  text-transform: capitalize;
}
ul{
  list-style:none;
}

.d-inline-block {
  display: inline-block!important;
}

.mat-form-field {
  color: rgb(255, 0, 0);
}

.list-inline{
	margin-top: 25px;
}

.list-inline li a:hover{
	text-decoration:none;
	color:#333;
}

.editBtn{
  position: absolute;
  right: 0px;
  top:-20px;
}

.editBtn:hover, .editBtn-active:hover {
  position: absolute;
  background-color: yellow;
  color: #000;
  right: 0px;
  top:-20px;
}

.editBtn-active {
  position: absolute;
  background-color: rgb(109, 185, 38);
  color: #FFF;
  right: 0px;
  top:-20px;
}