
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container" *ngFor="let article of articleService.articles">
     <div class="row">
        <div class="col-md-12">
            <h1 style="margin-top: 10px;" class="font-size-l">{{article.categoryName}}</h1>
            <hr class="hr-custom2">
            <ul class="list-inline" style="clear:both;">
                <li>
                    <a class="font-size-s"  routerLink="/">
                        {{'home.menu.home' | translate }}
                    </a>
                </li>
                <li>/</li>
                <li>
                    <div *ngFor="let article of articleService.articles">
                     <div *ngFor="let breadCrum of article.breadcrum; let i = index; let lastItem = last" style="display: inline;">
                       <a *ngIf="breadCrum.breadcrumUrl" href="" [routerLink]="['/'+getModule(breadCrum.breadcrumUrl), getID(breadCrum.breadcrumUrl)]">{{breadCrum.breadcrumName}}</a>
                       <a *ngIf="!breadCrum.breadcrumUrl">{{breadCrum.breadcrumName}}</a>
                       <span>{{lastItem ? '' : '&nbsp;/&nbsp;'}}</span>
                     </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>

<div style="margin-top:10px;" class="container" *ngFor="let article of articleService.articles">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-md-12 sideBarMenu">
                    <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font">
                        {{article.categoryName}}

                    </h4>

                    <mat-accordion>
                            <mat-expansion-panel  *ngFor="let content of article.menuLeft; let i = index" multi="false" displayMode="flat" [hideToggle]="content.subMenuLeft.length==0 ? true: null"  [expanded]="statusID ? (i == statusID) : content?.activeMenu">

                                <mat-expansion-panel-header>
                                  <mat-panel-title  (click)="clickSideMenu(content, i)">
                                    <a class="warna_font sideBarMenu--link font-size-s" [routerLinkActive]="['active']"  [style.font-weight]="content.activeMenu ? 'bold' : 'normal'"  [style.color]="content.activeMenu ? getTheme() : '#333'" >{{content.categoryName}}</a>
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngFor="let subcontent of content.subMenuLeft" class="submenu" >
                                  <div (click)="clickContentFromMenu(content.parentCode, subcontent.contentCode, i)">

                                    <a class="warna_font sideBarMenu--link font-size-s" #subContent [style.font-weight]="subcontent.activeMenu ? 'bold' : 'normal'"  [style.color]="subcontent.activeMenu ? getTheme() : '#333'">
                                    {{subcontent.contentTitle}}
                                    </a>
                                  </div>
                                </div>
                            </mat-expansion-panel>


                            <mat-expansion-panel hideToggle="true" *ngIf="article.template === 'publication'" multi="true" displayMode="flat">
                                <mat-expansion-panel-header>
                                  <mat-panel-title  (click)="clickSideMenuByAgency(content, i)">
                                    <a class="warna_font sideBarMenu--link font-size-s" [style.color]="'#333'" [routerLinkActive]="['active']">{{'common.byagency' | translate}}</a>
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                              </mat-expansion-panel>


                        </mat-accordion>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <div class="col-md-12 warna_font">
              <h2 class="titleWObg font-size-l">
                  {{article.content?.contentTitle}}
              </h2>

              <span *ngIf="article.content?.contentDescription !== '-'" class="font-size-s defaultColor" [innerHTML]="article.content?.contentDescription"></span>

              <div class="padding-top-xl">
                <div class="defaultColor" [innerHTML]="article.content?.contentText"></div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="article.template === 'lifeevent'" class="col-sm-3">
          <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font">{{'common.onlineservice' | translate }}</h4>
          <ul class="rightMenu" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
            <li *ngFor="let rightContent of article.menuRight;">
              <a [href]="rightContent.agencyApplicationUrl" target="_blank">{{rightContent.agencyApplicationName}}</a>
            </li>
          </ul>
        </div>
    </div>

</div>

