<gosg-portal-loader *ngIf="loading"></gosg-portal-loader>
<gosg-protected-loader *ngIf="loading"></gosg-protected-loader>
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container" *ngFor="let article of articleService.articles">
     <div class="row">
        <div class="col-md-12">
            <h1 style="margin-top: 10px;" class="font-size-l">{{article.categoryName}}</h1>
            <hr class="hr-custom2">
            <ul class="list-inline" style="clear:both;">
                <li>
                    <a class="font-size-s"  routerLink="/">
                        {{'home.menu.home' | translate }}
                    </a>
                </li>
                <li>/</li>
                <li>
                    <div *ngFor="let article of articleService.articles">
                     <div *ngFor="let breadCrum of article.breadcrum; let i = index; let lastItem = last" style="display: inline;">
                       <a *ngIf="breadCrum.breadcrumUrl" href="" [routerLink]="['/'+getModule(breadCrum.breadcrumUrl), getID(breadCrum.breadcrumUrl)]">{{breadCrum.breadcrumName}}</a>
                       <a *ngIf="!breadCrum.breadcrumUrl">{{breadCrum.breadcrumName}}</a>
                       <span>{{lastItem ? '' : '&nbsp;/&nbsp;'}}</span>
                     </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>

<div style="margin-top:10px;" class="container" *ngFor="let article of articleService.articles">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-md-12 sideBarMenu">
                    <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font">
                        {{article.categoryName}}

                    </h4>


                    <mat-accordion>
                      <gosg-leftmenu [sessions]="article.menuLeft"  [menuType]="moduleName" [templateName]="article.template"></gosg-leftmenu>
                    </mat-accordion>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <div class="col-md-12 warna_font">
              <h2 class="titleWObg font-size-l">
                  {{article.content?.contentTitle}}
              </h2>

              <span *ngIf="article.content?.contentDescription !== '-'" class="font-size-s defaultColor" [innerHTML]="article.content?.contentDescription"></span>

              <div class="padding-top-xl">
                <div class="defaultColor" [innerHTML]="article.content?.contentText"></div>

              </div>

              <div class="padding-top-xl" style="text-align: right;" *ngIf="article.template === 'eparticipation'">
                  <a [href]="article.content?.contentUrl" target="_blank" class="btn btn-md btn-success">{{'home.readmore'|translate}}</a>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12 warna_font" style="text-align: center;">
                  <form [formGroup]="scoreFormgrp" #scoreForm="ngForm" id="score-form" role="form" novalidate="novalidate">
                    <div class="form-group col-md-12">
                      <div class="radio">
                        <input type="radio" class="like"  formControlName="score" value=1 (click)="getRate(1)">
                        <label><i class="fa fa-smile-o"></i>
                          <span>{{ 'rating.like' | translate }}</span>
                        </label>
                      </div>
                      <div class="radio">
                        <input type="radio" class="neutral" formControlName="score" value=0 (click)="getRate(0)">
                        <label><i class="fa fa-meh-o"></i>
                          <span>{{ 'rating.neutral' | translate }}</span>
                        </label>
                      </div>
                      <div class="radio">
                        <input type="radio" class="dislike" formControlName="score"  value=-1 (click)="getRate(-1)">
                        <label><i class="fa fa-frown-o"></i>
                          <span>{{ 'rating.dislike' | translate }}</span>
                        </label>

                      </div>
                    </div>
                    <div ng-app class="form-group col-md-12" style="padding: 0px 30px;">
                      <mat-form-field class="example-full-width" style="width:100%">
                          <textarea matInput tabindex="5" matTextareaAutosize #fbmsg formControlName="remarks" maxLength="500" placeholder="{{'feedback.label.content' | translate }}"></textarea>
                          <mat-hint align="end">{{fbmsg.value?.length || 0}}/500</mat-hint>
                      </mat-form-field>

                  </div>
                  <div class="form-group col-md-12"  style="text-align: right;">
                    <button tabindex="7" mat-raised-button type="button" color="primary" id="btnsubmit" class="form-control btn btn-md btn-success font-size-s"
                    (click)="submitForm(scoreFormgrp.value)" style="width: 100px; font-family: Roboto; margin-left: 5px;"
                    [disabled]="scoreFormgrp.invalid">
                    <i class="fa fa-check"></i> {{'feedback.label.submit' | translate }}</button>
                  </div>

                  </form>
                </div>
          </div>
        </div>
        <div *ngIf="article.template === 'lifeevent'" class="col-sm-3">
          <h4 class="sideBarMenu--title padding-bottom-l font-size-m warna_font">{{'common.onlineservice' | translate }}</h4>
          <ul class="rightMenu" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'">
            <li *ngFor="let rightContent of article.menuRight;">
              <a [href]="rightContent.agencyApplicationUrl" (click)="appTracking(rightContent.agencyApplicationCode)" target="_blank">{{rightContent.agencyApplicationName}}</a>
            </li>
          </ul>
        </div>
    </div>

</div>

