<gosg-protected-loader *ngIf="loading"></gosg-protected-loader>
<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 style="margin-top: 10px;" class="font-size-l">{{'home.breadcrumb.dashboard' | translate}}</h1>
          <hr class="hr-custom2">
          <ul class="list-inline" style="clear:both;">
            <li>
              <a class="font-size-s" routerLink="/">
                        {{'home.menu.home' | translate }}
                    </a>
            </li>
            <li>/</li>
            <li>
              {{'home.breadcrumb.dashboard' | translate}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    <div class="col-md-12">&nbsp;</div>

    <!-- Menu for large screen -->
    <div class="col-md-3 padding-left-0 dashboard_l_menu">
        <gosg-sidenav-dashboard></gosg-sidenav-dashboard>
    </div>

    <!-- Menu for small screen -->
    <div class="col-md-3 padding-left-0 dashboard_s_menu">
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <mat-select name="menuDash" id="menuDash" value=1>
            <mat-option value="1"><i class="fa fa-dashboard"></i> {{ 'dashboard.sidenav.dashboard' | translate }}</mat-option>
            <mat-option value="2"><i class="fa fa-user"></i> {{ 'dashboard.sidenav.profile' | translate }}</mat-option>
            <mat-option value="3"><i class="fa fa-envelope"></i> {{ 'dashboard.sidenav.inbox' | translate }}</mat-option>
            <mat-option value="4"><i class="fa fa-file"></i> {{ 'dashboard.sidenav.appmgmt' | translate }}</mat-option>
            <mat-option value="5"><i class="fa fa-building"></i> {{ 'dashboard.sidenav.companyprofile' | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-3 padding-5">
            <mat-card class="card">
              <h4 class="title-card">{{'dashboard.card.total' | translate}}</h4>
              <div class="col-md-4" style="padding-top: 5px;">
                <span class="dot" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'"style="padding-left: 15px; padding-top: 15px;">
                  <i class="fa fa-area-chart iconColor"></i></span>
              </div>
              <div class="col-md-8">
                <h1 [style.font-family]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="noCard">{{totalApp}}</h1>
              </div>
            </mat-card>
        </div>
        <div class="col-md-3 padding-5">
            <mat-card class="card">
              <h4 class="title-card">{{'dashboard.card.process' | translate}}</h4>
              <div class="col-md-4" style="padding-top: 5px;">
                  <span class="dot" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" style="padding-left: 15px; padding-top: 15px;">
                    <i class="fa fa-spinner iconColor"></i></span>
              </div>
              <div class="col-md-8">
                <h1 [style.font-family]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="noCard">{{inProgress}}</h1>
              </div>
            </mat-card>
        </div>
        <div class="col-md-3 padding-5">
            <mat-card class="card">
              <h4 class="title-card">{{'dashboard.card.approved' | translate}}</h4>
              <div class="col-md-4" style="padding-top: 5px;">
                <span class="dot" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" style="padding-left: 16px; padding-top: 15px;">
                  <i class="fa fa-thumbs-up iconColor"></i></span>
              </div>
              <div class="col-md-8">
                <h1 [style.font-family]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="noCard">{{approved}}</h1>
              </div>
            </mat-card>
        </div>
        <div class="col-md-3 padding-5">
            <mat-card class="card">
              <h4 class="title-card">{{'dashboard.card.rejected' | translate}}</h4>
              <div class="col-md-4" style="padding-top: 5px;">
                <span class="dot" [style.background-color]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" style="padding-left: 14px; padding-top: 15px;">&nbsp;
                  <i class="fa fa-times iconColor"></i></span>
              </div>
              <div class="col-md-8">
                <h1 [style.font-family]="getTheme() ? getTheme() : 'rgb(0, 189, 187)'" class="noCard">{{rejected}}</h1>
              </div>
            </mat-card>
        </div>
      </div>
    </div>
</div>


