<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 style="margin-top: 10px;" class="font-size-l">{{'home.breadcrumb.profile' | translate}}</h1>
          <hr class="hr-custom2">
          <ul class="list-inline" style="clear:both;">
            <li>
              <a class="font-size-s" href="/portal/">
                        {{'home.menu.home' | translate }}
                    </a>
            </li>
            <li>/</li>
            <li>
              {{'home.breadcrumb.profile' | translate}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    <div class="col-md-3 padding-left-0">
        <gosg-sidenav-dashboard></gosg-sidenav-dashboard>
    </div>
    <div class="col-md-9">
  <h1>dashboard works!</h1>
    </div>
</div>
  

