<div class="container-fluid animated slideInDown" style="background: #a7a495;">
    <div class="container">
         <div class="row">
            <div class="col-md-12">
                <h1 style="margin-top: 10px;" class="font-size-l"> {{ 'home.menu.summonStatus' | translate }}</h1>
                <hr class="hr-custom2"><br>
                <ul class="list-inline" style="clear:both;">
                    <li>
                        <a class="font-size-s" style="color: #fff;" routerLink="/">
                            {{'home.menu.home' | translate }}
                        </a>
                    </li>
                    <li>/</li>
                    <li>
                        <a class="font-size-s" routerLink="/digitalservices">
                            {{'home.menu.digitalsvc' | translate }}
                        </a>
                    </li>
                    <li>/</li>
                    <li>
                        {{ 'home.menu.summonStatus' | translate }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
  
<div class="container ds-style">
    <div class="row container">
        <br>
        <form [formGroup]="searchForm" #adSearchForm="ngForm" id="adSearch-form" role="form" novalidate="novalidate">

            <div class="example-container mat-elevation-z8 padding-right20" >

                
                <div class="row padding-15">

                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select formControlName="optSelect" placeholder="" (change)="getSelection($event)">
                                <mat-option [value]=0>NO. KAD PENGENALAN</mat-option>
                                <mat-option [value]=1>NO. KENDERAAN</mat-option>                   
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3" *ngIf="varSelect==0">
                        <mat-form-field>
                            <input matInput placeholder="No. Kad Pengenalan" formControlName="ic" (keyup)="checkReqValues()"
                            (keydown)="isNumber($event)" maxlength="12" required tabindex="2" style="color: black">
                            <mat-error *ngIf="searchForm.controls.ic.hasError('required')">
                                No. Kad Pengenalan diperlukan.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3" *ngIf="varSelect==1">
                        <mat-form-field>
                            <input matInput placeholder="No. Kenderaan" formControlName="noCar" (keyup)="checkReqValues()"
                            required tabindex="3"  style="color: black">
                            <mat-error *ngIf="searchForm.controls.noCar.hasError('required')">
                                No. kenderaan diperlukan.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <button *ngIf="varSelect==1" tabindex="" mat-raised-button color="warn" type="button" id="btnreset" 
                            class="form-control btn btn-md btn-warning font-size-s pull-right bttnCustom"
                            (click)="resetModal.show()" style="margin-left: 5px;">
                            <i class="fa fa-refresh"></i> {{'feedback.label.reset' | translate }}</button>
                        <button mat-raised-button type="button" color="primary" id="searchbtn" 
                            class="form-control btn btn-md btn-success font-size-s pull-right bttnCustom" [disabled]="!complete"
                            (click)="searchApp(searchForm.value)">
                            <i class="fa fa-search"></i> {{'appmngt.setSearch.search' | translate}}</button>
                    </div>
                </div>

            </div>

        </form>
    </div><br>
  
    <div *ngIf="showDetails">
        <div class="row container">
            <div class="col-md-12" style="color: black; font-weight: bold;">
                STATUS SAMAN TRAFIK PDRM<br>
                <hr class="lineHr" style="border-top: #9c9c9d 2px solid;">
            </div>
        </div>

        <!-- <div class="row container">
            <div class="col-md-3" style="color: black">
                No. Kad Pengenalan Baru<br>
                Nama<br>
                Jumlah Saman<br>
                Jumlah Amaun (RM)
            </div>

            <div class="col-md-9" style="color: black; font-weight: bold;">
                {{kp}}<br>
                {{name}}<br>
                {{summon}}<br>
                {{ammount}}
            </div>
        </div>  -->

        <div class="row container" style="padding-left: 30px;">
            <table class="mat-table" style="width:100%; z-index: 9999;">
                <tr class="mat-header-row" style="height:45px; font-weight: bold;">
                    <th width="5%" class="mat-header-cell text-center">{{'appmngt.tableHeader.num' | translate}}</th>
                    <th width="15%" class="mat-header-cell">No. Kenderaan</th>
                    <th class="mat-header-cell">No. Saman</th>
                    <th width="15%" class="mat-header-cell text-center">Tarikh & Masa Kesalahan</th>
                    <th width="15%" class="mat-header-cell">Tempat Kesalahan</th>
                    <th width="10%" class="mat-header-cell text-right">Amaun (RM)</th>
                    <th width="10%" class="mat-header-cell text-center">Imej</th>
                </tr>
                <tr class="mat-row" *ngFor="let data of dataSummons.summonDetails; let i = index;" role="row">
                    <td class="mat-cell text-center">{{i+1}}</td>
                    <td class="mat-cell">{{data.vehicle_registration_number}}</td>
                    <td class="mat-cell">{{data.summons_id_key}}</td>
                    <td class="mat-cell text-center">{{data.offence_date}} & {{data.offence_time}}</td>
                    <td class="mat-cell">{{data.offence_location}}</td>
                    <td class="mat-cell text-right">{{data.summons_amt}}</td>
                    <td class="mat-cell text-center">-</td>
                </tr>
                <tr *ngIf="showNoData">
                    <td colspan="8" class="showData">
                    <hr><br>{{'common.showNoData' | translate}}</td>
                </tr>
            </table>
                  
        </div>
    </div>
  
    <div *ngIf="!dataSummons">
        <div class="row container">
            <div class="col-md-12" style="color: black; font-weight: bold; text-align: center;">
                ANDA TIADA SAMAN TRAFIK.<br>
            </div>
        </div>
    </div>
</div>
  
<app-confirm-dialog #resetModal 
    [title]="'common.icon.warn'" 
    [content]="'common.msg.reset'" 
    [state]="'common.state.warn'"
    [isReset]="'true'" 
    (resetMethod)="resetMethod($event)">
</app-confirm-dialog>
  