<div class="container" *ngIf="loginfirst" style="margin-top: 10%;">
  <div class="text-center"><img src="assets/images/logo_ms.jpg"></div>
  <div class="text-center" style="color: #000;">
      <h2>Selamat Datang ke portal MyGovernment</h2> 
      <p>
        Segalanya bermula disini, Maklumat, Transaksi dan Urusan Kerajaan dalam satu gerbang tunggal.
      </p> 
      <div style="margin-top: 2%;">
        <button class="btn btn-md btn-success" (click)="getConfirmation()">
          Klik di sini
        </button>
        
      </div>
  </div>
  <hr>
  <div class="bar">
    <div class="in"></div>
  </div>
  <div class="text-center"><img src="assets/images/logo_en.jpg" style="margin-top: 3%;"></div>
  <div class="text-center" style="color: #000;">
      <h2>Welcome to MyGovernment portal</h2> 
      <p>
        Everything starts here, Information, Transactions and Government Services in one gateway.
      </p> 
      <div style="margin-top: 2%;">
        <button class="btn btn-md btn-success" (click)="getConfirmation()">
          Click here
        </button>
      </div>
  </div>
  
</div>