.bar {
    border: 1px solid #5cb85c;
    height: 8px;
    width: 100%;
    position: relative;
    margin: 14px auto;
  }
  .bar .in {
    -webkit-animation: fill 5s linear 1;
    -moz-animation: fill 5s linear 1;
    -o-animation: fill 5s linear 1;
    animation: fill 5s linear 1;
    height: 100%;
    background-color: #5cb85c;
  }

  hr{
      margin-bottom:5px;
  }
  
  @keyframes fill {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }