.bar {
    border: 1px solid #e6436e;
    height: 10px;
    width: 99px;
    position: relative;
    margin: 0 auto;
  }
  .bar .in {
    -webkit-animation: fill 5s linear 1;
    -moz-animation: fill 5s linear 1;
    -o-animation: fill 5s linear 1;
    animation: fill 5s linear 1;
    height: 100%;
    background-color: #e6436e;
  }
  
  @keyframes fill {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }