@import "~ng2f-bootstrap/dist/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.owl-theme .owl-dots{
    bottom: 0px;
    position: absolute !important;
    width: 100%;
}

em{
  float:right; color: #E05C65; padding-left:10px;
}
/* .error input{ background-color: #E3C3C5; }
.error select { background: #E3C3C5 !important; }
.error textarea { background: #E3C3C5 !important; }
.error ::-webkit-input-placeholder { color: #999; }
.error ::-moz-placeholder { color: #999; }
.error :-moz-placeholder { color: #999; } 
.error :-ms-input-placeholder { color: #999; }  */



.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background-color: #5bc0de;
}


.mat-fab.mat-warn, .mat-mini-fab.mat-warn, .mat-raised-button.mat-warn {
  background-color: #d9534f;
}


.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #5cb85c;
}


.owl-stage-outer{
        height: 300px;
}

.list-inline a{
    color: #fff;
}

/* below style added by sri */
.font-size-l, .font-size-m, .font-size-s, .font-size-xl, .font-size-xxl {
  font-weight: 500; }

.font-size-s {
  font-size: 14px; }

.font-size-m {
  font-size: 18px; }

.font-size-l {
  font-size: 24px; }

.font-size-xl {
  font-size: 38px; }

.font-size-xxl {
  font-size: 52px; }

.themeColor {
  background: #00bdbb; }

.search_header {
  font-weight: 100;
  margin: 0px;
  padding: 18px 0px; }

#themeContainer {
  bottom: 5px; }

body {
  background-color: #fff;
}

html, body{
  height: 100%;
}

.container.search {
  color: #333; }

.panel-body {
  color: #fff; }

.ngui-auto-complete > ul li {
  padding: 2px 18px !important;
  border-bottom: none !important;
  text-align: left;
  color: #333;
  font-size: 20px; }

    app-footer{
        background: #666666;
        z-index: 9999999;
        display: block;
    }
        .primary {
            background-color: #1ebebc;
            color: #fff;
        }
        .icon-social {
            position: inherit;
            display: inline-block;
            z-index: 1;
            background-color: #ffffff;
            font-size: 1em;
            color: #1ebebc;
            width: 29px;
            height: 28px;

            text-align: center;
            margin: 0;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -o-border-radius: 50%;
            transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
        }
        
        .social_icon_bg {
            font-size: 20px;
            color: white;
            cursor: pointer;
        }
        .copyright {
            background-color: #333;
            color: #fff;
        }
        .padding-m{
            padding: 10px;
        }
        .hr-custom2 {
          margin-top: -5px;
          margin-bottom: 0px;
          border: 0;
          border-top: 3px solid #918c79;
          width: 8%;
          float: left;
        }
        

        gosg-sidenav-dashboard{
          background:#ddd;
          display: block;
          padding: 0px;
        }

        .padding-left-0{
          padding-left: 0px;
        }

        .padding-right-0{
          padding-right: 0px;
        }

        .formbg{    
          border: 1px solid #dedede;
          border-radius: 5px;
          background: #fff;
          background-color: #eeeeee;	
          color: #000;
          padding: 13px 10px;
          margin-top: 15px;
          margin-bottom: 5%;
          box-shadow: #eeeeee 0px 0px 10px 0px;
        
          
        }
        
        .table_row{
          border-bottom-width: 1px;
          border-bottom-style: solid;
          align-items: center;
          min-height: 48px;
          padding: 0 24px;
          border-bottom-color: rgba(0,0,0,.12);
        }

        .formbg label{
          color : rgb(0, 0, 0);
          font-size: 15px;
          /* font-weight: normal; */
        }
        

        .boldText{
          font-weight: bold;
        }

        .mat-dialog-container{
          padding: 0 0 10px 0 !important;
        }

        .mat-dialog-container app-confirm-dialog p:nth-child(1){
          padding:10px;
        }
        .mat-dialog-container app-confirm-dialog p:nth-child(2){
          padding:10px;
        }

        .mat-dialog-container app-confirm-dialog button:nth-child(1){
          padding-left:10px;
        }
        
        .mat-dialog-container app-confirm-dialog button:nth-child(2){
          padding-right:10px;
        }

        .modal-dialog{
          margin-top: 10%;
        }

        .bg_header{
          height: 55px;
          border: none;
          border-radius: 0;
          padding: 6px;
          width: 100%;
        }

        .bg_success_header{
          color: #155724;
          background-color: #d4edda;
        }

        .bg_success_header .close, .bg_error_header .close, .bg_info_header .close, bg_warning_header .close {
          margin-top: -2px;
          color: #000;
        }

        .bg_error_header{
          color: #721c24;
          background-color: #f8d7da;
        }

        .bg_info_header{
          color: #0c5460;
          background-color: #d1ecf1;
        }

        .bg_warn_header{
          color: #721c24;
          background-color: #f8d7da;
        }

        .modal-body{
          background: #fff;
          color: #000;
          text-align: center;
          font-size: 17px;
        }

      .navbar {
          box-shadow: #757575 0px 10px 40px -5px;
      }


      
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100001;
  top: 0;
  right: 0;
  background-color: #041716;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
}

.sidenav a {
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 16px;
  text-align: left;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  border-left: 2px solid;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 30px;
  margin-left: 50px;
}

.sidenav .closebtn:hover{
  border:none;
}

.fa.fa-refresh:hover, .fa.fa-times:hover {  
  transform: rotate(180deg);
}
.fa.fa-refresh, .fa.fa-times {
  transition: transform 0.5s ease 0s;
}

.sidenav ul{
  list-style: none;
  padding: 0px;
}

.sidenav ul li a.topactive{
  color: #fff;
  font-weight: bold;
  border-left: 2px solid;
}


.sidenav ul li .sub-menu{
  opacity: 0;
  overflow: hidden;
  height: 0;
}

.sidenav ul li .open + ul.sub-menu {
   opacity: 1;
   height: 100%;
}


.mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color: rgb(129, 129, 129) !important;
}

.mat-expansion-panel-body {
  margin: 0 10px 0px !important; 
  overflow: auto;
}


@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}


/* below style added by redza */
/* CALENDAR STYLES */
.fc-day-grid-event {
  margin-top: 2px;
  padding: 5px;
}

.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-helper-skeleton td {
  background: 0 0;
  border-color: transparent;
  cursor: pointer;
}

.fc-icon, .fc-toolbar .fc-center {
    display: inline-block;
    margin-left: -10%;
}

.fc-center h2 {
  color: #666666;
}

table a:not(.btn), .table a:not(.btn) {
    color: #fff;
    text-decoration: none;
}
.paddingTop-15 {
  padding-top: 15px;
}
.float-right{
  float: right;
}
.padding-20 {
  padding:  20px !important;
}

a.appUrl{
  color: #000 !important;
}
a.appUrl:hover, a.appUrl:focus {
  text-decoration: none;
  color: #00bdbb;
}

/* Calendar */
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: right;
  color: #000;
}

.fc-unthemed, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
  border-color: #ddd;
  color: #333;
}

/* .fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
  border-color: #ddd;
  color: #333;
} */

.text-align-Center {
  text-align: center !important;
}
    
.padding-20 {
  padding:  20px !important;
}
span.highlightWord {
  font-weight: bold !important;
}

.border-on {
  border: 1px solid #000;
}

.card{
  min-height: 150px;
  /* text-align: center; */
  border-radius: 15px !important;
  background: darkgrey !important;
  padding-top: 20px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.padding-5{
  padding: 5px;
}

.title-card{
  min-height: 40px !important;
  background: white;
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
}

.dot {
  height: 65px;
  width: 65px;
  /* background-color: #1ebebc; */
  border-radius: 50%;
  display: inline-block;
}

.noCard{
  /* cursor:pointer;  */
  font-weight: bold;
  text-align: center;
}

.iconColor{
  color: #ebebeb;
  font-size: 30px;
}

.showData{
  color: black;
  text-align: center;
  font-size: 15px;
}

.bttnCustom{
  width: auto; 
  height: 35px; 
  font-family: Roboto; 
}

em {
  float: none;
  color: #333;
  padding-left: 0px;
}