<div class="container" style="padding: 40px 20px 20px 20px" splwpk-client-charter="splwpk-client-charter">
    <div class="row">
        <sidenavbottom></sidenavbottom>
        <div class="article-size warna_font col-md-6" style="color: rgb(51, 51, 51);">
            <div class="row col-md-12 article-size warna_font font-size-s" style="font-family: Roboto; color: rgb(51, 51, 51);">
                <h4 class="font-size-m" style="font-family: Roboto;">Piagam Pelanggan</h4>
                <span class="article-size warna_font font-size-s article-highlight" style="text-align: justify; font-family: Roboto; color: rgb(51, 51, 51);">
                <ol class="oList">
                    <li>Memastikan Gerbang Perkhidmatan Awam dapat dicapai 24x7.</li>
                    <li>Memastikan semua pertanyaan dijawab dalam tempoh 3 hari bekerja.</li>
                </ol>
                <p><a href="https://www.malaysia.gov.my/private/cms//../public/cms/client_charter/report_2/2017" target="_blank">PENCAPAIAN PIAGAM PELANGGAN 2017</a></p>
                </span>
            </div>
        </div>
        <div id="menu_article_2"></div>
    </div>
</div>
