<div class="container" style="padding: 40px 20px 20px 20px">
    <div class="row">
        <sidenavbottom></sidenavbottom>
        <div class="article-size warna_font col-md-6" style="color: rgb(51, 51, 51);" splwpk-privacy-policy="splwpk-privacy-policy">
            <div class="row col-md-12 article-size warna_font font-size-s" style="font-family: Roboto; color: rgb(51, 51, 51);">
                <h4 class="font-size-m" style="font-family: Roboto;">Dasar Privasi</h4>
                <span class="article-size warna_font font-size-s article-highlight" style="text-align: justify; font-family: Roboto; color: rgb(51, 51, 51);">
                    <h4>PRIVASI ANDA</h4>
                    <p>Muka surat ini menerangkan dasar privasi kami termasuklah kegunaan dan perlindungan daripada semua maklumat yang dimasukkan oleh pelawat. Jika anda memilih untuk mendaftar dan berurus niaga dengan menggunakan Gerbang kami ataupun menghantar emel yang mengandungi data-data peribadi, data-data ini mungkin akan dikongsikan bersama-sama dengan agensi Kerajaan yang lain dalam usaha untuk membantu anda secepat dan secekap yang mungkin. Sebagai contoh, untuk menyelesaikan atau merekodkan aduan yang memerlukan ianya disalurkan kepada agensi Kerajaan yang lain.</p>
                    <h4>COOKIES</h4>
                    <p>Sesetengah laman web (termasuklah gerbang kami) menghasilkan ‘cookies', yang dikumpulkan oleh pelayan laman web bagi membolehkan ianya mengenali anda untuk kunjungan yang berikutnya. ‘Cookies' ini tidak menyimpan data-data anda secara kekal dan ianya juga tidak disimpan di dalam cakera keras komputer anda. ‘Cookies' akan dipadamkan sebaik sahaja anda menutup pelayar anda</p>
                    <h4>MAKLUMAT LOG</h4>
                    <p>Apabila anda mengekses gerbang MyGovernment, pelayan web kami akan secara automatik merekod maklumat yang dihantar oleh pelayar setiap kali anda melayari satu-satu laman web. Log pelayan ini termasuklah maklumat seperti permintaan web, alamat Protokol Internet, jenis pelayar, bahasa pelayar, tarikh dan masa permintaan anda dan satu atau lebih ‘cookies' yang secara uniknya mengenalpasti pelayar anda.</p>
                    <h4>PERLINDUNGAN DATA</h4>
                    <p>Teknologi terkini termasuklah perisian enkripsi digunakan untuk melindungi apa jua data yang diberikan kepada kami dan standard keselamatan yang ketat juga dikekalkan untuk mengelakkan sebarang akses yang tidak dibenarkan.</p>
                    <h4>MAKLUMAT TERKUMPUL</h4>
                    <p>Tiada sebarang maklumat peribadi anda disimpan semasa anda melayari gerbang MyGovernment kecuali maklumat yang diberikan kepada anda melalui emel, di mana ianya adalah di bahagian Gerbang yang dijamin selamat</p>
                    <h4>PERTUKARAN POLISI</h4>
                    <p>Jika terdapat sebarang pertukaran pada dasar privasi, ianya akan dikemaskinikan di laman web ini. Pastikan anda sentiasa melayari bahagian dasar privasi bagi memastikan anda sentiasa tahu tentang maklumat mana yang disimpan, bagaimana dan bila ianya digunakan dan jika ada, adakah ianya dikongsikan bersama pihak lain.</p>
                </span>
            </div>
        </div>
        <div id="menu_article_2"></div>
    </div>
</div>
