<div class="container" style="padding: 40px 20px 20px 20px">
    <div class="row">
        <sidenavbottom></sidenavbottom>
        <div class="article-size warna_font col-md-6" style="color: rgb(51, 51, 51);">
            <div class="row col-md-12 article-size warna_font font-size-s" style="font-family: Roboto; color: rgb(51, 51, 51);">
                <h4 class="font-size-m" style="font-family: Roboto;">Dasar Keselamatan</h4>
                <span class="article-size warna_font font-size-s article-highlight" style="text-align: justify; font-family: Roboto; color: rgb(51, 51, 51);">
                    <ul class="uoList">
                        <li>Pelawat yang ingin menggunakan kemudahan seperti maklumbalas dengan pengemaskinian Gerbang MyGovernment perlu mendaftar bagi tujuan keselamatan untuk mengelakkan insiden-insiden yang tidak diingini.</li>
                        <li>Pelawat bertanggungjawab sepenuhnya terhadap sebarang maklumat yang diberikan kepada Gerbang MyGovernment.</li>
                        <li>Pelawat harus memastikan sebarang fail yang dikepilkan bersama (jika ada) adalah bebas daripada sebarang pepijat.</li>
                        <li>Laman web kerajaan dan agensi swasta yang memerlukan pautan ke Gerbang MyGovernment mestilah mendapatkan kelulusan daripada Kerajaan Malaysia.</li>
                        <li>Memecah masuk atau cubaan menggodam Gerbang MyGovernment adalah dilarang sama sekali. Alamat emel anda merupakan Nama Penggguna anda. Sila ingat alamat emel yang telah anda gunakan sewaktu mendaftar. Sebagai penggguna baru, langkah pertama yang harus anda lakukan sebelum mengakses kepada gerbang MyGovernment adalah daftar. Sila klik pada pautan daftar yang terdapat pada ruangan atas sebelah kanan gerbang.</li>
                    </ul>
                </span>
            </div>
        </div>
        <div id="menu_article_2"></div>
    </div>
</div>