<span id="menu_article">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="sideBarMenu--title padding-bottom-s warna_font font-size-m" style="font-family: Roboto; color: rgb(51, 51, 51);">
                        <a class="sideBarMenu--title warna_font font-size-m" href="https://www.malaysia.gov.my/public/cms/topic/62/" style="font-family: Roboto; color: rgb(51, 51, 51);">Pautan Asas<i class="fa fa-link"></i></a>
                    </h4>
                    <ul class="menu_left_article" style="list-style:none;">
                        <li>
                            <div class="col-xs-12 col-md-12 col-sm-12 padding-bottom-l">
                                <a class="warna_font sideBarMenu--link font-size-s" style="font-weight: 600; font-family: Roboto; color: rgb(51, 51, 51);" href="">
                                    <span>{{ 'common.privacypolicy' | translate }}</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12 col-md-12 col-sm-12 padding-bottom-l">
                                <a class="warna_font sideBarMenu--link font-size-s" style="font-weight: 600; font-family: Roboto; color: rgb(51, 51, 51);" href="">
                                    <span>{{ 'common.help' | translate }}</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12 col-md-12 col-sm-12 padding-bottom-l">
                                <a class="warna_font sideBarMenu--link font-size-s" style="font-weight: 600; font-family: Roboto; color: rgb(51, 51, 51);" href="">
                                    <span>{{ 'common.disclaimer' | translate }}</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12 col-md-12 col-sm-12 padding-bottom-l">
                                <a class="warna_font sideBarMenu--link font-size-s" style="font-weight: 600; font-family: Roboto; color: rgb(51, 51, 51);" href="">
                                    <span>{{ 'common.copyrightnotice' | translate }}</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12 col-md-12 col-sm-12 padding-bottom-l">
                                <a class="warna_font sideBarMenu--link font-size-s" style="font-weight: 600; font-family: Roboto; color: rgb(51, 51, 51);" href="">
                                    <span>{{ 'common.securitypolicy' | translate }}</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-12 col-md-12 col-sm-12 padding-bottom-l">
                                <div class="side_active">
                                    <a class="warna_font sideBarMenu--link font-size-s" style="font-weight: 600; font-family: Roboto; color: rgb(51, 51, 51);" href="/clientcharter">
                                        <span style="color: rgb(0, 189, 187);">{{ 'common.clientcharter' | translate }}</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function(){
                $(".side_active").parent().parent('ul').addClass('in');
            })
        </script>
    </span>